.footer__section {
    width: 100%;
    height: auto;
    border-radius: 40px 40px 0 0;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .header__section-wrapper {
        padding-bottom: 167px;
    }
}