@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
	src: url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
	src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: normal;
	src: url("../fonts/OpenSans-Bold.woff") format("woff");
}






