

.bar {
    width: 600px;
    height: 600px;
    position: relative;
}

.bar__wrapper {
    width: 100%;
    height: 100%;
    background-image: url(../img/bar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &.active__animate {
        animation: bar-rotate 8s ease-in-out;
    }
    
    &.active {
        transform: rotate(112deg);
    }
} 

.bar__text {
    font-weight: 700;
    font-size: 54px;
    line-height: 1.3;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
}

.bar__text-1 {
    bottom: 175px;
    left: 30px;
    transform: rotate(-113deg);
}

.bar__text-2 {
    top: 175px;
    left: 30px;
    transform: rotate(-68deg);
}

.bar__text-3 {
    top: 45px;
    left: 155px;
    transform: rotate(-23deg);
}

.bar__text-4 {
    top: 45px;
    right: 155px;
    transform: rotate(23deg);
}

.bar__text-5 {
    top: 175px;
    right: 30px;
    transform: rotate(68deg);
}

.bar__text-6 {
    bottom: 175px;
    right: 30px;
    transform: rotate(113deg);
}

.bar__text-7 {
    bottom: 45px;
    right: 155px;
    transform: rotate(157deg);
}

.bar__text-8 {
    bottom: 45px;
    left: 155px;
    transform: rotate(-157deg);
}

@keyframes bar-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1192deg)
    }
}

.bar__btn-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: #C4C4C4;

    &:before {
        content: "";
        width: 40px;
        height: 80px;
        position: absolute;
        top: -76px;
        left: 50%;
        transform: translateX(-50%);
        border: 20px solid transparent;
        border-bottom: 40px solid #C4C4C4;
        box-sizing: border-box;
    }
}

.bar__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: #FF3D00;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        background: #DB00FF;
    }
}