.header {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
        content: "";
        width: 100%;
        height: 300px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    }

    &:after {
        content: "";
        width: 1556px;
        height: 318px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/header-bg-line.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.header__wrapper {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    padding: 30px 0 70px;
}

.header__smile {
    position: absolute;
    top: 95px;
    left: -200px;
}

.floating {
    animation-duration: 3s;
}

.header__content {
    width: 778px;
    height: auto;
}

.header__logo {
    margin-bottom: 90px;
}

.header__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 1.46;
    text-transform: uppercase;
    color: #00235D;
    margin-bottom: 30px;
}

.header__subtitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    color: #00235D;
    margin-bottom: 40px;
}

.header__info-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}

.header__info-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.header__info-1 {
    width: 345px;
    margin-right: 30px;
}

.header__info-2 {
    width: 280px;
}

.header__info-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.header__info-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #FFFFFF;
    border: 2px solid #1885EA;
    box-shadow: inset 0px 4px 10px rgba(24, 133, 234, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
}

.header__info-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    color: #1885EA;
}

.header__order-btn {
    width: 450px;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 3px;
    z-index: 1;
    transition: 0.3s ease;

    div {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
        line-height: 1;
        color: #FFFFFF;
        transition: 0.3s ease;
        background: linear-gradient(180deg, #FF2E00 0%, #FFE600 100%);
    }

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s ease;
        background: linear-gradient(0deg, #FF2E00 0%, #FFE600 100%);
        z-index: -1;
    }

    &:hover {
        // div {
        //     background: linear-gradient(0deg, #FF2E00 0%, #FFE600 100%);
        // }

        // &:before {
        //     background: linear-gradient(180deg, #FF2E00 0%, #FFE600 100%);
        // }
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.5);
    }
}

.header__line {
    width: 100%;
    height: 80px;
    background: #1885EA;
    margin-bottom: 100px;
    position: relative;
    z-index: 5;

    &:before {
        content: "";
        width: 37%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #18B9EA 0%, rgba(24, 185, 234, 0) 100%);
    }

    &:after {
        content: "";
        width: 37%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(270deg, #18B9EA 0%, rgba(24, 185, 234, 0) 100%);
    }
    
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;   
    }
}

.header__advantage-circle-1 {
    display: none;
}

.header__advantage-circle-2 {
    display: none;
}

.header__line-mobile {
    display: none;
}

.header__date {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    color: #FFFFFF;
    position: relative;
    z-index: 1;

    span {
        color: #FFB800; 
    }
}

.header__prod {
    position: absolute;
    bottom: 0;
    right: 290px;
    z-index: 1;
    width: 434px;
}

.header__girl {
    position: absolute;
    bottom: 0;
    right: -175px;
    z-index: 1;
}

.header__advantage-block {
    width: 100%;
    height: auto;
}

.header__advantages {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__advantage {
    width: 285px;
    height: 280px;
    padding: 55px 20px 20px;
    background: linear-gradient(180deg, #1885EA 0%, #18B9EA 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header__advantage-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #FFFFFF;
    border: 2px solid #1885EA;
    box-shadow: inset 0px 4px 10px rgba(24, 133, 234, 0.5);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__advantage-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: #FFFFFF;

    span {
        font-size: 16px;
    }
}