.info {
    width: 100%;
    height: auto;
}

.info__wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.info__smile-1 {
    position: absolute;
    top: 20px;
    left: -230px;
}

.info__smile-2 {
    position: absolute;
    top: -10px;
    right: -80px;

    animation-delay: 1.5s;
}

.info__circle {
    right: -700px;
    bottom: -200px;
    z-index: -1;
}

.info__circle-2 {
    display: none;
}

.info__circle-3 {
    display: none;
}

.info__section-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #00235D;
    margin: auto;
    margin-bottom: 50px;
    width: 100%;
    max-width: 950px;
}

.info__section-block {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info__section-list {
    width: 730px;
    height: auto;
    position: relative;

    &:before {
        content: "";
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -105px;
        background: linear-gradient(180deg, #0ABC5C 10%, #2EF696 100%);
        border-radius: 3px;
    }
}

.info__list-item {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.info__list-wrapper {
    width: 200px;
    height: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 30px;
    overflow: hidden;
    flex-shrink: 0;
}

.info__list-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    color: #00235D;
    margin-bottom: 10px;
}

.info__list-text {
    font-size: 18px;
    line-height: 1.67;
    color: #00235D;
}

.info__list-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 270px;
    height: auto;
}

.info__right-item {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }
}

.info__right-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background: linear-gradient(180deg, #0ABC5C 0%, #2EF796 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

.info__right-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    color: #0ABC5C;
}