@font-face {
    font-family: Rubik;
    font-weight: normal;
	src: url("../fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
    font-family: Rubik;
    font-weight: 300;
	src: url("../fonts/Rubik-Light.woff") format("woff");
}

@font-face {
    font-family: Rubik;
    font-weight: 500;
	src: url("../fonts/Rubik-Medium.woff") format("woff");
}



