@font-face {
    font-family: Montserrat;
    font-weight: normal;
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/Montserrat-Regular.eot");
}

@font-face {
    font-family: Montserrat;
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
		url("../fonts/Montserrat-SemiBold.eot");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
		url("../fonts/Montserrat-Bold.eot");
}

@font-face {
    font-family: Vollkorn;
    font-weight: 600;
    src: url("../fonts/Vollkorn-SemiBold.woff2") format("woff2"),
		url("../fonts/Vollkorn-SemiBold.eot");
}

@font-face {
    font-family: Vollkorn;
    font-weight: bold;
    src: url("../fonts/Vollkorn-Bold.woff2") format("woff2"),
		url("../fonts/Vollkorn-Bold.eot");
}
