.site__header {
	width: 100%;
	height: auto;
}

.header__wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 19px;
	margin-bottom: 63px;
}

.header__title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	color: #FF5500;
	margin-bottom: 11px;
	width: 100%;
}

.header__subtitle {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
	color: #295959;
	margin-bottom: 23px;
}

.header__img-wrapper {
	width: 100%;
	height: 674px;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-bottom: 28px;
}

.header__img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: auto;
	transform: translate(-50%, -50%);
}

.header__mabrem {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 100px;
}

.header__img-item {
	position: absolute;
	top: 51px;
	left: 57px;
	width: 67px;
	height: 102px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 1;
	text-align: center;
	color: #FF661A;
}

.header__price {
	width: 100%;
	margin-bottom: 15px;
}

.price {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.old__price {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	color: #444444;
	position: relative;
}

.old__price:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-3deg);
	width: 110%;
	height: 2px;
	background-color: #FF0000;
}

.new__price {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 1;
	text-align: right;
	color: #CD3333;
	padding-left: 28px;
}

.header__order-btn {
	width: 360px;
	height: 60px;
	background: #FF661A;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 8px;
	transition: 0.3s ease;
	cursor: pointer;
}

.header__order-btn:hover {
	background: #FF3D00;
}

.remainder {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	color: #333333;
	margin-bottom: 47px;
	span {
		font-weight: 500;
		color: #FF5500;
	}
}

.header__delivery {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
}

.header__delivery-wrapper {
	width: 104px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.delivery__img-wrapper {
	width: 104px;
	height: 104px;
	background: #307618;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 12px;
}

.header__delivery-text {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
	color: #333333;
}


