@import "fonts";
@import "main";
@import "header";
@import "info";
@import "card";
@import "review";
@import "footer";
@import "modal";

/////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {
	.container {
		width: 1000px;
	}
	.header__content {
		width: 700px;
	}
	.header__title {
		font-size: 44px;
	}
	.header__right {
		width: 826px;
		right: -230px;
		background-size: cover;
		background-position: left bottom;
	}
	.header__heart-9 {
		top: 80px;
		left: 458px;
	}
	.header__heart-10 {
		display: none;
	}
	.header__heart-11 {
		top: 9px;
		right: -60px;
	}	
	.header__text {
		max-width: 430px;
		font-size: 18px;
	}
	.header__circle-wrapper {
		left: 250px;
	}
	.header__info {
		max-width: 575px;
	}
	.info__bg-1 {
		left: -225px;
		width: 55%;
	}
	.info__bg-2 {
		right: -270px;
		width: 60%;
	}
	.info__bg-3 {
		left: -240px;
		width: 50%;
	}
	.info__bg-4 {
		right: -160px;
		width: 50%;
	}
	.info__title {
		font-size: 44px;
		margin-bottom: 40px;
	}
	.info__text {
		font-size: 26px;
		margin-bottom: 40px;
	}
	.info__heart-1 {
		top: 256px;
		left: -35px;
	}
	.info__heart-2 {
		top: 190px;
		left: 120px;
	}
	.info__heart-3 {
		bottom: 179px;
		left: 100px;
	}
	.info__heart-4 {
		bottom: 185px;
		left: 249px;
	}
	.info__heart-5 {
		bottom: 52px;
		left: 275px;
	}
	.info__heart-9 {
		bottom: 294px;
		right: -125px;
	}
	.card {
		width: 470px;
	}
	.footer__wrapper .header__right {
		width: 675px;
	}
	.footer__wrapper .header__content {
		padding: 100px 0 70px;
	}
	.footer__wrapper .header__right {
		img {
			width: 140px;
			height: auto;
		}
	}
	.footer__wrapper .header__circle-1 {
		left: -130px;
		bottom: 200px;
	}
	.footer__wrapper .header__circle-3 {
		left: -210px;
		bottom: 12px;
	}
	.footer__wrapper .header__circle-4 {
		top: 0px;
		left: 60px;
	}
	.footer__heart-7 {
		top: 55px;
		left: 20%;
	}
	.footer__heart-16 {
		bottom: 25px;
		left: 5%;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1000px) {
	.container {
		width: 700px;
	}
	.header {
		background: linear-gradient(90.06deg, #F2F0F1 0.05%, #F3F1F2 22.56%, #F0ECED 49.56%, #EDE4E5 76.01%, #ECE3E4 86.29%, #EDE3E4 99.95%);
		position: relative;

		&:before {
			content: "";
			width: 100%;
			height: 800px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: linear-gradient(90.06deg, #F9F9F9 0.05%, #F8F8F8 22.56%, #FAFAFA 49.56%, #F9F9F9 76.01%, #FAFAFA 86.29%, #F9F9F9 99.95%);
		}
	}
	.header__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 0 30px;

		.header__order-btn {
			order: 5;
		}

		.header__discount {
			order: 6;
			text-align: center;
		}
	}
	.header__right {
		position: relative;
		width: 100vw;
		height: 111vw;
		right: auto;
		top: auto;
		left: auto;
		bottom: auto;
		background-size: contain;
		order: 2;

		&::before {
			content: "";
			width: 100%;
			height: 36px;
			position: absolute;
			bottom: -1px;
			left: 0;
			background: linear-gradient(0deg, #F9F9F9 5.15%, rgba(249, 249, 249, 0) 93.91%);
		}
	}
	.header__title {
		text-align: center;
		order: 1;
		margin-bottom: 0;
	}
	.header__circles {
		order: 3;
	}
	.header__text {
		order: 4;
		max-width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}
	.header__info {
		order: 7;
		margin-top: 80px;
	}
	.header__circle-wrapper {
		left: 15%;
	}
	.header__circle-wrapper:before {
		bottom: 25px;
		right: -10px;
	}
	.header__circle-wrapper:after {
		bottom: 0px;
		right: -39px;
	}
	.header__heart-wrapper {
		display: none;
	}
	.header__heart-1 {
		display: block;
		top: 10px;
		left: 30%;

		img {
			width: 40%;
			animation-delay: 0s;
		}
	}
	.header__heart-2 {
		display: block;
		top: 143px;
		left: auto;
		right: -23%;

		img {
			width: 30%;
			animation-delay: 5s;
		}
	}

	.header__heart-3 {
		display: block;
		top: 280px;
		left: -10%;

		img {
			width: 30%;
			animation-delay: 0s;
		}
	}

	.header__heart-4 {
		display: block;
		top: 315px;
		left: auto;
		right: -5%;

		img {
			width: 40%;
			animation-delay: 5s;
		}
	}

	.header__heart-5 {
		display: block;
		top: auto;
		left: 35%;
		right: auto;
		bottom: -3%;

		img {
			width: 30%;
			animation-delay: 0s;
		}
	}

	.header__heart-6 {
		display: block;
		top: auto;
		left: 45%;
		right: auto;
		bottom: -1.5%;

		img {
			width: 50%;
			animation-delay: 5s;
		}
	}

	.header__heart-7 {
		display: block;
		top: auto;
		left: 40%;
		right: auto;
		bottom: 168px;

		img {
			width: 40%;
			animation-delay: 0s;
		}
	}

	.header__heart-8 {
		display: block;
		top: auto;
		left: auto;
		right: 0;
		bottom: 200px;

		img {
			width: 30%;
			animation-delay: 5s;
		}
	}

	.header__heart-9 {
		display: block;
		top: auto;
		left: 0;
		right: auto;
		bottom: 335px;

		img {
			width: 50%;
			animation-delay: 0s;
		}
	}

	.header__heart-10 {
		display: block;
		top: auto;
		left: auto;
		right: 1%;
		bottom: 524px;

		img {
			width: 60%;
			animation-delay: 5s;
		}
	}

	.header__heart-11 {
		display: block;
		top: auto;
		left: 40%;
		right: auto;
		bottom: 672px;

		img {
			width: 50%;
			animation-delay: 0s;
		}
	}
	.info__heart-1 {
		top: 256px;
		left: -79px;

		img {
			width: 40%;
		}
	}
	.info__heart-2 {
		top: 146px;
		left: 13px;

		img {
			width: 35%;
		}
	}
	.info__heart-3 {
		bottom: 179px;
		left: 10px;

		img {
			width: 40%;
		}
	}
	.info__heart-4 {
		bottom: 202px;
		left: 144px;

		img {
			width: 35%;
		}
	}
	.info__heart-5 {
		bottom: 52px;
		left: 17%;

		img {
			width: 40%;
		}
	}
	.info__heart-6 {
		bottom: 22px;
		right: 29%;

		img {
			width: 45%;
		}
	}
	.info__heart-7 {
		bottom: 130px;
		right: 0%;

		img {
			width: 35%;
		}
	}
	.info__heart-8 {
		bottom: 208px;
		right: -7%;

		img {
			width: 45%;
		}
	}
	.info__heart-9 {
		bottom: 294px;
		right: -22%;

		img {
			width: 35%;
		}
	}
	.card__block {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.card {
		width: 100%;
		max-width: 550px;
	}
	.review__slide {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.review__img-wrapper {
		margin-bottom: 20px;
	}
	.footer__wrapper .header__right {
		width: 100vw;
		margin-bottom: 90px;

		&:before {
			background: linear-gradient(180deg, rgba(252, 142, 158, 0) 0%, #FC8E9E 100%);
		}
	}
	.footer__wrapper .card__form {
		order: 5;
	}
	.footer__wrapper .header__content {
		padding: 0px 0 50px;
	}
	.footer__heart-17 {
		bottom: 138px;
		left: 89%;
	}
	.footer__wrapper .header__right img {
		width: 170px;
	}
	.footer__wrapper .header__circle-1 {
		left: auto;
		right: 0;
		bottom: -55px;
	}
	.footer__wrapper .header__circle-2 {
		top: -110px;
		right: 20px;
	}
	.footer__wrapper .header__circle-3 {
		left: 20px;
		bottom: -100px;
	}
	.footer__wrapper .header__circle-4 {
		top: 0px;
		left: 20px;
	}
	.footer__wrapper .header__title {
		margin-bottom: 124px;
	}
	.footer__heart-15 {
		bottom: 165px;
		left: 0px;
	}
	.footer__heart-16 {
		bottom: 25px;
		left: 12%;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
	.container {
		width: calc(100% - 40px);
	}
	.header__title {
		font-size: 40px;
	}
	.header__heart-1 {
		top: 10px;
		left: 36%;
	}
	.header__heart-2 {
		top: 143px;
		right: -18%;
	}
	.header__heart-3 {
		top: 280px;
		left: 0%;
	}
	.header__circle-4 {
		width: 140px;
		height: auto;
	}
	.header__circle-wrapper:before {
		width: 20px;
		height: 20px;
	}
	.header__circle-wrapper:after {
		width: 10px;
		height: 10px;
		bottom: 14px;
    	right: -30px;
	}
	.header__circle-wrapper {
		left: 18%;
		top: 5%;
	}
	.header__circles {
		width: 100%;
		height: 203px;
		margin-top: -30px;
		img {
			width: 140px;
			height: auto;
		}
	}
	.info__wrapper {
		padding: 55px 0;
	}
	.info__title {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.info__text {
		font-size: 20px;
    	margin-bottom: 20px;
	}
	.info__heart-wrapper {
		display: none;
	}
	.info__heart-1 {
		display: block;
		top: 40%;
		left: 0%;

		img {
			width: 30%;
		}
	}
	.info__heart-2 {
		display: block;
		top: auto;
		left: 38%;
		bottom: 1%;

		img {
			width: 35%;
		}
	}

	.info__heart-3 {
		display: block;
		top: auto;
		left: auto;
		right: -9%;
		bottom: 42%;

		img {
			width: 35%;
		}
	}
	.info__bg-1 {
		left: -48px;
		width: 34%;
	}
	.info__bg-2 {
		right: -60px;
		width: 38%;
	}
	.info__bg-3 {
		left: -100px;
		width: 40%;
	}
	.info__bg-4 {
		right: -64px;
		width: 42%;
	}
	.delivery__wrapper {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.delivery {
		width: 100%;
		margin-bottom: 50px;
	}
	.review__wrapper {
		padding-bottom: 0px;
	}
	.footer__wrapper .header__right {
		background-size: contain;
		height: 100vw;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 480px) {
	.header__title {
		font-size: 7.5vw;

		br {
			display: none;
		}
	}
	.header__content {
		position: relative;
		z-index: 2;
	}
	.header__heart-1 {
		top: 5px;
		left: 36%;
	}
	.header__heart-2 {
		top: 38vw;
		right: -31%;
	}
	.header__heart-3 {
		top: 55vw;
		left: -1%;
		z-index: 3;
	}
	.header__heart-4 {
		top: 69vw;
		right: -10%;
		z-index: 3;
	}
	.header__circle-wrapper {
		left: 6%;
		top: 2%;
	}
	.header__circle-4 {
		width: 33vw;
		height: auto;
	}
	.header__circle-wrapper:before {
		width: 4.5vw;
		height: 4.5vw;
		bottom: 5vw;
    	right: -2.5vw;
	}
	.header__circle-wrapper:after {
		width: 2.5vw;
		height: 2.5vw;
		bottom: 2vw;
		right: -7vw;
	}
	.header__circles {
		width: 100%;
		height: 50vw;
		margin-top: -8vw;
		margin-bottom: 8vw;

		img {
			width: 34vw;
		}
	}
	.header__circle-2 {
		bottom: -4%;
		left: 37%;
	}
	.header__text {
		font-size: 4.5vw;
		margin-bottom: 9.5vw;
	}
	.header__content .header__discount {
		font-size: 4vw;
		margin-top: 4.5vw;
	}
	.header__info {
		width: 100%;
		gap: 30px;
	}
	.header__number {
		font-size: 9.5vw;
		margin-left: 2vw;
	}
	.header__info-stage {
		flex-shrink: 1;
	}
	.header__info-text {
		font-size: 4.5vw;
		text-align: center;
	}
	.header__heart-7 {
		left: 34%;
		bottom: 36vw;
	}
	.header__heart-8 {
		right: -25%;
		bottom: 44vw;
	}
	.header__heart-9 {
		left: -7px;
		bottom: 79vw;
	}
	.header__heart-10 {
		right: -17%;
		bottom: 116vw;
	}
	.header__heart-11 {
		left: 33%;
		bottom: 146vw;
		z-index: 3;
	}
	.info__title {
		font-size: 7vw;
		margin-bottom: 4.5vw;

		br {
			display: none;
		}
	}
	.info__text {
		font-size: 5vw;
		margin-bottom: 4.5vw;

		br {
			display: none;
		}
	}
	.info__heart-1 {
		top: 37%;
		left: -3%;
	}
	.info__heart-2 {
		left: 36%;
		bottom: 1%;
	}
	.info__heart-3 {
		right: -25%;
		bottom: 32%;
	}
	.info__bg-1 {
		left: -10vw;
		width: 40%;
	}
	.info__bg-2 {
		right: -9vw;
		width: 41%;
	}
	.info__bg-3 {
		left: -19vw;
		width: 45%;
	}
	.info__bg-4 {
		right: -12vw;
		width: 44%;
	}
	.card__section {
		.container {
			width: 100%;
		}
	}
	.card__wrapper {
		padding: 100px 0 50px;
	}
	.card {
		margin-bottom: 50px;
		padding: 30px 32px;
	}
	.card__title {
		font-size: 9.5vw;
		margin-bottom: 5.5vw;
	}
	.card__price {
		margin-bottom: 4.5vw;
	}
	.card__slider {
		width: 100%;
		max-width: 321px;
		margin-bottom: 4.5vw;
	}
	.old__price {
		font-size: 6vw;
		margin-right: 6vw;
	}
	.new__price {
		font-size: 9.5vw;
	}
	.card__nav-btn {
		font-size: 4.5vw;
	}
	.card__characteristic-text {
		font-size: 4vw;
		margin-bottom: 3.4vw;
	}
	.card__info {
		font-size: 4vw;
		margin-bottom: 6vw;
	}
	.card__heart-wrapper {
		display: none;
	}
	.card__heart-1 {
		display: block;
		top: 1%;
		left: 20%;

		img {
			width: 30%;
			animation-delay: 0s;
		}
	}
	.card__heart-2 {
		display: block;
		top: 1.5%;
		left: auto;
		right: 5%;

		img {
			width: 50%;
			animation-delay: 5s;
		}
	}
	.card__heart-3 {
		display: block;
		top: 25.5%;
    	left: 40%;
		right: auto;

		img {
			width: 50%;
			animation-delay: 5s;
		}
	}
	.card__heart-4 {
		display: block;
		top: 49%;
		left: 14%;
		right: auto;

		img {
			width: 30%;
			animation-delay: 0s;
		}
	}
	.card__heart-5 {
		display: block;
		top: 49%;
		left: 72%;	
		right: auto;

		img {
			width: 50%;
			animation-delay: 5s;
		}
	}
	.card__heart-6 {
		display: block;
		top: 73%;
		bottom: auto;
		left: 40%;	
		right: auto;

		img {
			width: 50%;
			animation-delay: 0s;
		}
	}
	.card__heart-7 {
		display: block;
		top: auto;
		bottom: 1%;
		left: 12%;	
		right: auto;

		img {
			width: 30%;
			animation-delay: 0s;
		}
	}
	.card__heart-8 {
		display: block;
		top: auto;
		bottom: 0%;
    	left: 46%;	
		right: auto;

		img {
			width: 40%;
			animation-delay: 5s;
		}
	}
	.review__slider-wrapper {
		width: 100vw;
		height: auto;
		margin-left: -20px;
		padding: 20px 0;
		overflow: visible;
	}
	.review__slider {
		margin-bottom: 18vw;
	}
	.review__slide {
		padding: 30px 20px;
	}
	.review__section-title {
		font-size: 6.5vw;
		margin-bottom: 9vw;
	}
	.review__img-wrapper {
		width: 100%;
		height: 67vw;
		margin-right: 0;
	}
	.review__slider.owl-carousel .owl-stage-outer {
		overflow: hidden;
		padding: 20px 0 40px;
	}
	.review__name {
		font-size: 5vw;
	}
	.review__text {
		font-size: 4.5vw;
	}
	// .owl-nav {
	// 	display: none;
	// }
	.owl-dots {
		margin-top: 0px;
		width: 100%;
	}
	.delivery__logo {
		margin-right: 10px;
	}
	.delivery__title {
		font-size: 5vw;
		margin-bottom: 2vw;
	}
	.delivery__text {
		font-size: 4.5vw;
	}
	.review__heart-wrapper {
		display: none;
	}
	.review__heart-1 {
		display: block;
		top: 2%;
		bottom: auto;
		right: -28%;
		left: auto;

		img {
			width: 30%;
			animation-delay: 0s;
		}
	}
	.review__heart-2 {
		display: block;
		top: auto;
		bottom: 42%;
    	right: -18%;
		left: auto;

		img {
			width: 50%;
			animation-delay: 0s;
		}
	}
	.review__heart-3 {
		display: block;
		top: auto;
		bottom: 35%;
		right: auto;
		left: 5%;

		img {
			width: 30%;
			animation-delay: 5s;
		}
	}
	.review__heart-4 {
		display: block;
		top: auto;
		bottom: 32%;
    	right: -16%;
		left: auto;

		img {
			width: 30%;
			animation-delay: 0s;
		}
	}
	.review__heart-5 {
		display: block;
		top: auto;
		bottom: 0%;
		right: auto;
		left: 45%;

		img {
			width: 40%;
			animation-delay: 5s;
		}
	}
	.footer__heart-wrapper {
		display: none;
	}
	.footer__wrapper .header__title {
		margin-bottom: 30vw;
	}
	.footer__wrapper .header__right img {
		width: 35vw;
	}
	.footer__wrapper .header__circle-1 {
		right: -3vw;
		bottom: -13vw;
	}
	.footer__wrapper .header__circle-3 {
		left: 4vw;
		bottom: -20vw;
	}
	.footer__wrapper .header__right {
		margin-bottom: 22vw;
	}
	.footer__wrapper .header__circle-2 {
		top: -22vw;
		right: 5px;
	}
	.footer__wrapper .header__circle-4 {
		top: -8vw;
		left: 2vw;
	}
	.footer__wrapper .header__text {
		margin-bottom: 6vw;
	}
	.footer__heart-1 {
		display: block;
		top: 14%;
    	left: -1%;
		img {
			width: 40%;
			animation-delay: 0s;
		}
	}
	.footer__heart-2 {
		display: block;
		top: 21%;
    	left: 38%;
		img {
			width: 50%;
			animation-delay: 5s;
		}
	}
	.footer__heart-3 {
		display: block;
		top: 37%;
    	left: -2%;
		img {
			width: 30%;
			animation-delay: 0s;
		}
	}
	.footer__heart-4 {
		display: block;
		top: 34%;
		bottom: auto;
		right: -26%;
    	left: auto;
		img {
			width: 30%;
			animation-delay: 5s;
		}
	}
	.footer__heart-15 {
		display: block;
		top: auto;
		bottom: 25%;
    	left: -4%;
		right: auto;
		z-index: -1;

		img {
			width: 40%;
			animation-delay: 0s;
		}
	}
	.footer__heart-16 {
		display: block;
		top: auto;
		bottom: 31%;
		left: auto;
		right: 16%;

		img {
			width: 50%;
			animation-delay: 5s;
		}
	}
	.footer__heart-17 {
		display: block;
		top: auto;
		bottom: 2%;
		left: auto;
		right: -28%;
		z-index: -1;

		img {
			width: 30%;
			animation-delay: 0s;
		}
	}
	.footer__wrapper .card__form {
		z-index: 1;
	}
	.divider__2, .divider__1, .divider__4 {
		display: none;
	}
	.footer__info br {
		display: block;
	}
	.footer__info {
		font-size: 3.5vw;
	}
	.footer__line-wrapper {
		padding: 20px 0;
	}
	.footer__wrapper .card__form {
		width: 100%;
		max-width: 350px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 375px) {
	.footer__heart-15 {
		bottom: 28%;
		left: -4%;
	}
	.header__heart-2 {
		top: 38vw;
		right: -35%;
	}
	.header__heart-11 {
		left: 33%;
		bottom: 149vw;
		z-index: 3;

		img {
			width: 40%;
		}
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 320px) {

	.header__heart-11 {
		left: 34%;
		bottom: 162vw;
		z-index: 3;

		img {
			width: 40%;
		}
	}
	.header__heart-10 {
		right: -33%;
    	bottom: 137vw;

		img {
			width: 30%
		}
	}
	.header__heart-9 {
		left: -7px;
		bottom: 93vw;

		img {
			width: 30%;
		}
	}
	.header__heart-8 {
		right: -36%;
		bottom: 44vw;
	}
	.header__heart-7 {
		left: 28%;
		bottom: 41vw;
	}
	.header__info {
		gap: 10px;
	}
	.header__heart-2 {
		top: 38vw;
		right: -45%;
	}
	.header__heart-4 {
		top: 70vw;
		right: -23%;
	}
	.info__heart-1 {
		top: 32%;
		left: -8%;
	}
	.info__heart-3 {
		right: -39%;
		bottom: 37%;
	}
	.review__heart-4 {
		bottom: 34%;
		right: -19%;
	}
	.footer__heart-1 {
		top: 14%;
		left: -6%;
	}
	.footer__heart-3 {
		top: 34%;
		left: -3%;
	}
	.footer__heart-4 {
		top: 30%;
		right: -37%;
	}
	.footer__heart-15 {
		bottom: 30%;
		left: -6%;
	}
	.footer__heart-16 {
		bottom: 34%;
		right: 10%;
	}
	.footer__heart-17 {
		bottom: 2%;
		right: -40%;
	}
}
