.card__section {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #3CC179 0%, #77C13C 100%);
}

.card__section-wrapper {
    width: 100%;
    height: auto;
    padding: 114px 0 150px;
}

.card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    position: relative;

}

.card__left {
    width: 624px;
    height: 777px;
    position: absolute;
    top: -64px;
    left: -468px;
    padding: 30px;

    .header__info {
        margin-bottom: 30px;
    }

    .header__info-text {
        color: #0C47C1;
    }
}

.card__boot {
    position: absolute;
    transform: rotate(-15deg);
    top: 30px;
    left: -15px;
}

.card__photos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__photo {
    width: 115px;
    height: 77px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    &:hover {
        transform: translateX(10px);
    }
}

.card__bg {
    width: 624px;
    height: 777px;
    background: #59E7FF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -64px;
    left: 0px;
}

.card__right {
    width: 672px;
    height: auto;
    background: linear-gradient(134.23deg, #0C47C1 0%, #2F6AE6 100%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    padding: 40px 50px 48px 206px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    margin-bottom: 150px;
}

.card__logo {
    position: absolute;
    height: 60px;
    width: auto;
    opacity: 0.2;
    top: 50%;
    left: -30%;
    transform: translateY(-50%) rotate(-90deg);
}

.card__header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 7px;
}

.card__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.28;
    text-transform: uppercase;
    color: #59FFFF;
    margin-right: 20px;
    width: auto;
}

.card__raiting {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 18px;
        height: 18px;
        margin-right: 2px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.card__price {
    margin-bottom: 14px;

    .price {
        justify-content: flex-start;
    }
    .old__price {
        margin-right: 32px;
        margin-left: 12px;
    }
}

.card__list {
    margin-bottom: 22px;
}

.card__list-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #FFFFFF;
}

.card__form {
    width: 100%;
    max-width: 360px;
}

.card__input-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card__input {
    width: 100%;
    height: 50px;
    padding: 0 22px;
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 0px;
}

.card__select {
    background-image: url(../img/tringle.png);
    background-repeat: no-repeat;
    background-position: right 22px center;
    background-size: 13px 12px;

    option {
        color: #000;
    }
}

.order__submit {
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}


.review__block {
    width: 360px;
    height: auto;
    padding-top: 41px;
    position: relative;
}

.review__block-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.28;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.review__btns {
    width: 180px;
    height: auto;
    margin-bottom: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__btn {
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 12px;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        background-image: url(../img/arrow-hover.png);
    }
}

.review__btn-right {
    transform: rotate(180deg);
}

.add__review {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    background: transparent;
    color: #FFFFFF;
    cursor: pointer;
}

.review__slider {
    width: 1352px;
    height: auto;
    position: absolute;
    top: 0;
    right: -1382px;

    .owl-stage-outer {
        box-shadow: none;
    }
}

.review__slide {
    width: 384px;
    height: auto;
    background: linear-gradient(139.29deg, #0C47C1 0%, #2F6AE6 100%);
    padding: 50px 30px;
}

.review__quote {
    width: auto !important;
    height: 50px;
    margin-bottom: 19px;
}

.review__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.review__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #59FFFF;
    width: auto;
}

.review__raiting {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 18px;
        height: 18px;
        margin-right: 2px;

        &:last-child {
            margin-right: 0;
        }
    }
}