@font-face {
    font-family: Montserrat;
    font-weight: normal;
	src: url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: 500;
	src: url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
	src: url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: 900;
	src: url("../fonts/Montserrat-Black.woff") format("woff");
}



