/////////////////////////////////////////////////////////////////////
@media (max-width: 1000px) {
	.container {
		width: 700px;
	}
	.header__content {
		width: 380px;
	}
	.mintop__img {
		top: 65px;
		width: 390px;
	}
	.header__title {
		font-size: 32px;
	}
	.header__text {
		font-size: 15px;
	}
	.header__list-item {
		font-size: 13px;
	}
	.header__girl {
		left: 30px;
		width: 266px;
	}
	.header__light-1 {
		top: -23px;
		left: -50px;
	}
	.header__light-3 {
		top: 9px;
		left: 311px;
	}
	.header__light-4 {
		top: 172px;
		left: 240px;
	}
	.header__light-6 {
		top: 334px;
		left: 233px;
	}
	.question__wrapper {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding-top: 50px;
	}
	.preview__content {
		width: 100%;
	}
	.preview__img {
		position: static;
		top: auto;
		right: auto;
		width: 464px;
	}
	.preview__stars {
		position: static;
		bottom: auto;
		right: auto;
		width: 282px;
	}
	.preview__light-1 {
		top: 132px;
		left: 23vw;
	}
	.preview__light-2 {
		top: 420px;
		left: auto;
		right: 0;
	}
	.preview__light-3 {
		top: auto;
		bottom: 180px;
		left: 3vw;
	}
	.preview__light-4 {
		top: auto;
		left: auto;
		bottom: 45px;
		right: 6vw;
	}
	.blockquote {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: center;
	}
	.blockquote__right {
		margin: 0px;
	}
	.ingredients__main-wrapper {
		width: 243px;
		height: 269px;
		position: relative;
		top: auto;
		left: auto;
		transform: none;
	}
	.ingredients__information {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.ingredients__block  {
		margin: 0;
		margin-bottom: 10px;
	}
	.ingredients__liaf-wrapper:before {
		bottom: -15px;
		left: 50%;
		width: 176px;
		height: 1px;
		background-color: #000;
		transform: translateX(-50%);
	}
	.ingredients__liaf-wrapper:after {
		display: none;
	}
	.ingredients__information {
		margin-bottom: 40px;
	}
	.ingredients__information:after {
		content: "";
		position: absolute;
		bottom: -15px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		width: 176px;
		height: 1px;
		background-color: #000;
	}
	.video__section-wrapper {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		background: none;
	}
	.video__text-wrapper {
		width: 425px;
		height: auto;
		margin: 0;
		margin-left: 50px;
		margin-bottom: 400px;
	}
	.video__text {
		color: black;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.6;
		padding: 10px 0;
	}
	.video__section-right {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0;
		margin: 0px;
	}
	.video__section-right .video__wrapper {
		width: 473px;
		height: 260px;
		overflow: hidden;
		cursor: pointer;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		img {
			width: 100%;
		}
	}
	.video__wrapper-2 {
		top: 130px;
	}
	.video__wrapper-1 {
		top: 585px;
	}
	.video__text-wrapper:last-of-type {
		margin-top: 0;
		margin-bottom: 250px;
	}
	.video__left-img {
		display: none;
	}
	.video__left-leafs {
		display: none;
	}
	.video__leafs-wrapper2 {
		display: none;
	}
	.video__leafs-wrapper {
		width: 390px;
		height: 135px;
		top: 454px;
		left: 50%;
		transform: rotate(15deg) translateX(-50%);
	}
	.manual__section {
		width: 100%;
		height: auto;
		background-color: #331305;
		position: relative;
	}
	.manual__block {
		position: static;
		top: auto;
		left: auto;
		transform: none;
	}
	.manual__section::before {
		width: 100%;
		height: 100%;
	}
	.manual__wrapper {
		display: flex;
		justify-content: center;
	}
	.sertificate__wrapper {
		width: 100%;
		height: auto;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
	}
	.sertificate__img-wrapper {
		width: 346px;
		height: 442px;
		position: relative;
		border-style: solid;
		border-color: black;
		border-width: 2px;
		top: auto;
		right: auto;
		margin: 10px auto;
	}
	.sertificate__text {
		width: 100%;
	}
	.sertificate__block {
		margin-bottom: 50px;
	}
	.video2__wrapper {
		width: 100%;
		height: 312px;
	}
	.video__block-wrapper .video__wrapper {
		width: 233px;
		height: 132px;
	}
	.video__block-text {
		font-size: 13px;
	}
	.card__wrapper {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.card__img {
		position: static;
		top: auto;
		left: auto;
		width: 512px;
		margin-bottom: 100px;
	}
	.card__liaf {
		position: absolute;
		top: auto;
		left: 50%;
		transform: translateX(-50%);
		bottom: 50px;
		width: 114px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
	.container {
		width: calc(100% - 40px);
	}
	.header__content {
		width: 100%;
		padding-top: 180px;
	}
	.mintop__img {
		position: static;
		right: auto;
		top: auto;
		width: 320px;
		margin-bottom: 10px;
	}
	.header__phone {
		top: 0px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
	}
	.header__flags {
		width: 147px;
		height: 52px;
		display: flex;
		position: absolute;
		bottom: auto;
		top: 100px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
	}
	.header__girl {
		left: 30px;
		width: 266px;
		bottom: 125px;
		left: 50%;
		transform: translateX(-50%);
	}
	.header__list {
		width: 60%;
		list-style: none;
		margin-bottom: 300px;
	}
	.header__order-btn {
		margin-bottom: 45px;
	}
	.header__light-1 {
		top: 296px;
		left: -50px;
	}
	.header__light-2 {
		top: 332px;
		left: auto;
		right: -50px;
	}
	.header__light-3 {
		top: 526px;
		left: -60px;
	}
	.header__title::before {
		display: none;
	}
	.header__text {
		position: relative;
	}
	.header__text::before {
		content: "";
		width: 100%;
		height: 1px;
		position: absolute;
		top: -15px;
		left: 0;
		background-color: #fff;
	}
	.header__light-4 {
		top: auto;
		bottom: 240px;
		left: -20px;
	}
	.header__light-5 {
		top: auto;
		bottom: 380px;
		left: auto;
		right: -30px;
	}
	.header__light-6 {
		top: auto;
		bottom: 240px;
		left: auto;
		right: 0;
	}
	.negative__subtitle {
		margin-bottom: 250px;
	}
	.negative__img-center {
		top: 34vw;
		width: 420px;
	}
	.question__left-img {
		width: 322px;
		margin-left: 20px;
	}
	.question__item {
		width: 286px;
		height: auto;
		margin: 0 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.question__right {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.negative__title {
		font-size: 6.5vw;
	}
	.negative__block {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.negative__block-column {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.negative__item {
		width: 50%;
		height: auto;
	}
	.negative__img-wrapper {
		width: 100%;
		height: 42vw;
	}
	.negative__item-text {
		font-size: 3vw;
	}
	.blockquote__title {
		text-align: center;
	}
	.blockquote__wrapper {
		padding-top: 50px;
	}
	.manual__wrapper {
		padding: 0px;
	}
	.manual__block {
		width: 100%;
		height: auto;
		border: none;
		border-radius: 6px;
		padding: 10px 0px;
	}
	.video2__wrapper {
		width: 100%;
		height: auto;
		border-radius: 50px 50px 50px 50px / 100px 100px 100px 100px;
	}
	.video__block-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.video__block-wrapper .video__wrapper {
		width: 80vw;
		height: 40vw;
	}
	.video__block-text {
		font-size: 22px;
		margin-bottom: 20px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 480px) {
	.preview__title {
		font-size: 6.5vw;
	}
	.preview__img {
		position: static;
		top: auto;
		right: auto;
		width: 90vw;
		margin-bottom: 30px;
	}
	.preview__light-1 {
		top: 166px;
		left: 17vw;
	}
	.preview__light-2 {
		top: 94vw;
		left: auto;
		right: -70px;
	}
	.preview__light-3 {
		top: auto;
		bottom: 190px;
		left: -9vw;
	}
	.preview__light-4 {
		top: auto;
		left: auto;
		bottom: 5px;
		right: -6vw;
	}
	.blockquote__section .container{
		width: 100%;
	}
	.blockquote__title {
		font-size: 10vw;
	}
	.blockquote__left {
		width: 100%;
		height: 100vw;
	}
	.blockquote__right {
		width: 100%;
		height: 100vw;
	}
	.blockquote__text {
		font-size: 4vw;
	}
	.blockquote__list {
		font-size: 3.5vw;
	}
	.ingredients__title {
		font-size: 7vw;
	}
	.video__section-left {
		width: 100%;
	}
	.video__text-wrapper {
		width: calc(100% - 50px);
		height: auto;
		margin: 0;
		margin-left: 50px;
		margin-bottom: 80vw;
	}
	.video__text {
		color: black;
		font-size: 3.5vw;
		font-weight: bold;
		line-height: 1.6;
		padding: 5px 0;
	}
	.video__text-img {
		position: absolute;
		top: -24px;
		left: -80px;
		width: 86px;
	}
	.video__section-right .video__wrapper {
		width: 100%;
		height: 51vw;
	}
	.video__wrapper-2 {
		top: 115px;
	}
	.video__wrapper-1 {
		top: 113vw;
	}
	.video__text-wrapper:last-of-type {
		margin-bottom: 50vw;
	}
	.video__leafs-wrapper {
		top: 90vw;
	}
	.sertificate__section .container{
		width: 100%;
	}
	.sertificate__img-wrapper {
		width: calc(100% - 40px);
		height: 110vw;
		overflow: hidden;
	}
	.sertificate__block {
		padding-left: 15px;
	}
	.sertificate__text {
		width: 100%;
		padding-right: 10px;
	}
	.video__2-title {
		font-size: 5vw;
	}
	.video__block-text {
		font-size: 4vw;
		margin-bottom: 20px;
	}
	.card__section .container{
		width: 100%;
	}
	.card {
		width: 100%;
		height: auto;
	}
	.card__title {
		font-size: 5vw;
		margin-bottom: 30px;
	}
	.card__delivery-text {
		font-size: 3.5vw;
		line-height: 1.6;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 414px) {
	.header__title {
		font-size: 9vw;
	}
	.header__text {
		width: 100%;
	}
	.header__list {
		width: 100%;
		list-style: none;
		margin-bottom: 300px;
		padding-left: 38px;
	}
	.mintop__img {
		position: relative;
		z-index: 1;
	}
	.header__light-1 {
		top: 285px;
		left: -70px;
	}
	.header__light-2 {
		top: 364px;
		left: auto;
		right: -32px;
	}
	.header__light-3 {
		top: 526px;
		left: -80px;
	}
	.header__light-4 {
		top: auto;
		bottom: 240px;
		left: -40px;
	}
	.header__light-5 {
		top: auto;
		bottom: 357px;
		left: auto;
		right: -50px;
	}
	.header__light-6 {
		top: auto;
		bottom: 240px;
		left: auto;
		right: -20px;
	}
	.question__left {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.question__left-img {
		width: 230px;
		margin-left: 0px;
	}
	.negative__section .container{
		width: 100%;
	}
	.question__wrapper {
		padding-top: 10px;
	}
	.question__left-text {
		font-size: 6vw;
	}
	.question__item {
		width: 100%;
	}
	.question__item-title {
		padding-left: 42px;
		min-height: 40px;
		width: 100%;
	}
	.question__item-title:before {
		width: 40px;
		height: 40px;
		background-size: cover;
	}
	.preview__light-1 {
		top: 34vw;
		left: 12vw;
	}
	.preview__brand-title {
		font-size: 15vw;
	}
	.preview__light-3 {
		top: auto;
		bottom: 190px;
		left: -15vw;
	}
	.preview__light-4 {
		bottom: 5px;
		right: -10vw;
	}
	.ingredients__block {
		width: 100%;
	}
	.video__text-img {
		top: -12px;
		left: -60px;
		width: 60px;
	}
	.video__section-right .video__wrapper {
		width: 100%;
		height: 50vw;
	}
	.video__wrapper-1 {
		top: 116vw;
	}
	.video__leafs-wrapper {
		top: 93vw;
	}
	.manual__subtitle {
		text-align: left;
	}
	.manual__title {
		font-size: 9vw;
	}
	.manual__text {
		padding: 0 0 0 30px;
	}
	.sertificate__title {
		font-size: 7vw;
	}
	.sertificate__subtitle {
		font-size: 3.5vw;
	}
	.sertificate__text {
		font-size: 3.8vw;
	}
	.sertificate__logo {
		width: 125px;
		margin-top: 10px;
	}
	.sertificate__liafs {
		width: 350px;
		height: 70px;
		top: 24px;
		left: 100px;
	}
	.sertificate__img-wrapper {
		width: calc(100% - 40px);
		height: 106vw;
		overflow: hidden;
	}
	.card__section {
		background-size: 178%;
	}
	.card__img {
		width: 100vw;
		margin-bottom: 100px;
		margin-top: 20px;
	}
	.card__liaf {
		bottom: 70px;
		width: 80px;
	}
	.footer__wrapper {
		width: 100%;
		height: auto;
		padding: 10px 0;
		display: flex;
		flex-direction: column;
	}
	.footer__text {
		font-size: 4vw;
		order: 2;
	}
	.footer__adress {
		font-size: 4vw;
	}
	.sertificate__block {
		margin-bottom: 30px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 375px) {
	.header__light-2 {
		top: 364px;
		left: auto;
		right: -60px;
	}
	.negative__img-center {
		top: 34vw;
		width: 90vw;
	}
	.negative__subtitle {
		margin-bottom: 50vw;
	}
	.video__text {
		font-size: 3vw;
	}
	.video__text-img {
		top: -15px;
		left: -60px;
		width: 60px;
	}
	.video__wrapper-2 {
		top: 110px;
	}
	.video__leafs-wrapper {
		top: 91vw;
		width: 100%;
	}
	.manual__subtitle {
		font-size: 16px;
	}
	.manual__text {
		font-size: 15px;
	}
	.card__section {
		background-size: 188%;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 320px) {
	.mintop__img {
		width: 270px;
	}
	.header__light-1 {
		top: 258px;
		left: -60px;
	}
	.header__light-3 {
		top: 480px;
		left: -80px;
	}
	.header__input-wrapper {
		width: 297px;
		height: auto;
		margin-right: 10px;
		min-width: 180px;
	}
	.header__light-4 {
		top: auto;
		bottom: 240px;
		left: -53px;
	}
	.header__light-5 {
		top: auto;
		bottom: 357px;
		left: auto;
		right: -60px;
	}
	.header__light-6 {
		top: auto;
		bottom: 240px;
		left: auto;
		right: -45px;
	}
	.preview__light-1 {
		top: 34vw;
		left: 3vw;
	}
	.preview__light-3 {
		top: auto;
		bottom: 175px;
		left: -25vw;
	}
	.preview__light-4 {
		bottom: 5px;
		right: -22vw;
	}
	.ingredients__img-wrapper {
		width: 100px;
		height: 100px;
	}
	.ingredients__info-title {
		font-size: 16px;
	}
	.ingredients__info-text {
		font-size: 14px;
	}
	.video__wrapper-1 {
		top: 122vw;
	}
	.sertificate__text {
		font-size: 4vw;
		padding-left: 10px;
	}
	.sertificate__text::before {
		width: 20px;
		height: 20px;
		left: -10px;
		background-size: cover;
	}
	.sertificate__img-wrapper {
		width: calc(100% - 40px);
		height: 104vw;
		overflow: hidden;
		margin-left: 10px;
	}
	.video2__wrapper {
		width: 100%;
		height: auto;
		border-radius: 20px 20px 20px 20px / 60px 60px 60px 60px;
	}
	.video__block-wrapper .video__wrapper {
		width: 80vw;
		height: 45vw;
	}
	.card__section {
		background-size: 217%;
	}
}

