*, *::before, *::after {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	box-sizing: border-box;
	text-decoration: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}

select{
	-moz-appearance: none;
	-webkit-appearance: none;
}

select::-ms-expand {
	display: none;
}

input::placeholder {
	color: inherit;
	opacity: 1;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
	user-select: none;
	pointer-events: none;
}

*:focus-visible {
	outline: none;
}

p {
	width: 100%;
}

a, button {
	outline: none;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: auto;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	background: #fff;
}

.site__wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}

.container {
	width: 960px;
	height: auto;
	margin: 0 auto;
	position: relative;
}


