
/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	.container {
		width: 1000px;
	}
	.site__main {
		width: 100%;
		height: 1750px;
		background-image: url(../img/background.jpg);
		background-repeat: no-repeat;
		background-size: 1800px;
		background-position: center top -25px;
		position: relative;
	}
	.card__header-title {
		font-size: 20px;
	}
	.card__wrapper {
		width: 100%;
		height: 700px;
	}
	.card__wrapper-row {
		width: 100%;
		height: 340px;
	}
	.card {
		width: 240px;
		height: 340px;
	}
	.card__description {
		padding: 15px;
	}
	.film__description {
		font-size: 12px;
	}
	.card__rating {
		margin-bottom: 10px;
	}
	.card__link {
		bottom: 15px;
	}
	.img__chair {
		top: -350px;
		margin-left: 550px;
		width: 300px;
	}
	.img__popcorn-small {
		bottom: -60px;
		margin-left: -590px;
	}

	.img__camera {
		display: none;
	}

	.img__popcorn-big {
		top: -70px;
		margin-left: -655px;
	}

	.img__grains-big {
		display: none;
	}

	.img__cracker {
		top: -60px;
		margin-left: 653px;
	}

	.img__grains-small {
		position: absolute;
		top: -65px;
		left: 50%;
		transform: translateX(-50%);
		margin-left: 740px;
	}

}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1080px) {
	.container {
		width: 800px;
	}
	.card__section-header {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.card__header-title {
		width: 700px;
		line-height: 29px;
		background-color: transparent;
		font-size: 24px;
		margin-bottom: 20px;
	}
	.site__main {
		width: 100%;
		height: auto;
		background-image: url(../img/background.jpg);
		background-repeat: no-repeat;
		background-size: auto 108%;
		background-position: center top -30px;
		position: relative;
	}
	.card__header-title {
		font-size: 20px;
	}
	.card__wrapper {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		perspective: 1000px;
		margin-bottom: 30px;
		position: relative;
	}

	.card__wrapper-row {
		width: 100%;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.card {
		width: 280px;
		height: 400px;
		position: relative;
		transition: 0.8s ease;
		margin: 0 15px 20px;
	}
	.card__img {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		transition: 0.8s ease;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate(-50%, -50%);
		}
	}
	.card__description {
		position: absolute;
		left: 0;
		top: 0;
		padding: 30px;
		background-color: #fff;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		z-index: -1;
		transition: 0.8s ease;
	}
	.film__description {
		font-size: 14px;
	}
	.card__rating {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}

	.card__link {
		position: absolute;
		left: 50%;
		bottom: 30px;
		transform: translateX(-50%);
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 144%;
		text-decoration: underline;
		color: #0088CC;
	}
	.main__link {
		margin-bottom: 50px;
	}
	.img__chair {
		top: -350px;
		margin-left: 455px;
		width: 300px;
	}
	.img__popcorn-small {
		bottom: -60px;
		margin-left: -405px;
	}
	.img__camera {
		display: none;
	}
	.img__popcorn-big {
		top: 260px;
		margin-left: -500px;
	}
	.img__grains-big {
		display: block;
		top: 12px;
		left: 50%;
		margin-left: -375px;
	}
	.img__cracker {
		top: 10px;
		margin-left: 440px;
	}
	.img__grains-small {
		position: absolute;
		top: -50px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		margin-left: 392px;
	}
	.mobile__grains-small {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.mobile__grains-big {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.mobile__grains-small5 {
		display: block;
		bottom: 150px;
		margin-left: -390px;
	}
	.mobile__grains-big1 {
		display: block;
		bottom: 385px;
		margin-left: 380px;
		width: 180px;
	}
	.mobile__grains-big2 {
		display: block;
		bottom: 720px;
		margin-left: -370px;
	}

	.mobile__grains-big3 {
		display: block;
		bottom: 980px;
		margin-left: 370px;
	}

}


/////////////////////////////////////////////////////////////////////
@media (max-width: 880px) {
	.container {
		width: 700px;
	}
	.img__chair {
		top: -284px;
		margin-left: 360px;
		width: 240px;
	}
	.img__popcorn-small {
		bottom: -60px;
		margin-left: -320px;
	}
	.mobile__grains-small5 {
		bottom: 160px;
		margin-left: -356px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
	.container {
		width: calc(100% - 30px);
	}
	.header__telegram-block {
		width: 37px;
		height: 37px;
	}
	.header__link {
		width: 100%;
		height: 100%;
		span {
			display: none;
		}
	}
	.header__telegram-logo {
		left: 0;
		pointer-events: auto;
	}
	.header__link:hover {
		color: inherit;
		.header__telegram-logo {
			left: 0;
		}
	}
	.card__header-title {
		width: 260px;
		line-height: 29px;
		background-color: transparent;
		font-size: 24px;
		margin-bottom: 20px;
	}
	.site__main {
		width: 100%;
		height: auto;
		background-image: url(../img/mobile-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		position: relative;
	}
	.card {
		width: 280px;
		height: 400px;
		position: relative;
		transition: 0.8s ease;
		margin: 0 0 20px;
		margin-bottom: 129px;
		z-index: 1000;
		&:hover {
			.card__img {
				opacity: 1;
				visibility: visible;
			}
			.card__description {
				z-index: auto;
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.card.active {
		margin-bottom: 420px;
		.card__description {
			left: 0;
			bottom: -400px;
			padding: 0 30px;
			width: 100%;
			height: 400px;
		}
		.card__title {
			margin-bottom: 10px;
			margin-top: 50px;
			min-height: auto;
		}
		.card__link {
			bottom: 40px;
			display: block;
		}
		.card__rating {
			//margin-top: 20px;
		}
		.open__description {
			.open__description-img {
				transform: rotate(180deg);
			}
		}
	}

	.card__img {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		transition: 0.8s ease;
		background-color: #fff;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate(-50%, -50%);
			pointer-events: auto;
		}
	}

	.card__description {
		position: absolute;
		left: 0;
		top: auto;
		bottom: -109px;
		padding: 0 30px;
		background-color: #fff;
		width: 100%;
		height: 109px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		z-index: -1;
		transform: none;
		transition: 0.8s ease;
		overflow: hidden;
		opacity: 1;
		visibility: visible;
	}

	.card__rating {
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
		margin-top: 10px;
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
	}

	.rating {
		font-family: Montserrat,sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		text-align: center;
		color: #FFBB56;
		margin-left: 0;
		span {
			font-size: 14px;
		}
	}

	.card__title {
		width: 100%;
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 120%;
		text-align: center;
		color: #182534;
		margin-top: 40px;
		margin-bottom: 50px;
		min-height: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.film__description {
		width: 100%;
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 143%;
		text-align: center;
		color: #182534;
		margin-bottom: 10px;
	}

	.film__genre {
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 143%;
		text-align: center;
		color: #182534;
		span {
			font-weight: bold;
		}
	}

	.card__link {
		position: absolute;
		left: 50%;
		bottom: 40px;
		transform: translateX(-50%);
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 144%;
		text-decoration: underline;
		color: #0088CC;
		display: none;
	}

	.open__description {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		cursor: pointer;
		transition: 0.3s ease;
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		.open__description-img {
			pointer-events: auto;
		}
	}
	.main__link {
		margin-bottom: 50px;
		z-index: 100;
		position: relative;
	}
	.img__chair {
		top: -170px;
		margin-left: 170px;
		width: 140px;
	}
	.img__popcorn-small {
		bottom: -60px;
		margin-left: -180px;
		width: 110px;
	}
	.mobile__grains-small5 {
		bottom: 100px;
		margin-left: -180px;
	}
	.mobile__grains-big1 {
		display: block;
		bottom: 529px;
		margin-left: 162px;
		width: 180px;
	}
	.mobile__grains-big2 {
		display: block;
		bottom: 1236px;
		margin-left: -154px;
	}
	.mobile__grains-big3 {
		display: block;
		bottom: 1606px;
		margin-left: 164px;
	}
	.mobile__grains-big4 {
		display: block;
		width: 180px;
		bottom: 1943px;
		margin-left: -185px;
	}
	.mobile__grains-small1 {
		display: block;
		bottom: 2180px;
		margin-left: 165px;
	}
	.mobile__grains-big5 {
		display: block;
		width: 196px;
		bottom: 2504px;
		margin-left: 171px;
		transform: translateX(-50%) rotate(
				-130deg
		);
	}
	.mobile__grains-small2 {
		display: block;
		bottom: 2736px;
		margin-left: -176px;
	}
	.mobile__grains-big6 {
		display: block;
		bottom: 3197px;
		margin-left: 171px;
	}
	.mobile__grains-big7 {
		display: block;
		bottom: 3732px;
		margin-left: -171px;
	}
	.mobile__grains-small3 {
		display: block;
		bottom: auto;
		top: 550px;
		margin-left: 169px;
	}
	.img__cracker {
		top: 177px;
		margin-left: 165px;
		width: 175px;
	}
	.img__popcorn-big {
		top: -45px;
		margin-left: -195px;
		width: 155px;
	}
	.mobile__grains-small4 {
		display: block;
		bottom: auto;
		top: -52px;
		margin-left: -126px;
	}
	.mobile__grains-big8 {
		display: block;
		bottom: auto;
		top: 152px;
		margin-left: -177px;
	}
	.mobile__grains-big9 {
		display: block;
		bottom: auto;
		top: -64px;
		margin-left: 150px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 414px) {
	.slide__1 {
		opacity: 0;
	}
	.slide__2 {
		opacity: 0;
	}
	.slide__3 {
		width: 315px;
		height: 450px;
		top: 25px;
		left: 8%;
		z-index: 4;
		opacity: 1;
	}
	.slide__5 {
		width: 315px;
		height: 450px;
		top: 25px;
		left: 78%;
		z-index: 4;
		opacity: 1;
	}
	.slide__6 {
		opacity: 0;
	}
	.slide__7 {
		opacity: 0;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 375px) {
	.header__title {
		font-size: 3.5vw;
	}
	.header__logo {
		margin-right: 5vw;
	}
	.slider__wrapper {
		width: 100%;
		height: 455px;
		position: relative;
		margin: 0 auto;
	}
	.slider {
		height: 100%;
	}
	.slide__4 {
		width: 320px;
		height: 450px;
		left: 41.6%;
		top: 0;
		z-index: 5;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 320px) {
	.slider__wrapper {
		width: 100%;
		height: 405px;
		position: relative;
		margin: 0 auto;
	}
	.slide__4 {
		width: 290px;
		height: 400px;
		left: 42.5%;
		top: 0;
		z-index: 5;
	}
	.slide__3 {
		width: 290px;
		height: 400px;
		top: 0;
		left: 8%;
	}
	.slide__5 {
		width: 290px;
		height: 400px;
		top: 0;
		left: 78%;
	}
}




