
.modal__close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 1000;
}

.privacy-policy-popup {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: 0.3s ease;
}

.privacy-policy-popup.active {
	opacity: 1;
	visibility: visible;
	z-index: 10000;
}

.privacy-policy__wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
	height: auto;
	padding: 50px;
	background: #fff;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
}

.privacy-policy__headline {
	width: 100%;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 100%;
	text-align: left;
	color: #000;
	margin-bottom: 20px;
}

.privacy-policy__text {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	text-align: left;
	color: #000;
	margin-bottom: 10px;
}

.privacy__close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 1000;
}

@media (max-width: 880px) {
	.privacy-policy__wrapper {
		width: calc(100% - 60px);
	}
}

@media (max-width: 700px) {
	.privacy-policy__wrapper {
		width: calc(100% - 30px);
		height: 500px;
		padding: 50px 15px;
		overflow: auto;
	}
	.privacy-policy__headline {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.privacy-policy__text {
		font-size: 14px;
	}
}

@media (max-width: 414px) {
	.privacy-policy__wrapper {
		width: 100%;
		height: 100%;
		padding: 50px 25px;
		overflow: auto;
		border-radius: 0;
	}
}

@media (max-width: 320px) {
	.privacy-policy__wrapper {
		width: 100%;
		height: 100%;
		padding: 60px 20px;
		overflow: auto;
		border-radius: 0;
	}
}
