.site__main {
	width: 100%;
	height: auto;
}

.video__section {
	width: 100%;
	height: auto;	 
}

.video__wrapper {
	width: 100%;
	height: auto;
	padding-bottom: 68px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.video__title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	color: #1D8E09;
	margin-bottom: 13px;
}

.video__text {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.3;
	text-align: center;
	color: #333333;
	margin-bottom: 14px;
}

.video {
	overflow: hidden;
	width: 100%;
	height: 247px;
	position: relative;
	border-radius: 20px;
	cursor: pointer;

	iframe {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 100;
	}

	img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}
}

.video:before {
	content: "";
	width: 85px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url(../img/youtube.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.advantage__wrapper {
	width: 400px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 80px;
	margin: auto;
}

.advantage__title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	color: #1D8E09;
	margin-bottom: 11px;
}

.advantage__subtitle {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
	color: #295959;
	margin-bottom: 14px;
}

.advantage__text {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.3;
	text-align: center;
	color: #333333;
	margin-bottom: 13px;
}

.advantage__img-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	margin-top: 10px;
	margin-bottom: 21px;
	border-radius: 20px;
}

.advantage__img-wrapper1 {
	height: 222px;
	.advantage__img {
		width: 101%;
		// margin-left: -2px;
	}
}

.advantage__img-wrapper2 {
	height: 362px;
}

.advantage__img-wrapper3 {
	height: 380px;
}

.advantage__img {
	height: auto;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.advantage__wrapper .header__order-btn {
	margin-top: 10px;
	margin-bottom: 0;
}


.information__section {
	width: 400px;
	height: auto;
	padding-bottom: 38px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info__img-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-bottom: 30px;
}

.info__img-wrapper1 {
	height: 400px;
}

.info__img-wrapper2 {
	height: 667px;
}

.info__img-wrapper3 {
	height: 204px;
}

.info__img-wrapper4 {
	height: 284px;
}

.info__img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.certificate__section {
	width: 400px;
	height: auto;
	margin: auto;
	padding-bottom: 74px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.certificate__title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	color: #1D8E09;
	margin-bottom: 11px;
}

.certificate__text {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	color: #295959;
	margin-bottom: 23px;
}

.certificate__img-wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	margin-bottom: 19px;
}

.certificate__img-wrapper1 {
	height: 275px;
}

.certificate__img-wrapper2 {
	height: 575px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	margin-bottom: 30px;

	.certificate__img {
		height: 103%;
		width: auto;
	}
}

.certificate__img-wrapper3 {
	height: 285px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	margin-bottom: 19px;

	.certificate__img {
		width: 102%;
	}
}

.certificate__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
}

.certificate__title-small {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
	color: #CD3333;
	margin-bottom: 14px;
}

.certificate__text-small {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.3;
	text-align: center;
	color: #333333;
}

.card__section {
	width: 100%;
	height: auto;
	padding-bottom: 40px;
}

.card {
	width: 100%;
	height: auto;
	background: #307618;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 39px 40px 47px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 12px;
}

.star__raiting {
	margin-bottom: 20px;
	display: flex;
}

.product__logo {
	margin-bottom: 30px;
}

.card__img {
	width: 340px;
	margin-bottom: 30px;
}

.card__form {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__input-wrapper {
	width: 100%;
}

.card__input {
	width: 100%;
	height: 60px;
	background: #EDF8F4;
	border-radius: 20px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	color: #333333;
	margin-bottom: 15px;
	padding: 0 20px;
}

.card__input::placeholder {
	color: #333333;
}

.card__select {
	width: 100%;
	height: 60px;
	background: #EDF8F4;
	border-radius: 20px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	color: #333333;
	margin-bottom: 15px;
	padding: 0 20px;
	background-image: url(../img/triangle.png);
	background-repeat: no-repeat;
	background-position: right 25px center;
}

.card__info-price {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.card__price {
	margin-bottom: 15px;
	.old__price {
		color: #DBDBDB;
	}
	.new__price {
		font-size: 30px;
		text-align: center;
		color: #FFE600;
	}
}

.card {
	.remainder {
		color: #FFFFFF;
		margin: 0;
		span {
			color: #FFE600;
		}
	}
}

.application__section {
	width: 400px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.application__img-wrapper {
	width: 100%;
	position: relative;
	border: 10px solid #307618;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 68px;
}

.application__img-wrapper1 {
	height: 400px;
}

.application__img-wrapper2 {
	border: none;
	height: 116px;
}

.application__img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: auto;
	transform: translate(-50%, -50%);
}

.application__title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	color: #1D8E09;
	margin-bottom: 11px;
}

.application__text {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
	color: #295959;
	margin-bottom: 23px;
	span {
		color: #CD3333;
	}
}

.applications {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.application__block {
	width: 149px;
	height: auto;
	margin-bottom: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.application__logo {
	width: 100%;
	height: 154px;
	border: 10px solid #307618;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	margin-bottom: 12px;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 129px;
		height: auto;
	}
}

.application__block-text {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
	color: #333333;
}

.application__text-small {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.3;
	text-align: center;
	color: #333333;
	margin-bottom: 13px;
	width: 360px;
}

.review__section {
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}

.review__wrapper {
	width: 100%;
	height: auto;
	position: relative;
}

.review__title {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	color: #1D8E09;
	margin-bottom: 22px;
}

.reviews {
	width: 440px;
}

.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.review {
	width: 440px;
	height: 621px;
	padding: 19px 20px 30px;
	background: #307618;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.review__text {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.5;
	color: #FFFFFF;
	height: 180px;
}

.review__img-wrapper  {
	width: 400px;
	height: 300px;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
}

.review__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
}

.review__autor {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.star__raiting {
		margin: 0;
		display: flex;
	}
	.star {
		width: auto !important;
	}
}

.autor {
	display: flex;
	align-items: center;
}

.autor__img-wrapper {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	position: relative;
	overflow: hidden;
	margin-right: 20px;
}

.autor__img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
}

.autor__name {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.5;
	color: #FFFFFF;
}

.owl-nav {
	width: 400px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 20px;
	button {
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background: url(../img/btn.png) center no-repeat !important;
		span {
			display: none;
		}
	}
	.owl-next {
		transform: rotate(180deg);
	}
}

.owl-dots {
	margin: 0 auto;
	width: 60px;
	display: flex;
	justify-content: space-between;
	margin-top: -30px;
	button {
		width: 12px;
		height: 12px;
		background: #307618 !important;
		border-radius: 100%;
	}

	button.active {
		background: transparent !important;
		border: 3px solid #307618;
	}
}

.add__review {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 20px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	color: #444444;
}

