.footer__section {
    width: 100%;
    height: auto;

    .header__top {
        background: linear-gradient(138.16deg, #000A86 11.17%, #00B6F8 99.18%);
    }

    .header__main {
        background-image: url(../img/footer-main.jpg);
    }

    .header__bottom {
        // padding-bottom: 37px;
        padding-bottom: 0;
        background: linear-gradient(138.16deg, #000A86 11.17%, #00B6F8 99.18%);
    }

    .header__date {
        margin-bottom: 37px;
    }
}


.footer__line {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer__line-wrapper {
    width: 100%;
    height: auto;
    padding: 11px 20px;
}

.footer__line-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    color: #C7C7C7;

    a:hover {
        text-decoration: underline;
    }
}
