.info__section {
    width: 100%;
    height: auto;
}

.info__section-wrapper {
    width: 100%;
    height: auto;
    padding: 38px 0 44px;
    position: relative;
}

.info__decor-1 {
    position: absolute;
    top: 7px;
    left: -30px;
}

.info__decor-2 {
    position: absolute;
    top: 72px;
    right: -43px;
}

.info__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #073E71;
    margin-bottom: 9px;
}

.info__subtitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
    color: #FF3D00;
    margin-bottom: 41px;
}

.info__img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    

    &:last-child {
        margin-bottom: 41px;
    }
}

.info__list {
}

.info__list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        flex-shrink: 0;
        margin-right: 20px;
    }

    span {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.3;
        color: #222222;
    }
}