.info2__section {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #FFE99D 0%, #FFFFFF 37.5%, #FFFFFF 68.75%, #FFE99D 100%);
}

.info2__section-wrapper {
    width: 100%;
    height: auto;
    padding: 38px 0 45px;
}

.info2__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FF3D00;
    margin-bottom: 34px;
}

.info2__items {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px;
}

.info2__item {
    width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.info2__item-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #073E71;
}

.info2__main {
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px 0;

    img {
        width: 100%;
        height: auto;
    }
}

.info2__item-1, .info2__item-2 {
    .info2__item-text {
        margin-bottom: 15px;
    }
}

.info2__item-3, .info2__item-4 {
    .info2__item-text {
        margin-top: 15px;
    }
}

.info__line {
    position: absolute;
    width: auto !important;
    height: auto !important;
}

.info__line-1 {
    top: -5px;
    left: 41px;
}

.info__line-2 {
    top: -5px;
    right: 103px;
}

.info__line-3 {
    bottom: -5px;
    left: 105px;
}

.info__line-4 {
    bottom: -5px;
    right: 45px;
}
