.review__section {
    width: 100%;
    height: auto;
}

.review__section-wrapper {
    width: 100%;
    height: auto;
    padding: 38px 0 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FF3D00;
    margin-bottom: 42px;
}

.review__slider {
    width: 480px;
    height: auto;

    .owl-dots {
        margin-bottom: 11px;
    }
}

.review__slide {
    width: 440px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card__raiting {
        margin-bottom: 0;
    }
}

.review__slider .owl-stage-outer {
    padding-top: 52px;
    padding-bottom: 20px;
}

.review__quote-wrapper {
    width: 104px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #FF5C00 0%, #FF2E00 100%);
    border-radius: 20px; 
    margin-top: -52px;
    margin-bottom: 4px;  
    
    img {
        width: 64px !important;
        height: auto;
    }
}

.review__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
    padding: 0 20px;
}

.review__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #073E71;
}


.review__img {
    width: 100%;
    height: auto;
    margin-bottom: 19px;
}

.review__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #222222;
    padding: 0 20px 42px;
}

.add__review {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #333333;
    background-color: transparent;
    cursor: pointer;
}