.footer__section {
    width: 100%;
    height: auto;
    background: #FFB001;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
        content: "";
        width: 100%;
        height: 198px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/galary-bg-top.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }

    &:after {
        content: "";
        width: 1600px;
        height: 800px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(253, 97, 48, 0.46) 0%, #FFB001 100%);
        filter: blur(10px);
        position: absolute;
        top: -200px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}

.footer__section-wrapper {
    width: 100%;
    height: auto;
    padding-top: 186px;
    padding-bottom: 90px;
}

.footer__content {
    width: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;

    &:before {
        content: "";
        width: 830px;
        height: 700px;
        border-radius: 100%;
        background: linear-gradient(78.46deg, #FC4A5F 12.39%, #FF8D39 95.01%);
        transform: rotate(26.28deg);
        position: absolute;
        top: -300px;
        left: -840px;
    }

    .header__title {
        text-align: center;
        margin-bottom: 98px;

        br {
            display: none;
        }
    }

    .info__center {
        top: auto;
        left: auto;
        transform: none;
        bottom: -507px;
        right: -1100px;
    }
}

.footer__decor-1 {
    position: absolute;
    bottom: -205px;
    left: -654px;
}

.footer__decor-2 {
    position: absolute;
    width: 434px;
    height: auto;
    top: -50px;
    right: -679px;
    transform: rotate(15deg);
    z-index: 2;
}

.footer__boot-1 {
    position: absolute;
    top: -30px;
    right: -480px;
    transform: rotate(-30deg);
    width: 550px;
    z-index: 3;
}

.footer__boot-2 {
    position: absolute;
    top: -30px;
    left: -465px;
    transform: rotate(15deg);
    z-index: 3;
    width: 540px;
}

.header__title {
}
.header__price {
}
.header__discount {
}
.pulse {
}
.price {
}
.old__price {
}
.new__price {
}
.header__btn-wrapper {
}
.order__btn {
}
.header__date {
}

.footer__line {
    width: 100%;
    height: auto;
    background: #FF9901;
    position: relative;
    z-index: 5;
}

.footer__line-wrapper {
    width: 100%;
    height: auto;
    padding: 17px 0;
}

.footer__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #555555;

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}