@font-face {
	font-family: Roboto;
	font-weight: 500;
	src: url("../fonts/Roboto-Medium.woff2");
}

@font-face {
	font-family: Roboto;
	font-weight: 900;
	src: url("../fonts/Roboto-Black.woff2");
}

@font-face {
	font-family: Sarpanch;
	font-weight: 500;
	src: url("../fonts/Sarpanch-Medium.woff2");
}

@font-face {
	font-family: Sarpanch;
	font-weight: 900;
	src: url("../fonts/Sarpanch-Black.woff2");
}




