.card__section {
	width: 100%;
	height: auto;
	position: relative;
	padding-top: 150px;
	padding-bottom: 200px;
	z-index: 1;

	&:before {
		content: "";
		width: 65%;
		height: 100%;
		background-color: #fff;
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.card {
	width: 100%;
	height: auto;
	background: linear-gradient(180deg, #18359B 0%, #101276 100%);
	padding: 0 50px;
}
