@import "fonts";
@import "main";
@import "header";
@import "info";

@media (max-width: 1440px) {
    .header__phone-1 {
        top: -160px;
        left: -320px;
        width: 330px;
    }
    .header__phone-3 {
        top: 365px;
        right: -570px;
        width: 550px;
    }
    .header__phone-2 {
        top: -30px;
        right: -445px;
        width: 342px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 700px;
    }
    .header__decor {
        display: none;
    }
    .bar {
        width: 100%;
        height: 410px;
    }
    .bar__item span {
        font-size: 64px;
    }
    .bar__column__2 .bar__item span {
        font-size: 90px;
    }
    .bar:before {
        width: 28px;
        height: 28px;
        top: 50%;
        left: -15px;
    }
    .bar:after {
        width: 28px;
        height: 28px;
        top: 50%;
        right: -15px;
    }
    .divider__horizontal {
        width: 100%;
        height: 15px;
        border: 5px solid rgba(0, 239, 139, 0.4);
        border-left: none;
        border-right: none;
    }
    .divider__horizontal:before {
        content: "";
        width: 100%;
        height: 8px;
        background-color: #fff;
        border: 3px solid rgba(0, 239, 139, 0.7);
    }
    .info__decor-1 {
        bottom: -295px;
        left: -430px;
        width: 128%;
        transform: rotate(-70deg);
        filter: none;
    }
    .main__img {
        margin-left: -50px;
        margin-bottom: 26px;
        width: 100%;
    }
    .header__logo {
        display: none;
    }
    .footer__logo {
        display: none;
    }
    .hide__phone-2 {
        display: none;
    }
    .hide__phone-3 {
        display: none;
    }
    .discount-1 {
        top: 10px;
        left: 30px;
    }
    .discount-3 {
       display: none;
    }
    .discount-4 {
        display: none;
    }
    .discount-5 {
        position: absolute;
        top: auto;
        right: 30px;
        bottom: 20px;
    }
    .discount-2 {
        display: none;
    }
    .header__decor-mobile {
        display: block;
        position: absolute;
        top: -132px;
        right: -320px;
    }
}

@media (max-width: 700px) {
    .container {
        width: calc(100% - 30px);
    }
    .mobile__imgs {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 15px;

        img {
            width: 28%;
        }
    }
    .header__decor-1 {
        display: none;
    }
    .info__decor-2 {
        display: none;
    }
    .bar {
        width: 100%;
        height: 56vw;
    }
    .bar__info {
        margin-bottom: -40px;
    }
    .bar__item span {
        font-size: 9vw;
    }
    .bar__column__2 .bar__item span {
        font-size: 13vw;
    }
    .info__decor-1 {
        bottom: -261px;
        left: -245px;
        width: 110%;
        transform: rotate(-79deg);
    }
    .header__decor-mobile {
        top: -150px;
        right: -300px;
    }
    .info__section-wrapper {
        padding-bottom: 80px;
    }
    .header__hide .order__btn {
        margin-bottom: 63px;
    }
    .discount-5 {
        right: -15px;
        bottom: 31px;
    }
    .discount-1 {
        top: 31px;
        left: -15px;
    }
}