@import "fonts";
@import "main";
@import "header";
@import "info";

@media (max-width: 1440px) {
    .header__phone-1 {
        top: -160px;
        left: -320px;
        width: 330px;
    }
    .header__phone-3 {
        top: 365px;
        right: -570px;
        width: 550px;
    }
    .header__phone-2 {
        top: -30px;
        right: -445px;
        width: 342px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 700px;
    }
    .header__decor {
        display: none;
    }
    .bar {
        width: 100%;
        height: 410px;
    }
    .bar__item span {
        font-size: 64px;
    }
    .bar__column__2 .bar__item span {
        font-size: 90px;
    }
    .bar:before {
        width: 28px;
        height: 28px;
        top: 50%;
        left: -15px;
    }
    .bar:after {
        width: 28px;
        height: 28px;
        top: 50%;
        right: -15px;
    }
    .divider__horizontal {
        width: 100%;
        height: 15px;
        border: 5px solid rgba(0, 239, 139, 0.4);
        border-left: none;
        border-right: none;
    }
    .divider__horizontal:before {
        content: "";
        width: 100%;
        height: 8px;
        background-color: #fff;
        border: 3px solid rgba(0, 239, 139, 0.7);
    }
    .info__decor-1 {
        bottom: -295px;
        left: -430px;
        width: 128%;
        transform: rotate(-70deg);
        filter: none;
    }
    .main__img {
        margin-left: -50px;
        margin-bottom: 26px;
        width: 100%;
    }
    .header__logo {
        display: none;
    }
    .footer__logo {
        display: none;
    }
    .hide__phone-2 {
        display: none;
    }
    .hide__phone-3 {
        display: none;
    }
    .discount-1 {
        top: 10px;
        left: 30px;
    }
    .discount-3 {
       display: none;
    }
    .discount-4 {
        display: none;
    }
    .discount-5 {
        position: absolute;
        top: auto;
        right: 30px;
        bottom: 20px;
    }
    .discount-2 {
        display: none;
    }
    .header__decor-mobile {
        display: block;
        position: absolute;
        top: -132px;
        right: -320px;
    }
}

@media (max-width: 700px) {
    .container {
        width: calc(100% - 30px);
    }
    .mobile__imgs {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 15px;

        img {
            width: 28%;
        }
    }
    .header__decor-1 {
        display: none;
    }
    .info__decor-2 {
        display: none;
    }
    .bar {
        width: 100%;
        height: 56vw;
    }
    .bar__info {
        margin-bottom: -40px;
    }
    .bar__item span {
        font-size: 9vw;
    }
    .bar__column__2 .bar__item span {
        font-size: 13vw;
    }
    .info__decor-1 {
        bottom: -261px;
        left: -245px;
        width: 110%;
        transform: rotate(-79deg);
    }
    .header__decor-mobile {
        top: -150px;
        right: -300px;
    }
    .info__section-wrapper {
        padding-bottom: 80px;
    }
    .header__hide .order__btn {
        margin-bottom: 63px;
    }
    .discount-5 {
        right: -15px;
        bottom: 31px;
    }
    .discount-1 {
        top: 31px;
        left: -15px;
    }
}

@media (max-width: 540px) {
    .header__title {
        font-size: 4.8vw;
        
        br {
            display: none;
        }
    }
    .timer {
        font-size: 4.8vw;
        line-height: 1.3;
    }
    .bar__info {
        width: calc(100% - 24px);
        height: 27vw;
        border-radius: 30px;
        margin-bottom: -15px;
        padding: 0 10px;
    }
    .bar__info:before {
        border-radius: 25px;
    }
    .bar__info:after {
        border-radius: 20px;
    }
    .bar__info-text {
        font-size: 4.2vw;
    }
    .bar {
        height: 54vw;
    }
    .bar__item span {
        font-size: 8vw;
    }
    .bar__column__2 .bar__item span {
        font-size: 12vw;
    }
    .bar__column__1 .bar__item-center {
        margin-left: -3.5vw;
    }
    .bar__column__3 .bar__item-center {
        margin-left: 3.5vw;
    }
    .bar__column__2 .bar__item-top {
        margin-top: 6vw;
    }
    .bar__column__2 .bar__item-bottom {
        margin-top: -6vw;
    }
    .order__btn {
        width: 100%;
        max-width: 385px;
    }
    .info__decor-1 {
        bottom: -132px;
        left: -155px;
        width: 105%;
    }
    .header__decor-mobile {
        top: -100px;
        right: -191px;
        width: 390px;
    }
    .header__title-2 {
        font-size: 8vw;
        position: relative;
        z-index: 2;
    }
    .info__text {
        font-size: 6.5vw;
    }
    .header__hide .order__btn {
        font-size: 32px;
    }
    .discount-5 {
        right: 0px;
        bottom: 40px;
    }
    .main__img {
        margin-left: -15vw;
        margin-bottom: 25px;
        width: 115%;
    }
    .discount-1 {
        top: 28px;
        left: -15px;
    }
}   

@media (max-width: 414px) {
    .logo {
        width: 48vw;
    }
    .order__btn {
        height: 21.5vw;
        font-size: 9.5vw;
    }
    .discount {
        width: 23vw;
    }
    .header__hide .order__btn {
        width: 100%;
        height: 21.5vw;
        font-size: 8vw;
    }
    .bar__info-text {
        font-size: 4vw;
    }
}

@media (max-width: 320px) {
    .bar {
        height: 53vw;
    }
    .info__decor-1 {
        bottom: -105px;
        left: -131px;
        width: 125%;
    }
    .discount-5 {
        right: 0px;
        bottom: 54px;
    }
    .bar__info-text {
        font-size: 3.8vw;
    }
}