.site__main {
	width: 100%;
	height: auto;
}

.advantage__section {
	width: 100%;
	height: auto;
}

.advantage__wrapper {
	width: 100%;
	height: auto;
	padding-bottom: 114px;
}

.advantage__info-block {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 90px;
}

.advantage__info-title {
	width: 50%;
	font-weight: bold;
	font-size: 40px;
	line-height: 1.3;
	text-transform: uppercase;
	color: #1748AB;
	flex-shrink: 0;
}

.advantage__info-text {
	font-weight: normal;
	font-size: 20px;
	line-height: 1.5;
	color: #3C505B;
}

.advantages {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.advantage {
	width: 31.5%;
	height: auto;
	border-radius: 30px;
	padding: 40px 30px 35px;
}

.advantage__logo-wrapper {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 29px;
}

.advantage__title {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.3;
	color: #135277;
	margin-bottom: 13px;
}

.advantage__text {
	font-weight: normal;
	font-size: 24px;
	line-height: 1.3;
	color: #3C505B;
}

.advantage__1 {
	background: #B1E9FF;

	.advantage__logo-wrapper {
		background: #01C3FF;
	}
}

.advantage__2 {
	background: #FFCCB4;

	.advantage__logo-wrapper {
		background: #FF8E4F;
	}
}

.advantage__3 {
	background: #DEC9FF;

	.advantage__logo-wrapper {
		background: #A682FE;
	}
}










.info__section {
	width: 100%;
	height: auto;
}

.info__wrapper {
	width: 100%;
	height: auto;
	position: relative;
}

.info__telephone {
	position: absolute;
	top: 0;
	left: -380px;
	z-index: -1;
}

.info__content {
	width: 437px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 150px;
	padding-top: 20px;
	margin-left: auto;
}

.info__title {
	font-weight: bold;
	font-size: 40px;
	line-height: 1.3;
	text-transform: uppercase;
	color: #1748AB;
	margin-bottom: 39px;
}

.info__stages {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 26px;
}

.info__stage {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 30px;
	border-radius: 30px;
	padding: 19px 30px 25px 27px;

	&:last-child {
		margin-bottom: 0;
	}
}

.info__number {
	font-weight: bold;
	font-size: 48px;
	line-height: 1;
	margin-right: 22px;
	flex-shrink: 0;
}

.info__text {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.3;
	color: #135277;
}

.info__stage-1 {
	background: #B1E9FF;

	.info__number {
		color: #01C3FF;
	}
}

.info__stage-2 {
	background: #FFCCB4;

	.info__number {
		color: #FF8E4F;
	}
}

.info__stage-3 {
	background: #DEC9FF;

	.info__number {
		color: #A682FE;
	}
}

.info__boots-block {
	width: 640px;
	height: 600px;
	position: absolute;
	top: 20px;
	left: 20px;
	// border: 1px solid black;

	img {
		position: absolute;
	}

	&:before {
		content: "";
		position: absolute;
		top: 2%;
		right: 3%;
		border-radius: 100%;
		width: 85%;
		height: 91%;
		background: linear-gradient(157.07deg, #FFD147 11.47%, #FD9246 88.83%);
		box-shadow: 20px 0px 20px rgba(255, 206, 56, 0.25);
		animation: scale 4s infinite;
		animation-delay: 2s;
	}

	&:after {
		content: "";
		position: absolute;
		background: linear-gradient(162.74deg, #7A70EC 9.38%, #3C32AA 88.14%);
		box-shadow: 0px 20px 20px rgba(106, 97, 211, 0.25);
		bottom: 16%;
    	left: -10%;
		border-radius: 100%;
		width: 43%;
		height: 46%;
		z-index: -1;
		animation: scale 6s infinite;
	}
}


@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.info__boot-1 {
	top: -6%;
    right: -4%;
    width: 67%;
}

.info__boot-2 {
	bottom: -13%;
    left: -10%;
    width: 115%;
}






.galary__section {
	width: 100%;
	height: auto;
}

.galary__wrapper {
	width: 100%;
	height: auto;
	position: relative;
	padding-bottom: 100px;

	&:before {
		content: "";
		width: 120px;
		height: 120px;
		border-radius: 100%;
		background: linear-gradient(162.74deg, #48E97F 9.38%, #36C8CC 88.14%);
		box-shadow: 0px 20px 20px rgba(54, 200, 204, 0.25);
		position: absolute;
		top: -60px;
		right: -60px;
		z-index: 5;
		animation: scale 4s infinite;
		animation-delay: 2s;
	}

	&:after {
		content: "";
		width: 120px;
		height: 120px;
		border-radius: 100%;
		background: linear-gradient(215.92deg, #FB8879 9.07%, #F95DA6 87.91%);
		box-shadow: 0px 20px 20px rgba(249, 93, 166, 0.25);
		position: absolute;
		left: -170px;
		bottom: 345px;
		animation: scale 6s infinite;
	}
}

.galary__lamp {
	position: absolute;
	bottom: 0;
	right: -230px;
}

.galary {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.galary__block {
	width: 31.5%;
	height: 805px;;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.galary__img-wrapper {
	width: 100%;
	height: auto;
	overflow: hidden;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	transition: 0.3s ease;

	img {
		width: 100%;
		height: auto;
		transition: 0.3s ease;
	}

	&:hover {
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
		img {
			transform: scale(1.05);
		}
	}
}
