/////////////////////////////////////////////////////////////////////
@media (max-width: 1440px) {
	.container {
		width: 1000px;
	}
	.site__header {
		width: 100%;
		height: 940px;
	}
	.header__content {
		padding-top: 50px;
		width: 560px;
	}
	.header__title {
		font-size: 54px;
		margin-bottom: 20px;
	}
	.header__subtitle {
		font-size: 28px;
		margin-bottom: 50px;
	}
	.header__img {
		width: 46vw;
	}
	.header__dots-big {
		top: -22vw;
		right: -38vw;
		width: 73vw;
	}
	.header__dots-small {
		top: -20px;
		left: -390px;
		width: 400px;
	}
	.header__tangerine-1 {
		top: 100px;
    	left: -250px;

		img {
			width: 220px;
		}
	}
	.header__tangerine-2 {
		top: 65px;
		left: -100px;
	}
	.header__tangerine-3 {
		top: 15px;
		left: 480px;
	}
	.header__tangerine-4 {
		top: 290px;
		left: 400px;
	}
	.header__tangerine-5 {
		top: 400px;
		left: 390px;
		img {
			width: 200px;
		}
	}
	.advantage__section {
		background-size: 100%;
		height: 1060px;
	}
	.advantage__column {
		width: 470px;
	}
	.advantage__column-block {
		width: 230px;
	}
	.advantage__column-right {
		padding-top: 100px;
	}
	.advantage__info {
		font-size: 16px;
	}
	.advantage__img {
		width: 560px;
	}
	.advantage__tangerine-1 {
		top: 390px;
		left: -215px;
	}
	.advantage__leaf-1 {
		top: 539px;
		left: -245px;
	}
	.advantage__tangerine-2 {
		top: 840px;
		left: -175px;
	}
	.advantage__tangerine-3 {
		top: 250px;
		right: -190px;
	}
	.advantage__leaf-2 {
		top: 475px;
		right: -190px;
	}
	.advantage__tangerine-4 {
		top: 660px;
		right: -140px;
	}
	.advantage__leaf-3 {
		top: 820px;
		right: -190px;
	}
	.video__section {
		padding: 70px 0;
	}
	.video__left {
		width: 480px;
	}
	.video__right {
		width: 480px;
	}
	.video__title {
		font-size: 28px;
	}
	.video {
		height: 360px;
	}
	.video__dots {
		top: 170px;
		left: -440px;
	}
	.video__tangerine-big {
		top: 310px;
		right: -420px;
	}
	.video__tangerine-1 {
		top: -190px;
		left: -255px;
		img {
			width: 200px;
		}
	}
	.video__tangerine-2 {
		top: 150px;
		left: -200px;
	}
	.video__leaf-2 {
		top: 25px;
		right: -305px;
	}
	.galary__block {
		width: 100%;
	}
	.galary__block-wrapper {
		width: 475px;
	}
	.galary__img {
		width: 100%;
		display: block;
	}
	.galary__block {
		padding-bottom: 375px;
	}
	.bonus__content {
		width: 100%;
	}
	.bonus__img {
		width: 475px;
	}
	.bonus__block-text {
		width: 475px;
		height: auto;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	.header__img {
		width: 48vw;
	}
	.header__dots-big {
		top: -24vw;
		right: -34vw;
		width: 78vw;
	}
	.header__content {
		padding-top: 50px;
		width: 500px;
	}
	.header__title {
		font-size: 48px;
		margin-bottom: 20px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1000px) {
	.container {
		width: 800px;
	}
	.site__header {
		height: 860px;
	}
	.header__img {
		width: 52vw;
	}
	.header__dots-big {
		top: -24vw;
		right: -26vw;
		width: 78vw;
	}
	.header__content {
		padding-top: 40px;
		width: 374px;
	}
	.header__title {
		font-size: 35px;
		margin-bottom: 20px;
	}
	.header__subtitle {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.header__tangerine-2 {
		display: none;
	}
	.header__tangerine-1 {
		top: 165px;
    	left: -101px;
		img {
			width: 80px;
		}
	}
	.header__dots-small {
		top: -20px;
		left: -300px;
		width: 330px;
	}
	.header__tangerine-3 {
		top: 15px;
		left: 350px;
	}
	.header__tangerine-4 {
		display: none;
	}
	.header__tangerine-5 {
		display: none;
	}
	.advantage__section {
		width: 100%;
		height: auto;
	}
	.advantage__wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.advantage__img {
		position: static;
		transform: none;
		bottom: auto;
		left: auto;
		width: 100%;
		margin-bottom: 20px;
	}
	.advantage__column {
		width: 100%;
	}
	.advantage__title {
		text-align: center;
	}
	.advantage__text {
		text-align: center;
	}
	.advantage__column-right {
		padding-top: 0px;
	}
	.advantage__column-block {
		width: 48%;
	}
	.advantage__tangerine-1 {
		display: none;
	}
	.advantage__leaf-1 {
		display: none;
	}
	.advantage__tangerine-2 {
		display: none;
	}
	.advantage__tangerine-3 {
		display: none;
	}
	.advantage__leaf-3 {
		display: none;
	}
	.advantage__leaf-2 {
		top: 270px;
		right: -8px;
		img {
			transform: rotate(-10deg);
		}
	}
	.advantage__tangerine-4 {
		top: 100px;
		right: auto;
		left: 10px;
	}
	.advantage__dots {
		display: none;
	}
	.video__section {
		padding: 50px 0;
	}
	.video__wrapper {
		flex-direction: column;
		justify-content: flex-start;
	}
	.video__left {
		width: 100%;
	}
	.video__right {
		width: 100%;
	}
	.video__stage-column {
		width: 48%;
	}
	.video__stage {
		width: 100%;
	}
	.video__dots {
		display: none;
	}
	.video__tangerine-big {
		display: none;
	}
	.video__tangerine-1 {
		display: none;
	}
	.video__tangerine-2 {
		display: none;
	}
	.video__leaf-1 {
		display: none;
	}
	.video__tangerine-3 {
		display: none;
	}
	.video__tangerine-4 {
		display: none;
	}
	.video__leaf-2 {
		display: none;
	}
	.video__title {
		font-size: 38px;
	}
	.video__text {
		text-align: center;
	}
	.video {
		height: 460px;
	}
	.galary__block {
		padding-bottom: 320px;
		padding-top: 50px;
	}
	.galary__block-wrapper {
		width: 390px;
	}
	.galary__tangerine-1 {
		display: none;
	}
	.galary__tangerine-2 {
		display: none;
	}
	.galary__leaf-1 {
		display: none;
	}
	.galary__leaf-2 {
		display: none;
	}
	.galary__leaf-3 {
		display: none;
	}
	.galary__tangerine-3 {
		display: none;
	}
	.galary__tangerine-4 {
		display: none;
	}
	.galary__leaf-4 {
		display: none;
	}
	.galary__tangerine {
		display: none;
	}
	.galary__dots {
		display: none;
	}
	.galary__tangerine-5 {
		display: none;
	}
	.galary__tangerine-6 {
		display: none;
	}
	.galary__tangerine-7 {
		display: none;
	}
	.galary__leaf-5 {
		display: none;
	}
	.galary__tangerine-8 {
		display: none;
	}
	.galary__leaf-6 {
		display: none;
	}
	.galary__leaf-7 {
		display: none;
	}
	.galary__tangerine-9 {
		display: none;
	}
	.galary__leaf-8 {
		display: none;
	}
	.galary__title {
		margin: 10px auto 20px;
	}
	.bonus__img {
		width: 390px;
	}
	.bonus__block-text {
		width: 390px;
		height: auto;
	}
	.bonus__section {
		background-position: -300px 310px;
		background-size: 1920px;
		margin-top: -310px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 800px) {
	.container {
		width: 700px;
	}
	.site__header {
		height: auto;
	}
	.header__dots-small {
		display: none;
	}
	.header__img {
		width: 92vw;
	}
	.header__content {
		padding-top: 80vw;
		width: 374px;
		margin: auto;
		margin-bottom: 90px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.header__dots-big {
		top: -15vw;
		right: -28vw;
		width: 120vw;
	}
	.price {
		align-items: center;
	}
	.new__price {
		display: inline-block;
		width: 275px;
	}
	.header__title {
		text-align: center;
	}
	.header__tangerine-1 {
		top: auto;
		bottom: 380px;
		left: 12px;
		img {
			width: 140px;
		}
	}
	.header__tangerine-3 {
		top: auto;
		bottom: 90px;
		left: auto;
		right: 50px;
		img {
			width: 150px;
		}
	}
	.advantage__section {
		margin-top: -70px;
		background-size: 1920px;
		background-position: -200px top;
	}
	.advantage__wrapper {
		padding-top: 70px;
	}
	.info__content {
		width: 100%;
	}
	.galary__block-wrapper {
		width: 340px;
	}
	.bonus__title {
		font-size: 45px;
		margin-bottom: 20px;
	}
	.bonus__img {
		width: 340px;
	}
	.bonus__subtitle {
		width: 100%;
		font-size: 18px;
		margin-bottom: 30px;
	}
	.bonus__block-text {
		width: 340px;
	}
	.bonus__text {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.bonus__order {
		font-size: 26px;
		margin-bottom: 10px;
	}
	.bonus__info {
		font-size: 15px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
	.container {
		width: calc(100% - 40px);
	}
	.header__dots-big {
		top: -15vw;
		right: -22vw;
		width: 120vw;
	}
	.advantage__tangerine-4 {
		left: -40px;
	}
	.advantage__leaf-2 {
		top: 240px;
		right: -44px;
	}
	.video {
		height: 60vw;
	}
	.galary__block-wrapper {
		width: 100%;
	}
	.galary__block-wrapper:last-of-type {
		margin-top: 20px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 480px) {
	.header__dots-big {
		top: -15vw;
		right: -26vw;
		width: 125vw;
	}
	.header__tangerine-1 {
		bottom: 400px;
		left: -15px;
		img {
			width: 80px;
		}
	}
	.header__tangerine-3 {
		bottom: 100px;
		right: -80px;
		img {
			width: 140px;
		}
	}
	.header__content {
		width: 100%;
	}
	.advantage__title {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.advantage__leaf-2 {
		top: 205px;
		right: -44px;
	}
	.advantage__tangerine-4 {
		top: 90px;
	}
	.advantage__info {
		font-size: 18px;
	}
	.advantage__column-block {
		width: 48%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	.advantage__block {
		margin-bottom: 20px;
	}
	.video__section {
		padding: 50px 0 40px;
	}
	.video__title {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.video__stages {
		margin-bottom: 35px;
	}
	.video__stage {
		margin-bottom: 20px;
	}
	.video {
		height: 65vw;
		margin-bottom: 20px;
	}
	.video__text {
		margin-bottom: 10px;
	}
	.info__wrapper {
		padding: 50px 0;
	}
	.info__title {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.info__text {
		margin-bottom: 20px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 414px) {
	.header__tangerine-1 {
		bottom: 95vw;
		left: -15px;
	}
	.header__title {
		font-size: 8vw;
	}
	.header__subtitle {
		font-size: 5.5vw;
	}
	.old__price {
		font-size: 5.5vw;
	}
	.new__price {
		width: 67vw;
		font-size: 9vw;
		span {
			font-size: 11vw;
		}
	}
	.advantage__section {
		background-position: -320px top;
	}
	.advantage__leaf-2 {
		top: 55vw;
		right: -44px;
	}
	.advantage__info {
		font-size: 4.5vw;
	}
	.advantage__tangerine-4 {
		top: 80px;
	}
	.advantage__title {
		font-size: 8vw;
		margin-bottom: 20px;
	}
	.advantage__text {
		font-size: 4.5vw;
	}
	.video__title {
		font-size: 8.8vw;
	}
	.video__stage-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.video__stage-text {
		font-size: 4.5vw;
	}
	.video__text {
		font-size: 4.3vw;
	}
	.info__title {
		font-size: 7vw;
	}
	.info__text {
		font-size: 6vw;
	}
	.galary__title {
		font-size: 6vw;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 320px) {
	.header__tangerine-1 {
		bottom: 102vw;
		left: -30px;
	}
	.header__tangerine-3 {
		bottom: 76px;
		right: -92px;
	}
	.header__order-btn {
		width: 100%;
	}
	.advantage__tangerine-4 {
		top: 70px;
		left: -40px;
		img {
			width: 70px;
		}
	}
	.advantage__leaf-2 {
		top: 59vw;
		right: -50px;
	}
	.advantage__logo {
		width: 50%;
	}
	.advantage__text {
		margin-bottom: 15px;
	}
	.video__section {
		padding: 50px 0 20px;
	}
	.video__stages {
		margin-bottom: 10px;
	}
	.video__icon {
		width: 50%;
	}
}
