@font-face {
    font-family: Montserrat;
    font-weight: normal;
    src: url("../fonts/Montserrat-Regular.woff") format("woff2");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url("../fonts/Montserrat-Bold.woff") format("woff2");
}

@font-face {
    font-family: "Fredoka One";
    font-weight: normal;
    src: url("../fonts/FredokaOne-Regular.woff") format("woff2");
}
