@import "fonts";
@import "main";
@import "header";
@import "info";
@import "advantage";
@import "galary";
@import "card";
@import "secret";
@import "instruction";
@import "advantage2";
@import "review";
@import "delivery";
@import "footer";
@import "modal";

@media (max-width: 1620px) {
    .header__slider-block {
        width: 1900px;
    }
    .header__slide {
        width: 1900px;
    }
    .header__slider-block:before {
        width: 1100px;
    }
    .header__title {
        font-size: 56px;
    }
    .header__slide-name {
        left: 200px;
    }
}

@media (max-width: 1540px) {
    .container {
        width: 1000px;
    }
    .header__order-btn {
        max-width: 350px;
        font-size: 26px;
    }
    .header__slide-10 .header__slide-main img {
        width: 39% !important;
        margin-left: 33px;
    }
    .slider__number {
        display: none;
    }
    .header__slide-10 {
        .header__slide-main {
            .header__slide-name {
                .header__slide-img {
                    width: 50% !important;
                }
            }
        }
    }
    .info__item {
        width: 485px;
        padding: 70px 0 40px 180px;
    }
    .info__item img {
        width: 34%;
    }
    .info__item-text {
        font-size: 23px;
    }
    .advantage__section-title {
        font-size: 68px;
    }
    .advantage__section-text {
        font-size: 32px;
    }
    .advantage__decor {
        width: 635px;
        height: 742px;
        right: -195px;
    }
    .advantage__img {
        img {
            width: 100%;
            height: auto;
        }
    }
    .advantage__img-1 {
        width: 485px;
        height: auto;
    }
    .advantage__img-2 {
        width: 365px;
        height: auto;
    }
    .cards__block {
        justify-content: space-around;
    }
    .card__10 {
        margin: 0;
    }
    .card__decor-2 {
        bottom: -250px;
        left: -475px;
        width: 745px;
    }
    .card__decor-3 {
        width: 658px;
        bottom: -160px;
        right: -426px;
    }
    .secret__section .container {
        width: 1100px;
    }
    .secret__item {
        width: 33.33%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .instruction__title {
        font-size: 34px;
    }
    .instruction__text {
        font-size: 22px;
    }
    .instruction__decor {
        width: 650px;
        height: 745px;
        left: -185px;
    }
    .instruction__img  {
        img {
            width: 100%;
            height: auto;
        }
    }
    .instruction__img-1 {
        width: 70%;
    }
    .instruction__img-2 {
        width: 60%;
    }
    .instruction__block {
        padding: 24px 84px 20px 220px;
    }
    .instruction__block-title {
        font-size: 22px;
    }
    .instruction__block-step {
        font-size: 18px;
    }
    .instruction__block-text {
        font-size: 18px;
    }
    .advantage2__section .container {
        width: 1100px;
    }
    .advantage2__item {
        width: 33.33%;

        img {
            width: 100%;
            height: auto;
        }
    }
    .advantage2__item-title {
        font-size: 18px;
    }
    .advantage2__item-text {
        font-size: 16px;
    }
    .review__section .container {
        width: 1100px;
    }
    .review__slide {
        width: 100%;
    }
    .review__btns {
        width: 1200px;
    }
    .delivery__block {
        width: 950px;
    }
    .footer__section-wrapper .header__slider-block {
        width: 1367px;
        height: 963px;
    }
    .footer__section-wrapper .owl-nav {
        width: 560px;
        bottom: 142px;
        right: 230px;
    }
    .footer__section-wrapper .header__slide-left {
        bottom: 24px;
        left: 140px;
    }
    .footer__section-wrapper {
        .header__slide-left img {
            width: 80% !important;
        }
    }
    .footer__section-wrapper {
        .header__slide-2 {
            .header__slide-left img {
                width: 65% !important;
            }
        }
    } 
    .footer__section-wrapper .header__slider-numbers {
        width: 993px;
        right: 0px;
    }
    .footer__section-wrapper .header__slider-line:first-child {
        width: 420px;
    }
    .footer__section-wrapper {
        .header__slide-10 {
            .header__slide-main  { 
                img {
                    width: 53% !important;
                    margin-left: 33px;
                }
            }
        } 
    }
    
}

@media (max-width: 1240px) {
    .header__slide-main img {
        width: 50% !important;
    }
    .header__slide-left {
        display: none;
    }
    .header__slider-block:before {
        width: 800px;
        height: 800px;
    }
    .header__slider-block:after {
        width: 580px;
        height: 580px;
        right: 112px;
    }
    .header__slider-block {
        width: 1630px;
        height: 900px;
    }
    .header__slide {
        width: 1800px;
        height: 900px;
    }
    .header__slider-numbers {
        width: 800px;
    }
    .header__slide-name {
        left: 254px;
        bottom: 145px;
        img {
            width: 120px !important;
        }
    }
    .owl-nav {
        width: 500px;
        height: auto;
        bottom: 77px;
        right: 155px;
    }
    .header__nav {
        margin-bottom: 100px;
    }
    .header__slide-name span {
        font-size: 36px;
    }
    .header__slide-name {
        left: 300px;
        bottom: 145px;
    }
    .header__content {
        width: 100%;
        max-width: 500px;
    }
    .header__subtitle {
        font-size: 28px;
    }
    .header__title {
        font-size: 49px;
    }
    .header__order-btn {
        max-width: 340px;
        font-size: 24px;
    }
    .header__slide-6 {
        .header__slide-main img {
            width: 80% !important;
        }
    }
    .header__slide-9 {
        .header__slide-main {
            img {
                width: 42% !important;
            }
            .header__slide-name {
                img {
                    width: 85% !important;
                }
            }
        }
    }
    .header__slide-10 {
        .header__slide-main img {
            width: 31% !important;
        }
    }
    .header__slider-line:first-child {
        width: 255px;
    }
    .secret__section .container {
        width: 1000px;
    }
    .advantage2__section .container {
        width: 1000px;
    }
    .advantage2__img-right {
        display: none;
    }
    .review__section .container {
        width: 900px;
    }
    .review__btns {
        width: 110%;
    }
    .delivery__left, .delivery__right {
        display: none;
    }
    .footer__section-wrapper {
        .header__slide-main img {
            width: 80% !important;
        }
        .header__slide-9 .header__slide-main img {
            width: 65% !important;
        }
        .header__slide-10 .header__slide-main img {
            width: 55% !important;
        }
    }
}   

@media (max-width: 1000px) {
    .container {
        width: 700px !important;
    }
    .header__nav-link {
        display: none;
    }
    .header__nav {
        margin-bottom: 56px;
    }
    .header__content {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__subtitle {
        font-size: 22px;
        text-align: center;
    }
    .header__subtitle:before {
        content: "";
        width: 75%;
        height: 2px;
        background: #9C9C9C;
        position: absolute;
        bottom: -17px;
        left: 50%;
        transform: translateX(-50%);
    }
    .header__title {
        font-size: 60px;
        text-align: center;
        margin-bottom: 15px;
    }
    .header__info, .footer__section-wrapper .header__info {
        text-align: center;
    }
    .header__price, .footer__section-wrapper .header__price{
        .price {
            justify-content: center;
        }
    }
    .header__info-date, .footer__section-wrapper .header__info-date {
        text-align: center;
    }
    .header__slider-block,  .footer__section-wrapper .header__slider-block {
        width: 100%;
        height: 740px;
        position: relative;
        right: auto;
        left: auto;
        top: auto;
        bottom: auto;
        z-index: 5;
        margin-bottom: 5px;
    }
    .header__slider {
        .owl-stage-outer {
            overflow: visible;
        }
    }
    .header__slide, .footer__section-wrapper .header__slide {
        width: 700px;
        height: 700px;
    }
    .header__slider-block:before, .footer__section-wrapper .header__slider-block:before {
        display: block;
        content: "";
        position: absolute;
        width: 600px;
        height: 600px;
        top: 0;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        background: #F4F4F7;
    }
    .header__slider-block:after, .footer__section-wrapper .header__slider-block:after {
        display: block;
        content: "";
        position: absolute;
        width: 500px;
        height: 500px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
        background: #F1EAAC;
        border-radius: 100%;
    }
    .header__slide-main, .footer__section-wrapper .header__slide-main {
        width: 100%;
        right: 0;
        left: -15px;
    }
    .header__slide-main:before, .footer__section-wrapper .header__slide-main:before {
        display: block;
        content: "";
        width: 100%;
        height: 34px;
        bottom: 45px;
        background-image: url(../img/shadow-2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        right: 0;
    }
    .owl-nav, .footer__section-wrapper .owl-nav {
        width: 700px;
        height: auto;
        bottom: auto;
        right: auto;
        top: 235px;

        button {
            background-image: url(../img/array.png) !important;

            &:hover {
                background-image: url(../img/array-hover.png) !important;
            }
        }
    }
    .header__slide-main img, .footer__section-wrapper .header__slide-main img {
        width: 80% !important;
        margin-left: 80px;
        bottom: 53px !important;
    }
    .header__slide-name, .footer__section-wrapper .header__slide-name {
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        img {
            display: none !important;
        }
    }
    .header__slider-numbers, .footer__section-wrapper .header__slider-numbers {
        width: 100vw;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
    .header__slider-line, .footer__section-wrapper .header__slider-line {
        width: 50%;
    }
    .header__slider-line:first-child, .footer__section-wrapper .header__slider-line:first-child {
        width: 50%;
        flex-shrink: 1;
    }
    .header__slide-left, .footer__section-wrapper .header__slide-left {
        display: block;
        width: 282px;
        height: 25px;
        position: absolute;
        bottom: 51px;
        left: 50px;

        &:before {
            display: none;
        }

        img {
            width: 100% !important;
        }
    }
    .header__slide-2, .footer__section-wrapper .header__slide-2 {
        .header__slide-main img {
            margin-left: 92px;
        }
        .header__slide-left img {
            width: 60% !important;
        }
    }

    .header__slide-3, .footer__section-wrapper .header__slide-3 {
        .header__slide-main img {
            margin-left: 100px;
        }
    }

    .header__slide-4, .footer__section-wrapper .header__slide-4 {
        .header__slide-main img {
            margin-left: 100px;
        }
        .header__slide-left img {
            width: 85% !important;
        }
    }

    .header__slide-5, .footer__section-wrapper .header__slide-5 {
        .header__slide-main img {
            margin-left: 75px;
        }
        .header__slide-main img {
            margin-left: 75px;
        }
    }

    .header__slide-6, .footer__section-wrapper .header__slide-6 {
        .header__slide-main img {
            width: 110% !important;
            margin-left: 70px;
        }
    } 

    .header__slide-7, .footer__section-wrapper .header__slide-7 {
        .header__slide-main img {
            width: 72% !important;
            margin-left: 95px;
        }
    } 

    .header__slide-8, .footer__section-wrapper .header__slide-8 {
        .header__slide-main img {
            width: 87% !important;
            margin-left: 85px;
        }
        .header__slide-left img {
            width: 80% !important;
        }
    } 

    .header__slide-9, .footer__section-wrapper .header__slide-9 {
        .header__slide-main img {
            width: 62% !important;
            margin-left: 140px;
        }
        .header__slide-left img {
            width: 80% !important;
        }
    } 

    .header__slide-10, .footer__section-wrapper .header__slide-10 {
        .header__slide-main img {
            width: 45% !important;
            margin-left: 100px;
        }
    } 

    .header__section-wrapper {
        padding: 42px 0 50px;
    }
    .info__right {
        display: none;
    }
    .info__item {
        width: 330px;
        padding: 56px 0 30px 116px;
    }
    .info__item img {
        width: 32%;
        top: 50%;
        transform: translateY(-50%);
    }
    .info__item-text {
        font-size: 20px;
    }
    .advantage__decor {
        position: relative;
        bottom: auto;
        right: auto;
    }
    .advantage__section-title {
        text-align: center;
    }
    .advantage__section-text {
        text-align: center;
    }
    .advantage__block {
        margin-left: 0;
        padding: 48px 30px 200px;

        .header__order-btn {
            margin: auto;
        }
    }
    .advantage__title {
        text-align: center;
    }
    .advantage__decor {
        width: 95%;
        margin: auto;
        margin-top: -150px;
    }
    .advantage__section-wrapper {
        padding-bottom: 80px;
    }
    .card {
        width: 320px;
        padding: 0 15px 30px;
    }
    .modal__form {
        padding: 80px 35px;
    }
    .modal__title {
        font-size: 40px;
        line-height: 1.3;
    }
    .modal__slider {
        width: 320px;
    }
    .modal__slide-10 {
        .modal__img-main {
            max-height: 75% !important;
        }
    } 
    .modal__slider:before {
        height: 320px;
    }
    .modal__text {
        bottom: 55px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .modal__img-small {
        bottom: 100px;
    }
    .secret__title {
        font-size: 38px;
    }
    .sicret__subtitle {
        font-size: 20px;
    }
    .secret__item-wrapper {
        padding: 0 20px 27px;
    }
    .secret__item-title {
        font-size: 26px;
    }
    .secret__text {
        font-size: 16px;
    }
    .secret__section-wrapper {
        padding-bottom: 80px;
    }
    .instruction__decor {
        position: relative;
        top: auto;
        left: auto;
        width: 95%;
        margin: auto;
        margin-top: -185px;
        height: 720px;
    }
    .instruction__title {
        font-size: 36px;
        text-align: center;

        br {
            display: none;
        }
    }
    .instruction__text {
        font-size: 20px;
        text-align: center;
    }
    .instruction__block {
        width: 100%;
        margin-right: 0;
        padding: 20px 8px 200px;
    }
    .instruction__block-title {
        text-align: center;
        font-size: 24px;
    }
    .instruction__block-step {
        text-align: center;
        font-size: 20px;
    }
    .instruction__block-text {
        font-size: 16px;
        text-align: center;
        margin-bottom: 25px;
    }
    .instruction__img-1 {
        width: 72%;
    }
    .instruction__img-2 {
        width: 55%;
    }
    .advantage2__section-title {
        font-size: 32px;
    }
    .advantage2__item-1 .advantage2__item-wrapper {
        padding: 0px 12px 30px;
    }
    .advantage2__item-2 .advantage2__item-wrapper {
        padding: 0 12px 30px;
    }
    .advantage2__item-3 .advantage2__item-wrapper {
        padding: 0 12px 30px;
    }
    .advantage2__item-title {
        font-size: 16px;
    }
    .advantage2__item-text {
        font-size: 14px;
        line-height: 1.4;
    }
    .owl-dots {
        display: flex;
        justify-content: center;

        button {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            margin-right: 7px;
            background: #7EA497 !important;

            &.active {
                background: #15654D !important;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
    .review__btns {
        display: none;
    }
    .review__section-title {
        font-size: 50px;
    }
    .review__slider .owl-stage-outer {
        overflow: visible;
    }
    .delivery__block {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .delivery__item {
        margin-bottom: 40px;
        position: relative;
        z-index: 1;
    }
    .delivery__left, .delivery__right {
        display: block;
    }
    .delivery__left {
        width: 473px;
        bottom: 150px;
        left: -230px;
    }
    .delivery__right {
        bottom: auto;
        top: 250px;
        right: -150px;
    }
    .footer__section-wrapper:before, .footer__section-wrapper:after {
        display: none;
    }
    .footer__section-wrapper {
        padding-bottom: 35px;

        .header__slide-name {
            right: auto;
            span {
                font-size: 36px;
                line-height: 1.4;
                color: #9C9C9C;
            }
        } 
        .header__slider-line {

            background: #9C9C9C;
        }
        .header__slider-number {
            width: 276px;
            height: auto;
            font-size: 20px;
            line-height: 1.2;
            text-align: center;
            color: #9C9C9C;
            flex-shrink: 0;
        }
        .header__order-btn {
            margin: auto;
        }
        .header__slider-numbers {
            bottom: 8px;
        }
    }
}   

@media (max-width: 700px) {
    .container {
        width: calc(100% - 30px) !important;
    }
    .header__slider-block, .footer__section-wrapper .header__slider-block {
        width: 100%;
        height: 105vw;
    }
    .header__slide, .footer__section-wrapper .header__slide {
        width: 100%;
        height: 100vw;
    }
    .owl-nav, .footer__section-wrapper .owl-nav {
        width: 100%;
    }
    .header__slide-left img, .footer__section-wrapper .header__slide-left img {
        width: 80% !important;
    }
    .header__slide-main:before, .footer__section-wrapper .header__slide-main:before {
        width: 100%;
        height: 34px;
        bottom: 45px;
        right: -44px;
    }
    .header__slider-block:before, .footer__section-wrapper .header__slider-block:before {
       display: none;
    }
    .header__slider-block:after, .footer__section-wrapper .header__slider-block:after {
        display: none;
    }
    .header__section-wrapper, .footer__section-wrapper {
        position: relative;

        &:before {
            display: block;
            content: "";
            position: absolute;
            transform: none;
            top: 0;
            left: auto;
            right: -30vw;
            width: 95vw;
            height: 130vw;
            background: #F4F4F7;
            z-index: -1;
        }

        &:after {
            display: block;
            content: "";
            width: 60vw;
            height: 60vw;
            position: absolute;
            transform: none;
            top: 70vw;
            left: auto;
            right: -10vw;
            border-radius: 100%;
            background: #F1EAAC;
        }
    }

    .footer__logo {
        width: 16.5vw;
        height: auto;
    }

    .footer__section-wrapper {
        &:before {
            height: 140vw;
            top: -3vw;
        }
        &:after {
            top: 80vw;
        }
    }

    .header__slide-main img, .footer__section-wrapper .header__slide-main img {
        width: 95% !important;
        margin-left: 150px;
    }

    .owl-nav, .footer__section-wrapper .owl-nav {
        top: 50vw;
    }

    .header__slide-main, .footer__section-wrapper .header__slide-main {
        left: 0px;
    }

    .header__subtitle, .footer__section-wrapper .footer__subtitle {
        font-size: 4vw;
        text-align: center;
        margin-bottom: 22px;
        max-width: 100%;
    }

    .header__title, .footer__section-wrapper .footer__title {
        font-size: 9vw;
        margin-bottom: 0px;
    }
    .header__subtitle:before, .footer__section-wrapper .header__subtitle:before {
        bottom: -7px;
    }
    .header__nav:before, .footer__section-wrapper .header__nav:before {
        width: 16.5vw;
        height: 10.2vw;
    }
    .header__nav, .footer__section-wrapper .header__nav {
        margin-bottom: 5.5vw;
    }
    .info__items-block {
        justify-content: center;
    }
    .info__item {
        width: 80%;
        padding: 60px 0 32px 142px;
    }
    .info__item img {
        width: 23%;
    }
    .info__item-text {
        font-size: 24px;
    }
    .advanatge__left {
        display: none;
    }
    .advantage__section-title {
        font-size: 60px;
        margin-bottom: 5px;
    }
    .advantage__section-text {
        font-size: 26px;
        margin-bottom: 25px;
    }
    .advantage__img-1 {
        width: 70%;
        height: auto;
    }
    .advantage__img-2 {
        width: 50%;
        height: auto;
    }
    .advantage__decor {
        height: 93vw;
    }
    .card__decor-img {
        display: none;
    }
    .card {
        display: none;
    }
    .card__mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(141, 141, 141, 0.3);
        width: 100%;
        max-width: 370px;
        padding: 0 30px 23px;

        .modal__slider {
            position: relative;
            width: 100%;
            height: 392px;
            left: auto;
            top: auto;
        }

        .modal__slide {
            width: 100%;
            height: 392px;
        }

        .modal__img-main {
            width: auto !important;
            max-width: 130% !important;
            height: auto !important;
            max-height: 100% !important;
            margin-top: -50px;
            left: 63%;
        }
        .modal__slider:before {
            width: 237px;
            height: 237px;
        }
        .modal__img-small {
            bottom: 40px;
            left: 6px;
        }
        .modal__size {
            font-size: 12px;
            margin-bottom: 8px;
            margin-top: -20px;
        }
        .modal__text {
            bottom: -10px;
            right: auto;
            left: 0;
            transform: none;
        }
        .modal__slide-6 {
            .modal__img-main {
                max-width: 180% !important;
            }
        }
    }
    .card__section-title {
        font-size: 54px;
        margin-bottom: 80px;
    }
    .card__section-wrapper {
        padding-bottom: 70px;
    }
    .secret__title {
        font-size: 38px;
        text-align: center;
    }
    .sicret__subtitle {
        font-size: 20px;
        text-align: center;
    }
    .secret__item-1:before, .secret__item-2:before {
        display: none;
    }
    .secret__item {
        width: 100%;
        height: auto;
    }
    .secret__item-title {
        padding: 0;
        text-align: center;
        font-size: 32px;
    }
    .secret__text {
        font-size: 20px;
        text-align: center;
    }
    .secret__item-wrapper {
        padding: 0 17px 20px;
    }
    .secret__item img {
        margin-bottom: 15px;
    }
    .secret__header {
        padding: 0;
    }
    .instruction__decor {
        height: 100vw;
    }
    .advantage2__item {
        width: 100%;
        height: auto;
    }
    .advantage2__block {
        margin-bottom: 35px;

        .owl-dots {
            margin-top: 30px;
        }
    }
    .advantage2__section-wrapper {
        padding-bottom: 70px;
    }
    .advantage2__item-title {
        font-size: 20px;
    }
    .advantage2__item-text {
        font-size: 20px;
    }
    .modal__autor {
        margin-bottom: 30px;
    }
    .review__slide {
        height: auto;
    }
    .delivery__section-title {
        font-size: 40px;
        margin-bottom: 35px;
    }
} 

@media (max-width: 540px) {
    .owl-nav button, .footer__section-wrapper .owl-nav button {
        width: 19px;
        height: 30px;
    }
    .header__slide-left img, .footer__section-wrapper .header__slide-left img {
        width: 58% !important;
        margin-left: -23vw;
    }
    .owl-nav, .footer__section-wrapper .owl-nav {
        top: 48vw;
    }
    .header__slide-main img, .footer__section-wrapper .header__slide-main img {
        width: 100% !important;
        margin-left: 19vw;
    }
    .header__slider-block, .footer__section-wrapper .header__slider-block {
        width: 100%;
        height: 112vw;
    }
    .header__slide, .footer__section-wrapper .header__slide {
        width: 100%;
        height: 106vw;
    }
    .header__slide-main:before, .footer__section-wrapper .header__slide-main:before {
        width: 124%;
        height: 5vw;
        bottom: 10vw;
        right: -27vw;
    }
    .header__slide-left, .footer__section-wrapper .header__slide-left {
        display: block;
        width: 67vw;
        height: 5vw;
        position: absolute;
        bottom: 10vw;
        left: 12vw;
    }
    .header__section-wrapper:before, .footer__section-wrapper:before {
        right: -30vw;
        width: 97vw;
    }
    .header__section-wrapper:after, .footer__section-wrapper:after {
        width: 65vw;
        height: 65vw;
        top: 65vw;
        right: -8vw;
    }
    .footer__section-wrapper:before {
        height: 134vw;
    }
    .header__slide-name, .footer__section-wrapper .header__slide-name {
        bottom: 3vw;
    }
    .header__slide-name span, .footer__section-wrapper .header__slide-name span {
        font-size: 4vw;
    }
    .header__slider-number, .footer__section-wrapper .header__slider-number {
        width: 30vw;
        height: auto;
        font-size: 5vw;
    }
    .header__info, .footer__section-wrapper .header__info {
        font-size: 4vw;
        margin-bottom: 0px;
    }
    .header__price {
        margin-bottom: 5px;
    }
    .new__price {
        font-size: 9.5vw;
        margin-right: 5vw;
    }
    .old__price {
        font-size: 6vw;
    }
    .header__order-btn {
        max-width: 100%;
        font-size: 6.5vw;
        height: 14.5vw;
    }
    .header__info-date {
        font-size: 4vw;
    }
    .header__section-wrapper {
        padding: 40px 0 50px;
    }
    .header__slide-main img {
        bottom: 12vw;
    }
    .header__slide-2, .footer__section-wrapper .header__slide-2 {
        .header__slide-left img {
            width: 45% !important;
        }
        .header__slide-main img {
            margin-left: 22vw;
        }
    } 
    .header__slide-3, .footer__section-wrapper .header__slide-3 {
        .header__slide-main img {
            width: 88% !important;
            margin-left: 23vw;
        }
        .header__slide-left img {
            width: 65% !important;
            margin-left: -23vw;
        }
    }
    .header__slide-4, .footer__section-wrapper .header__slide-4 {
        .header__slide-main img {
            width: 90% !important;
            margin-left: 22vw;
        }
        .header__slide-left img {
            width: 63% !important;
        }
    }

    .header__slide-5, .footer__section-wrapper .header__slide-5 {
        .header__slide-main img {
            width: 92% !important;
            margin-left: 15vw;
        }
    } 

    .header__slide-6, .footer__section-wrapper .header__slide-6 {
        .header__slide-main img {
            width: 136% !important;
            margin-left: 16vw;
        }
    }

    .header__slide-7, .footer__section-wrapper .header__slide-7 {
        .header__slide-main img {
            width: 80% !important;
            margin-left: 24vw;
        }
        .header__slide-left img {
            width: 63% !important;
            bottom: 0;
        }
    }

    .header__slide-8, .footer__section-wrapper .header__slide-8 {
        .header__slide-main img {
            width: 102% !important;
            margin-left: 23vw;
        }
        .header__slide-left img {
            width: 55% !important;
            bottom: 2vw;
        }
    } 

    .header__slide-9, .footer__section-wrapper .header__slide-9 {
        .header__slide-main img {
            width: 69% !important;
            margin-left: 27vw;
        }
        .header__slide-left img {
            width: 55% !important;
        }
    }

    .header__slide-10, .footer__section-wrapper .header__slide-10 {
        .header__slide-main img {
            width: 52% !important;
            margin-left: 22vw;
        }
        .header__slide-left img {
            width: 73% !important;
            margin-left: -20vw;
        }
    } 
    .info__items-block {
        padding: 0 15px;
    }
    .info__item {
        width: 100%;
        padding: 7vw 0 7vw 34vw;
    }
    .info__item:before {
        height: 100%;
        width: calc(100% - 14vw);
        position: absolute;
        bottom: 0;
        left: 7vw;
        background: #F4F4F7;
        z-index: -1;
    }
    .info__item-text {
        font-size: 4.8vw;
    }
    .info__item img {
        width: 32%;
    }
    .info__section-wrapper {
        padding-bottom: 30px;
    }
    .advantage__section-title {
        font-size: 9vw;
        margin-bottom: 5px;
    }
    .advantage__section-text {
        font-size: 4vw;
        margin-bottom: 5.5vw;
    }
    .advantage__block {
        padding: 5vw 3.8vw 28vw;
    }
    .advantage__title {
        font-size: 4.7vw;
        margin-bottom: 5.5vw;
    }
    .advantage__list-item span {
        font-size: 3.8vw;
    }
    .advantage__list-item img {
        width: 9vw;
        margin-right: 3.5vw;
    }
    .advantage__block .header__order-btn {
        width: 100%;
        max-width: 340px;
        font-size: 5.5vw;
    }
    .advantage__decor {
        width: 98%;
        height: 92vw;
        margin: auto;
        margin-top: -22vw;
    }
    .advantage__img-1 {
        width: 72.5%;
        height: auto;
    }
    .advantage__img-2 {
        width: 50%;
        height: auto;
    }
    .advantage__section-wrapper {
        padding-bottom: 60px;
    }
    .card__section-title {
        font-size: 9vw;
        margin-bottom: 18vw;
    }
    .card__form {
        width: 100%;
        max-width: 310px;
        height: auto;
        margin-left: auto;
    }
    .modal__btns {
        justify-content: space-around;
    }
    .modal__price .new__price {
        font-size: 5.5vw;
    }
    .secret__title {
        font-size: 6.5vw;
    }
    .sicret__subtitle {
        font-size: 4vw;
    }
    .secret__item-title {
        font-size: 5.5vw;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    .secret__block {
        display: block;
    }
    .secret__text {
        font-size: 4.6vw;
    }
    .instruction__title {
        font-size: 8vw;
    }
    .instruction__text {
        font-size: 4.8vw;
        margin-bottom: 30px;
        
        br {
            display: none;
        }
    }
    .instruction__block {
        background-position: right center;
        background-size: cover;
        padding: 20px 8px 7vw;
    }
    .instruction__block-title {
        font-size: 5.5vw;
        margin-bottom: 4.5vw;
    }
    .instruction__block-step {
        font-size: 4.5vw;
        padding: 0;
    }
    .instruction__block-text {
        font-size: 4vw;
        margin-bottom: 4.5vw;
    }
    .instruction__decor {
        margin-top: -7vw;
        width: 98%;
        height: 96vw;
    }
    .instruction__img-2 {
        width: 58%;
    }
    .instruction__section-wrapper {
        padding-bottom: 70px;
    }
    .advantage2__section-title {
        font-size: 8.5vw;
    }
    .advantage2__item-title {
        font-size: 4.8vw;
    }
    .advantage2__item-text {
        font-size: 4.5vw;
    }
    .review__section-title {
        font-size: 8vw;
        margin-bottom: 10px;
    }
    .review__slide {
        padding: 15px 8px 30px;
    }
    .review__title {
        font-size: 4.5vw;
    }
    .review__text {
        font-size: 4.8vw;
    }
    .delivery__section-title {
        font-size: 9.8vw;
        margin-bottom: 8vw;
    }
    .delivery__item {
        width: 72.5vw;
        height: 72.5vw;
        margin-bottom: 9.6vw;

        img {
            width: 65%;
            height: auto;
        }
    }
    .delivery__text {
        font-size: 4vw;
    }
    .delivery__section-wrapper {
        padding-bottom: 80px;
    }
    .delivery__section-text {
        font-size: 4.5vw;

        br {
            display: none;
        }
    }
    .delivery__left {
        width: auto;
        height: 82.4vw;
        bottom: 50vw;
        left: -84vw;
    }
    .delivery__right {
        bottom: 132.4vw;
        top: auto;
        right: -68vw;
        width: auto;
        height: 127.3vw;
    }
    .footer__line-wrapper {
        padding: 20px 0;
    }
    .footer__list {
        font-size: 4vw;
    }
    .card__input {
        border: 1px solid rgba(141, 141, 141, 0.5);
    }
    .fancybox-content {
        padding: 44px 20px;
    }
    .footer__modal h6 {
        font-size: 20px;
    }
    .footer__modal p {
        font-size: 16px;
    }
}