.card__section {
    width: 100%;
    height: auto;
}

.card__section-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    padding: 80px 0 0;

    &:before {
        content: "";
        width: 1146px;
        height: 1146px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.1);
        filter: blur(10px);
        position: absolute;
        bottom: -573px;
        right: -901px;
        animation: scale 5s infinite;
    }
}

.card__section-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.card__block {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;

    .card__decor {
        position: absolute;
        transform: rotate(-34.88deg);
        bottom: 300px;
        right: -470px;
    }
}

.card {
    background: #FFD6C9;
    box-shadow: 0px 0px 25px rgba(192, 114, 95, 0.5);
    border-radius: 30px;
    width: 580px;
    height: auto;
    // overflow: hidden;
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 90px;

    &:before {
        content: "";
        width: 222px;
        height: 222px;
        border-radius: 0 30px 0 100%;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        top: 0;
        right: 0;
    }

    &:after {
        content: "";
        width: 222px;
        height: 222px;
        border-radius: 0 100% 0 30px;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.card__1 {
    .card__decor {
        position: absolute;
        top: -180px;
        left: -555px;
    }
}

.card__2 {
    .card__circle {
        width: 1146px;
        height: 1146px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.1);
        filter: blur(10px);
        position: absolute;
        top: -189px;
        right: -935px;
        animation: scale 5s infinite;
    }

    .card__decor {
        position: absolute;
        top: 150px;
        right: -473px;
    }
}

.card__3 {
    .card__circle {
        width: 1534px;
        height: 1534px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.1);
        filter: blur(10px);
        position: absolute;
        bottom: -714px;
        left: -1125px;
        animation: scale 5s infinite;
        animation-delay: 2.5s;
    }

    .card__decor {
        position: absolute;
        bottom: -50px;
        left: -410px;
        transform: rotate(34.39deg);
    }
}

.card__4 {
    .card__decor {
        transform: rotate(-138.72deg);
        position: absolute;
        top: -310px;
        right: -450px;
        z-index: -1;
    }
}

.card__5 {
    .card__decor {
        transform: rotate(120deg);
        position: absolute;
        top: -135px;
        left: -455px;
        z-index: -1;
    }
}

.card__header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    margin-bottom: 18px;
    padding: 0 40px;
}

.card__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    // text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.card__logo {
    margin-left: auto;
    margin-top: -20px;
    width: 160px !important;
    height: auto;
}

.card__boot {
    margin-bottom: 45px;
}

.card__photos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card__photo {
    width: 96px;
    height: 65px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;

    &:hover {
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    }

    img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: auto;
    }
}

.card__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;

    span {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.2;
        color: #333333;
    }
}

.card__info-text {
    flex-shrink: 0;
}

.card__info-divider, .card__size-divider, .card__price-divider {
    display: block;
    width: 100%;
    margin: 0 5px;
    flex-shrink: 1;
    border: 1px dashed #333333;
}

.card__size {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 23px;

    span {
        font-size: 20px;
        line-height: 1.2;
        color: #333333;
        flex-shrink: 0;
    }
}

.card__size-divider {
    margin-right: -5px;
}

.card__btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

.card__btn {
    width: 40px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #333333;
    position: relative;
    background-color: transparent;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    overflow: visible;

    &:hover {
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
    }

    &.active {
        border: 2px solid #333333;
        .card__btn-size {
            opacity: 1;
        }
    }
}

.card__btn-text {
}

.card__btn-size {
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px !important;
    font-weight: 400 !important;
    flex-shrink: 0;
    width: auto;
    min-width: 60px;
    transition: 0.3s ease;
    opacity: 0;
}

.card__price {
    width: 100%;
    margin-bottom: 15px;

    .price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .old__price {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #333333;
        margin-right: 15px;
        flex-shrink: 0;

        &:before {
            background: #FBE244;
        }
    }
    
    .new__price {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        color: #E23C87;
        flex-shrink: 0;
    }
}

.card__price-text {
    font-size: 20px;
    line-height: 1.2;
    color: #333333;
}

.card__form {
    width: 100%;
    height: auto;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.card__input-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card__input {
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 10px rgba(192, 114, 95, 0.5);
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #333333;
    padding: 0 10px;
}

.card__submit {
    width: 100%;
    height: 75px;
    background: #4BD1F1;
    border-radius: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.12;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 5px;

    &:hover {
        background-color: #8FE17A;
        // color: #E23C87;
    }
}

.card__img-wrapper {
    width: 100%;
    height: 278px;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-top: 29px;
}

.card__none {
    width: 580px;
    height: auto;

    .card {
        box-shadow: none;
    }

    .card__header {
        margin-bottom: 0;
    }
    .card__boot {
        margin: auto;
        margin-bottom: 0;
        width: auto !important;
        max-width: 90% !important;
        max-height: 278px !important;
    }
    .card__size {
        margin-bottom: 51px;
    }
}

.card__none-btns {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid black;
    position: absolute;
    top: 103px;
    left: 0;
    z-index: 1;
}

.card__none-btn {
    width: 40px;
    height: 34px;
    background-image: url(../img/card-arrow.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px 17px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        background-image: url(../img/card-arrow-hover.png);
    }
}

.card__next-btn {
    transform: rotate(180deg);
}

.price__none {
    flex-shrink: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #333333;
}

.card__7 {
    .card__img-wrapper {
        padding: 0;
    }
    .card__boot {
        width: 320px !important;
        height: auto;
    }
}