@import "fonts";
@import "main";
@import "header";
@import "info";
@import "advantage";
@import "galary";
@import "card";
@import "secret";
@import "instruction";
@import "advantage2";
@import "review";
@import "delivery";
@import "footer";
@import "modal";

@media (max-width: 1480px) {
    .header__title {
        font-size: 64px;
    }
    .header__boot-1 {
        top: 65px;
        left: -230px;
        width: 370px;
    }
    .header__boot-2 {
        bottom: 60px;
        right: -230px;
        width: 375px;
    }
    .header__girl-1 {
        left: -520px;
        width: 520px;
    }
    .header__girl-2 {
        bottom: -1px;
        right: -470px;
        width: 413px;
    }
    .header__logo {
        width: 170px;
        margin-bottom: 20px;
    }
    .header__content {
        padding: 30px 0 40px;
    }
}

@media (max-width: 1240px) {
    .container {
        width: 1000px;
    }
    .header__title {
        font-size: 58px;
        margin-bottom: 15px;
    }
    .old__price {
        font-size: 24px;
    }
    .new__price {
        font-size: 60px;
    }
    .header__price {
        margin-bottom: 10px;
    }
    .header__boot-1 {
        top: 65px;
        left: -140px;
        width: 310px;
    }
    .header__boot-2 {
        bottom: 70px;
        right: -165px;
        width: 326px;
    }
    .header__girl-1 {
        left: -390px;
        width: 460px;
    }
    .header__girl-2 {
        bottom: -1px;
        right: -350px;
        width: 365px;
    }
    .header__logo {
        width: 160px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 700px;
    }
    .header__content {
        width: 100%;
        position: relative;
        z-index: 2;
    }
    .header__decor {
        width: 100%;
        position: relative;
        height: 600px;
    }
    .header__girl-1 {
        display: none;
    }
    .header__content:after {
        width: 100%;
        right: -50%;
    }
    .header__section-wrapper:before {
        left: -140px;
    }
    .header__boot-1 {
        top: -30px;
        left: 49px;
        width: 300px;
    }
    .header__boot-2 {
        bottom: -20px;
        right: 8px;
        width: 300px;
    }
    .header__girl-2 {
        bottom: auto;
        right: -150px;
        width: 450px;
        top: 50%;
        transform: translateY(-50%);
        // z-index: -1;
    }
    .header__price {
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 700px) {
    .container {
        width: calc(100% - 30px);
    }
    .header__logo {
        width: 120px;
        margin-bottom: 0px;
    }
    .header__title {
        font-size: 9vw;
        margin-bottom: 0px;
    }
    .header__decor {
        height: 100vw;
    }
    .header__boot-1 {
        top: -6vw;
        left: -7vw;
        width: 55vw;
    }
    .header__boot-2 {
        bottom: -5vw;
        right: -7vw;
        width: 52vw;
    }
    .header__girl-2 {
        bottom: auto;
        right: -48vw;
        width: 89vw;
        top: 52%;
        transform: translateY(-50%);
    }
}

@media (max-width: 540px) {
    .old__price {
        font-size: 6vw;
    }
    .header__content {
        padding: 20px 0;
    }
    .header__boot-1 {
        top: -6vw;
        left: -9vw;
        width: 58vw;
    }
    .header__boot-2 {
        bottom: -11vw;
        right: -11vw;
        width: 52vw;
    }
    .header__decor {
        height: 94vw;
    }
    .header__content:after {
        width: 100%;
        right: -53%;
    }
    .header__girl-2 {
        right: -50vw;
        width: 90vw;
        top: 50%;
    }
    .new__price {
        font-size: 11.5vw;
    }
    .header__price {
        margin-bottom: 0;
    }
    .order__btn {
        width: 100%;
        height: 30vw;
        padding: 4.8vw;

        div {
            font-size: 9.5vw;
        }
    }
    .header__info {
        font-size: 4vw;
        margin-top: 10px;
    }
    .header__section-wrapper:before {
        width: 379px;
        height: 379px;
        top: -190px;
        left: -85px;
    }
    .header__content:before {
        display: none;
    }
}