.site__header {
	width: 100%;
	height: 800px;
	position: relative;
	background: #3E3F43;
	z-index: 1;
}

.site__header:before {
	content: "";
	width: 50%;
	height: 100%;
	background-image: url(../img/header-red-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.header__graffiti {
	position: absolute;
	top: 0;
	left: 0;
}

.header__wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.header__content {
	width: 530px;
	padding-top: 50px;
}

.header__logo {
	display: block;
	margin-bottom: 70px;
}

.header__title {
	font-family: "Bebas Neue", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 62px;
	line-height: 1.18;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.header__boot {
    position: absolute;
    bottom: 50px;
	left: 30%;
	width: 839px;
}

.header__price {
	width: 100%;
	margin-bottom: 30px;
}

.price {
	width: 100%;
	display: flex;
	align-items: baseline;
}

.old__price {
	font-family: "Bebas Neue", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 1;
	color: #FFFFFF;
	position: relative;
	margin-right: 20px;

	span {
		font-size: 24px;
	}
}

.old__price:before {
	content: "";
	width: 100%;
	height: 5px;
	background-color: #FFC700;
	transform: translateY(-50%) rotate(-15deg);
	position: absolute;
	top: 50%;
	left: 0;
}

.new__price {
	font-family: "Bebas Neue", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 1;
	color: #FFC700;

	span {
		font-size: 36px;
	}
}

.header__order-btn {
	width: 300px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFC700;
	cursor: pointer;
	transition: 0.3s ease;
	font-family: "Bebas Neue", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 1;
	color: #161616;
	margin-bottom: 20px;
}

.header__order-btn:hover {
	background: #FF3737;
	color: #fff;
}

.header__order-time {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.4;
	color: #FFFFFF;

	span {
		font-weight: 600;
	}
}

.header__right-title {
	font-family: "Bebas Neue", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 250px;
	line-height: 0.85;
	background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.5) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #000000;
	position: absolute;
	top: 50px;
	left: 51%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	.header__right-title {
		background: transparent;
		background-clip: normal;
		-webkit-text-fill-color: normal;
	}
}
