.delivery__section {
    width: 100%;
    height: auto;
}

.delivery__wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.delivery__circle-1 {
    bottom: -240px;
    left: -161px;
    z-index: -1;
}

.delivery__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 70px;
}

.delivery__stage {
    width: 32%;
    height: auto;
    background: #EFF3F6;
    border-radius: 20px;
    padding: 25px;
}

.delivery__stage-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.delivery__number {
    width: 60px;
    height: 60px;
    background: #9BB2C7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    color: #EFF3F6;
    margin-right: 20px;
    flex-shrink: 0;
}

.delivery__stage-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #9BB2C7;
}

.delivery__text {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    color: #232527;
}