@font-face {
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
	src: url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
	src: url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: 800;
    font-style: normal;
	src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: normal;
    font-style: italic;
	src: url("../fonts/Montserrat-Italic.woff") format("woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: 500;
    font-style: italic;
	src: url("../fonts/Montserrat-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: Montserrat;
    font-weight: 600;
    font-style: italic;
	src: url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
}



