.footer__modal{
    display: none;
    max-width: 600px !important;
    margin: auto;
    background-color: #fff;
}

.footer__modal p{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.4;
    color: #111;
}

.footer__modal h2{
    margin-bottom: 20px;
    line-height: 1.4;
    color: #111;
}

.footer__modal h6{
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.4;
    color: #111;
}