.info2__section {
    width: 100%;
    height: auto;
    padding: 44px 0 10px;
    background: #FFB734;
}

.info__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #021E29;
    margin-bottom: 26px;
}

.info__list {
    width: 100%;
    height: auto;
    margin-bottom: 17px;
}

.info__list-item {
    font-size: 20px;
    line-height: 2;
    color: #222222;
    padding: 0 20px;
}

.info__list-bg {
    background: #FFD384;
}

.info__bottom-img {
}