/////////////////////////////////////////////////////////////////////
@media (max-width: 1920px) {
	.site__header {
		width: 100%;
		height: 800px;
	}
	.advantage__section {
		margin-top: -160px;
	}
	.header__circle-3 {
		right: -470px;
	}
	.site__footer:before {
		width: 100%;
		height: 700px;
		top: -500px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1480px) {
	.container {
		width: 1000px;
	}
	.site__header {
		height: 680px;
	}
	.header__logo-wrapper {
		margin-bottom: 30px;
	}
	.header__content {
		width: 400px;
		height: auto;
		padding-top: 50px;
	}
	.header__title {
		font-size: 40px;
	}
	.header__circle-2 {
		width: 150px;
		height: 150px;
		top: -75px;
		left: 400px;
	}
	.header__circle-3 {
		width: 200px;
		height: 200px;
		top: 155px;
		right: -330px;
	}
	.advantage__content {
		width: 400px;
	}
	.advantage__btn-wrapper3 {
		.advantage__btn-block {
			top: 30px;
			right: auto;
			left: 30px
		}
	}
	.advantage__section {
		margin-top: -185px;
	}
	.advantage__section-img1 {
		top: 245px;
		left: -200px;
		width: 570px;
	}
	.advantage__section-img2 {
		bottom: -325px;
		right: -240px;
		width: 800px;
	}
	.advantage__circle-1 {
		width: 50px;
		height: 50px;
		left: 420px;
		top: 230px;
	}
	.advantage__circle-2 {
		display: none;
	}
	.advantage__circle-3 {
		right: -220px;
	}
	.advantage__section {
		margin-top: -110px;
		background-size: 1500px;
	}
	.advantage__wrapper {
		padding-top: 130px;
	}
	.advantage__leaf-2 {
		left: 400px;
		top: 293px;
	}
	.advantage__leaf-3 {
		left: 570px;
		top: 290px;
	}
	.advantage__right {
		bottom: 60px;
	}
	.video {
		width: 500px;
		height: 350px;
	}
	.video__girl-1 {
		left: -200px;
		width: 190px;
	}
	.video__circle-1 {
		width: 150px;
		height: 150px;
		bottom: -10px;
		left: -195px;
	}
	.video__girl-2 {
		position: absolute;
		bottom: -16px;
		right: -221px;
		width: 255px;
	}
	.card__1 .card__leaf-1 {
		left: -296px;
	}
	.card__1 .card__leaf-2 {
		left: -200px;
	}
	.card__1 .card__leaf-3 {
		left: -155px;
	}
	.card__1 .card__leaf-4 {
		right: -145px;
	}
	.card__1 .card__leaf-5 {
		right: -225px;
	}
	.card__2 .card__circle-1 {
		left: -258px;
	}
	.card__2 .card__circle-2 {
		left: -150px;
	}
	.card__2 .card__circle-3 {
		right: -300px;
	}
	.card__2 .card__leaf-1 {
		left: -156px;
	}
	.card__2 .card__leaf-2 {
		right: -212px;
	}
	.card__3 .card__circle-1 {
		left: -280px;
	}
	.card__3 .card__circle-2 {
		right: -140px;
	}
	.card__3 .card__leaf-1 {
		left: -140px;
	}
	.sprey .card__leaf-1 {
		left: -200px;
	}
	.sprey .card__leaf-3 {
		right: -170px;
	}
	.sprey .card__leaf-2 {
		right: -180px;
	}
	.card {
		width: 100%;
		z-index: 1;
	}
	.card__left {
		width: 550px;
	}
	.card__galary {
		height: 500px;
	}
	.card__main-foto {
		height: 400px;
	}
	.card__other-foto {
		width: 500px;
		height: 85px;
	}
	.card__foto {
		width: 115px;
	}
	.footer__boot {
		width: 700px;
	}
	.footer__wrapper .sale {
		top: auto;
		bottom: 30px;
		right: -650px;
		z-index: 100;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1000px) {
	.container {
		width: 800px;
	}
	.site__header {
		height: 560px;
	}
	.header__logo-wrapper {
		margin-bottom: 20px;
	}
	.header__content {
		width: 340px;
		height: auto;
		padding-top: 30px;
	}
	.header__title {
		font-size: 34px;
	}
	.old__price {
		font-size: 20px;
	}
	.new__price {
		font-size: 40px;
	}
	.old__price:after {
		top: -25px;
		right: 20px;
	}
	.sale {
		width: 200px;
		height: 200px;
		top: 78px;
    	right: 30px;
	}
	.sale__text {
		font-size: 60px;
	}
	.sale__leaf-1 {
		width: 160px;
		top: -50px;
		left: -98px;
	}
	.sale__leaf-2 {
		width: 110px;
		top: -68px;
		left: 0px;
	}
	.sale__leaf-3 {
		width: 165px;
		top: -12px;
		right: -105px;
	}
	.sale__leaf-4 {
		width: 110px;
		top: 85px;
		right: -55px;
	}
	.sale__leaf-5 {
		width: 180px;
		bottom: -85px;
		left: -76px;
	}
	.sale__leaf-6 {
		width: 100px;
		bottom: -60px;
		left: 40px;
	}
	.header__circle-1 {
		display: none;
	}
	.header__circle-2 {
		width: 120px;
		height: 120px;
		top: -50px;
		left: 365px;
	}
	.header__circle-3 {
		display: none;
	}
	.header__circle-4 {
		width: 120px;
		height: 120px;
	}
	.advantage__wrapper {
		padding-top: 180px;
	}
	.advantage__content {
		width: 90%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.advantage {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
	}
	.advantage__logo-wrapper {
		margin: auto;
		margin-bottom: 5px;
	}
	.advantage__title {
		text-align: center;
	}
	.advantage__text {
		text-align: center;
	}
	.advantage__right {
		position: relative;
		bottom: auto;
		right: auto;
		margin: auto;
	}
	.advantage__section-img1 {
		top: 170px;
		left: 50%;
		transform: translateX(-50%);
		width: 570px;
	}
	.advantage__section-img2 {
		bottom: -113vw;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
	}
	.advantage__circle-1 {
		width: 50px;
		height: 50px;
		left: auto;
		right: 0;
		top: 130px;
	}
	.advantage__leaf-1 {
		position: absolute;
		left: -30px;
		top: 250px;
	}
	.advantage__leaf-2 {
		display: none;
	}
	.advantage__leaf-3 {
		left: 188px;
		top: auto;
		bottom: 400px;
	}
	.advantage__leaf-4 {
		display: none;
	}
	.advantage__leaf-5 {
		display: none;
	}
	.advantage__leaf-6 {
		display: none;
	}
	.advantage__btn-wrapper2 {
		.advantage__btn-block {
			top: auto;
			bottom: 30px;
		}
	}
	.advantage__btn-wrapper3 {
		.advantage__btn-block {
			top: auto;
			bottom: 30px;
		}
	}
	.video__wrapper {
		padding-top: 50px;
		padding-bottom: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.video__girl-2 {
		display: none;	
	}
	.video__circle-2 {
		display: none;
	}
	.video__circle-3 {
		display: none;
	}
	.video__leaf-1 {
		display: none;
	}
	.video {
		width: 100%;
		height: 50vw;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.video__block {
		width: 100%;
		align-self: flex-start;
		padding-right: 200px;
		position: relative;
	}
	.video__girl-1 {
		left: auto;
		width: 150px;
		right: 0;
		bottom: -30px;
	}
	.video__circle-1 {
		width: 100px;
		height: 100px;
		bottom: 10px;
		left: auto;
		right: 48px;
	}
	.card__wrapper {
		padding-top: 50px;
	}
	.card__1 .card__leaf-1 {
		display: none;
	}
	.card__1 .card__leaf-2 {
		display: none;
	}
	.card__1 .card__leaf-3 {
		display: none;
	}
	.card__1 .card__leaf-4 {
		display: none;
	}
	.card__1 .card__leaf-5 {
		display: none;
	}
	.card__2 .card__circle-1 {
		display: none;
	}
	.card__2 .card__circle-2 {
		display: none;
	}
	.card__2 .card__circle-3 {
		display: none;
	}
	.card__2 .card__leaf-1 {
		display: none;
	}
	.card__2 .card__leaf-2 {
		display: none;
	}
	.card__3 .card__circle-1 {
		display: none;
	}
	.card__3 .card__circle-2 {
		display: none;
	}
	.card__3 .card__leaf-1 {
		display: none;
	}
	.sprey .card__leaf-1 {
		display: none;
	}
	.sprey .card__leaf-3 {
		display: none;
	}
	.sprey .card__leaf-2 {
		display: none;
	}
	.card {
		width: 100%;
		flex-direction: column;
		padding: 30px 26px;
	}
	.card__left {
		width: 100%;
	}
	.card__right {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.price {
		justify-content: center;
	}
	.card__size-btns {
		justify-content: center;
	}
	.card__logo {
		margin: auto;
		margin-bottom: 21px;
	}
	.card__form {
		width: 400px;
		height: auto;
	}
	.card__galary {
		width: calc(100% + 52px);
		margin-left: -26px;
		height: auto;
		margin-bottom: 20px;
	}
	.card__main-foto {
		height: 600px;
		border-radius: 0;
		margin-bottom: 10px;
	}
	.card__other-foto {
		width: 100%;
		height: 130px;
		padding: 0 26px;
	}
	.card__foto {
		width: 175px;
	}
	.card__title {
		text-align: center;
	}
	.card__text {
		text-align: center;
	}
	.sprey .card__galary {
		width: calc(100% + 52px);
		height: auto;
	}
	.review__block {
		width: 373px;
		padding-top: 40px;
	}
	.delivery__block {
		width: 340px;
		height: auto;
	}
	.delivery__block-title {
		font-size: 38px;
	}
	.delivery__title {
		font-size: 22px;
	}
	.delivery__text {
		font-size: 16px;
	}
	.footer__circle-1 {
		display: none;
	}
	.footer__circle-2 {
		display: none;
	}
	.footer__circle-3 {
		width: 80px;
		height: 80px;
		left: 312px;
		bottom: 30px;
	}
	.footer__circle-4 {
		left: 430px;
	}
	.footer__boot {
		width: 620px;
		bottom: -60px;
		right: -600px;
	}
	.footer__wrapper .sale {
		top: auto;
		bottom: 65px;
		right: -458px;
		z-index: 100;
	}
	.footer__leaf-1 {
		display: none;
	}
	.footer__leaf-2 {
		display: none;
	}
	.footer__leaf-3 {
		display: none;
	}
	.footer__leaf-4 {
		top: -110px;
		right: -90px;
	}
	.footer__leaf-5 {
		display: none;
	}
	.footer__leaf-6 {
		top: auto;
		left: 315px;
		bottom: 325px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 800px) {
	.container {
		width: 700px;
	}
	.header__logo {
		width: 90px;
	}
	.header__title {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.header__content {
		width: 290px;
		height: auto;
		padding-top: 20px;
	}
	.old__price {
		font-size: 18px;
	}
	.new__price {
		font-size: 36px;
	}
	.site__header {
		height: 500px;
	}
	.card__foto {
		width: 145px;
	}
	.card__other-foto {
		height: 100px;
	}
	.review__block {
		width: 310px;
		padding-top: 40px;
	}
	.review__block-title {
		font-size: 34px;
		margin-bottom: 36px;
	}
	.delivery__block-title {
		font-size: 34px;
		margin-bottom: 30px;
	}
	.delivery__block {
		width: 320px;
		height: auto;
	}
	.footer__boot {
		width: 470px;
		bottom: -35px;
		right: -484px;
	}
	.footer__wrapper .sale {
		top: auto;
		bottom: 68px;
		right: -395px;
		z-index: 100;
	}
	.footer__circle-3 {
		display: none;
	}
	.footer__circle-4 {
		left: 370px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
	.container {
		width: calc(100% - 40px);
	}
	.site__header {
		height: auto;
		background-image: url(../img/header-mobile.png);
	}
	.header__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 50px;
	}
	.header__logo {
		width: 109px;
	}
	.header__logo-wrapper {
		position: static;
		margin-bottom: 30px;
	}
	.header__logo-leaf1 {
		width: 150px;
		top: -40px;
		left: -65px;
	}
	.header__logo-leaf2 {
		width: 90px;
		top: -50px;
		left: 12px;
	}
	.header__circle-2 {
		width: 150px;
		height: 150px;
		top: -65px;
		left: auto;
		right: -80px;
	}
	.header__title {
		font-size: 40px;
		margin-bottom: 10px;
		text-align: center;
	}
	.header__boot-wrapper {
		position: relative;
		width: 100%;
	}
	.header__boot-img {
		display: block;
		margin: auto;
	}
	.sale {
		width: 128px;
		height: 128px;
		top: 30px;
		right: 20px;
	}
	.sale__leaf-1 {
		width: 110px;
		top: -40px;
		left: -68px;
	}
	.sale__leaf-2 {
		width: 70px;
		top: -50px;
		left: 0px;
	}
	.sale__leaf-3 {
		width: 105px;
		top: -6px;
		right: -65px;
	}
	.sale__leaf-4 {
		width: 81px;
		top: 52px;
		right: -40px;
	}
	.sale__leaf-5 {
		width: 120px;
		bottom: -64px;
		left: -60px;
	}
	.sale__leaf-6 {
		width: 72px;
		bottom: -46px;
		left: 20px;
	}
	.sale__text {
		font-size: 38px;
	}
	.price {
		justify-content: center;
	}
	.header__order-time {
		margin-bottom: 50px;
	}
	.header__circle-4 {
		width: 50px;
		height: 50px;
		bottom: 180px;
		left: auto;
		right: 20px;
		margin-left: 0px;
		transform: none;
	}
	.advantage__circle-1 {
		width: 30px;
		height: 30px;
		left: auto;
		right: 0;
		top: 65px;
	}
	.advantage__section {
		margin-top: -83px;
		background-size: 1200px;
		background-position: right top;
	}
	.advantage__leaf-1 {
		position: absolute;
		left: 20px;
		top: 250px;
	}
	.advantage__right {
		width: 100%;
		height: auto;
	}
	.advantage__img {
		width: 100%;
	}
	.advantage__btn-wrapper1 {
		top: 1%;
		right: 30%;
	}
	.advantage__btn-wrapper2 {
		bottom: 23%;
		right: 13%;
	}
	.advantage__btn-wrapper3 {
		bottom: 17%;
		left: 17%;
	}
	.advantage__leaf-3 {
		left: 20%;
		bottom: 21%;
	}
	.advantage__section-img2 {
		bottom: -800px;
	}
	.card__main-foto {
		height: 70vw;
	}
	.card__other-foto {
		height: 14vw;
	}
	.card__foto {
		width: 23%;
	}
	.footer__wrapper {
		justify-content: flex-start;
		flex-direction: column;
	}
	.site__footer {
		padding-top: 80px;
	}
	.site__footer:before {
		width: 700px;
		height: 500px;
		top: -365px;
		background-position: right;
	}
	.review__block {
		width: 100%;
		padding-top: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
	}
	.owl-nav {
		margin: auto;
	}
	.owl-dots {
		margin: auto;
		margin-top: -40px;
		margin-bottom: 50px;
	}
	.review__block-title {
		font-size: 40px;
	}
	.footer__leaf-4 {
		top: 40px;
		right: -50px;
	}
	.delivery__block {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
	}
	.delivery__block-title {
		font-size: 40px;
	}
	.delivery__stage {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.delivery__title {
		text-align: center;
	}
	.delivery__text {
		text-align: center;
	}
	.delivery__logo-wrapper {
		margin-right: 0px;
	}
	.footer__boot {
		position: static;
	}
	.footer__wrapper .sale {
		top: auto;
		bottom: 310px;
		right: 15%;
		z-index: 100;
	}
	.footer__wrapper .header__content {
		margin-bottom: 10px;
	}
	.footer__circle-4 {
		display: none;
	}
	.footer__leaf-6 {
		top: auto;
		left: 44px;
		bottom: 385px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 480px) {
	.header__boot-img {
		width: 85vw;
	}
	.sale {
		width: 128px;
		height: 128px;
		top: 30px;
		right: 0px;
	}
	.advantage__leaf-3 {
		left: 17%;
    	bottom: 16%;

		img {
			width: 90px;
		}
	}
	.advantage__btn-wrapper1 {
		top: 1%;
		right: 10%;
	}
	.advantage__btn-wrapper2 {
		bottom: 14%;
		right: 3%;
	}
	.advantage__btn-wrapper3 {
		bottom: 6%;
		left: 10%;
	}
	.advantage__section-img1 {
		top: 320px;
		width: 660px;
	}
	.video__wrapper {
		position: static;
	}
	.video {
		width: calc(100vw - 10px);
		height: 60vw;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.video__block {
		width: 100%;
		align-self: flex-start;
		padding-right: 0;
		position: relative;
	}
	.video__girl-1 {
		left: auto;
		width: 128px;
		right: -10px;
		bottom: auto;
		top: 35px;
	}
	.video__circle-1 {
		width: 100px;
		height: 100px;
		bottom: auto;
		left: auto;
		right: 0px;
		top: 265px;
	}
	.video__title {
		font-size: 7vw;
		padding-right: 128px;
	}
	.video__text {
		font-size: 4vw;
		margin-bottom: 30px;
		padding-right: 128px;
	}
	.galary__section {
		height: 530px;
	}
	.galary {
		height: 500px;
	}
	.slide {
		width: 240px;
		height: 375px;
	}
	.slide__1 {
		opacity: 0;
	}
	.slide__2 {
		opacity: 0;
	}
	.slide__3 {
		width: 240px;
		height: 375px;
		top: 62px;
		left: 540px;
		opacity: 1;
	}
	.slide__4 {
		width: 320px;
		height: 500px;
		left: 790px;
		top: 0px;
		opacity: 1;
	}
	.slide__5 {
		width: 240px;
		height: 375px;
		top: 62px;
		left: 1120px;
		opacity: 1;
	}
	.slide__6 {
		opacity: 0;
	}
	.slide__7 {
		opacity: 0;
	}
	.move__mark {
		justify-content: center;
	}
	.move__next,
	.move__back {
		display: none;
	}
	.card__other-foto {
		height: auto;
		flex-wrap: wrap;
	}
	.card__foto {
		width: 49%;
		height: 29vw;
		margin-bottom: 10px;
	}
	.card__galary {
		margin-bottom: 10px;
	}
	.card__table {
		width: 100%;
	}
	.card__form {
		width: 100%;
	}
	.site__footer:before {
		width: 600px;
		height: 396px;
		top: -266px;
		background-position: right;
	}
	.footer__leaf-4 {
		top: 100px;
		right: -50px;
	}
	.owl-nav {
		display: none;
	}
	.owl-dots {
		height: auto;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.review__text-wrapper {
		padding-bottom: 0px;
	}
	.review__block {
		padding-top: 15px;
	}
	.footer__wrapper .header__logo-wrapper {
		margin-bottom: 30px;
	}
	.footer__boot {
		width: 95vw;
	}
	.footer__wrapper .sale {
		top: auto;
		bottom: 330px;
		right: 2%;
		z-index: 100;
	}
	.footer__leaf-6 {
		top: auto;
		left: -38px;
		bottom: 370px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 414px) {
	.header__title {
		font-size: 9vw;
	}
	.header__circle-4 {
		right: 0px;
		bottom: 200px;
	}
	.header__boot-wrapper {
		margin-bottom: 15px;
	}
	.advantage__section {
		margin-top: -60px;
		background-size: 200vw;
	}
	.advantage__wrapper {
		padding-top: 120px;
	}
	.advantage__section-title {
		font-size: 8vw;
		margin-bottom: 30px;
	}
	.advantage__section-img1 {
		top: 150px;
		width: 660px;
	}
	.advantage__section-img2 {
		bottom: -590px;
	}
	.advantage__leaf-1 {
		left: 10px;
    	top: 185px;
		img {
			width: 60px;
		}
	}
	.advantage__leaf-3 {
		left: 17%;
		bottom: 16%;

		img {
			width: 80px;
		}
	}
	.advantage__circle-1 {
		top: 40px;
	}
	.advantage {
		margin-bottom: 30px;
	}
	.advantage__title {
		font-size: 6vw;
		margin-bottom: 0;
	}
	.advantage__text {
		font-size: 4.2vw;
	}
	.advantages {
		margin-bottom: 50px;
	}
	.advantage__right {
		width: calc(100% + 20px);
		height: auto;
		margin-left: -10px;
	}
	.advantage__btn-block {
		width: 70vw;
	}
	.advantage__btn-title {
		font-size: 5vw;
	}
	.advantage__btn-text {
		font-size: 4vw;
	}
	.video__title {
		font-size: 6.5vw;
		padding-right: 128px;
	}
	.video__girl-1 {
		left: auto;
		width: 128px;
		right: -10px;
		bottom: auto;
		top: -5px;
	}
	.video__circle-1 {
		width: 100px;
		height: 100px;
		bottom: auto;
		left: auto;
		right: 0px;
		top: 220px;
	}
	.video__block {
		.header__order-btn {
			margin: auto;
			position: relative;
			z-index: 1;
		}
	}
	.card__title {
		font-size: 8vw;
	}
	.card__price .old__price {
		font-size: 5vw;
	}
	.card__price .new__price {
		font-size: 10vw;
	}
	.card__table {
		font-size: 3.8vw;
	}
	.card__text {
		font-size: 5vw;
	}
	.sprey__text {
		font-size: 4.5vw;
	}
	.site__footer:before {
		width: 600px;
		height: 396px;
		top: -278px;
		background-position: right;
	}
	.review__block-title {
		font-size: 8vw;
	}
	.review__name {
		font-size: 4.5vw;
	}
	.review__text-title {
		font-size: 6vw;
	}
	.review__text {
		font-size: 4vw;
	}
	.footer__leaf-4 {
		top: 80px;
		right: -45px;
	}
	.delivery__block-title {
		font-size: 8vw;
	}
	.delivery__stage {
		margin-bottom: 35px;
	}
	.footer__wrapper .header__title {
		font-size: 9vw;
		margin-bottom: 20px;
	}
	.footer__wrapper .sale {
		top: auto;
		bottom: 275px;
		right: 0;
		z-index: 100;
	}
	.footer__leaf-6 {
		top: auto;
		left: -45px;
		bottom: 345px;
	}
	.footer-dev {
		font-size: 15px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 375px) {
	.video__title {
		padding-right: 110px;
	}
	.video__text {
		font-size: 4vw;
		margin-bottom: 30px;
		padding-right: 100px;
	}
	.video__block .header__order-btn {
		width: 100%;
	}
	.video__girl-1 {
		left: auto;
		width: 110px;
		right: -10px;
		bottom: auto;
		top: -5px;
	}
	.video__circle-1 {
		width: 80px;
		height: 80px;
		bottom: auto;
		left: auto;
		right: 4px;
		top: 190px;
	}
	.card__size-btn {
		width: 40px;
		height: 40px;
		font-size: 3.8vw;
	}
	.card__size-text {
		font-size: 3vw;
	}
	.card__foto {
		width: 48%;
		height: 26vw;
		margin-bottom: 10px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 360px) {
	.header__order-btn {
		width: 100%;
	}
	.header__boot-img {
		width: 95vw;
		margin-left: -10px;
	}
	.header__title {
		margin-bottom: 20px;
	}
	.sale {
		width: 110px;
		height: 110px;
		top: 8px;
		right: 0px;
		border: 6px solid #fff;
	}
	.sale__text {
		font-size: 32px;
	}
	.sale__leaf-2 {
		width: 55px;
		top: -35px;
		left: 0px;
	}
	.sale__leaf-1 {
		width: 92px;
		top: -32px;
		left: -52px;
	}
	.sale__leaf-3 {
		width: 80px;
		top: 0px;
		right: -50px;
	}
	.sale__leaf-4 {
		width: 70px;
		top: 35px;
		right: -30px;
	}
	.sale__leaf-5 {
		width: 90px;
		bottom: -48px;
		left: -42px;
	}
	.sale__leaf-6 {
		width: 60px;
		bottom: -38px;
		left: 7px;
	}
	.header__circle-4 {
		right: -40px;
		bottom: 200px;
	}
	.advantage__section-img2 {
		bottom: -560px;
	}
	.advantage__btn-block {
		padding: 20px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 320px) {
	.advantage__section-img1 {
		top: 320px;
		width: 480px;
	}
	.advantage__btn-wrapper{
		width: 40px;
		height: 40px;
	}
	.advantage__btn {
		width: 40px;
		height: 40px;
	}
	.advantage__btn:before {
		width: 34px;
		height: 34px;
	}
	.advantage__btn-block {
		top: 20px;
		right: 20px;
	}
	.advantage__section-img2 {
		bottom: -508px;
	}
	.advantage__btn-wrapper2 .advantage__btn-block {
		top: auto;
		bottom: 20px;
		right: 20px;
	}
	.advantage__btn-wrapper3 .advantage__btn-block {
		top: auto;
		bottom: 20px;
		left: 20px;
	}
	.video {
		width: calc(100vw - 10px);
		height: 65vw;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.video__title {
		font-size: 6vw;
	}
	.video__girl-1 {
		left: auto;
		width: 100px;
		right: -10px;
		bottom: auto;
		top: -5px;
	}
	.video__circle-1 {
		width: 70px;
		height: 70px;
		bottom: auto;
		left: auto;
		right: 4px;
		top: 180px;
	}
	.card {
		width: 100%;
		flex-direction: column;
		padding: 30px 20px;
	}
	.card__logo {
		width: auto;
		height: 38px;
		margin: auto;
		margin-bottom: 21px;
	}
	.card__galary {
		width: calc(100% + 40px);
		margin-left: -20px;
		height: auto;
		margin-bottom: 20px;
	}
	.card__main-foto {
		height: 63vw;
	}
	.card__foto {
		width: 48%;
		height: 24vw;
		margin-bottom: 10px;
	}
	.card__price .old__price {
		font-size: 4vw;
	}
	.old__price:before {
		bottom: 4px;
	}
	.card__price .new__price {
		font-size: 9vw;
	}
	.sprey .card__galary {
		width: calc(100% + 40px);
		height: auto;
	}
	.owl-dots {
		width: 100%;
	}
	.add__review {
		width: 100%;
	}
	.footer__leaf-6 {
		top: auto;
		left: -40px;
		bottom: 322px;

		img {
			width: 80px;
		}
	}
	.footer__leaf-4 {
		top: 60px;
		right: -45px;
	}
}
