@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
		url("../fonts/OpenSans-Regular.eot");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
		url("../fonts/OpenSans-SemiBold.eot");
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
		url("../fonts/OpenSans-Bold.eot");
}

@font-face {
    font-family: Pacifico;
    font-weight: normal;
    src: url("../fonts/Pacifico-Regular.woff2") format("woff2"),
		url("../fonts/Pacifico-Regular.eot");
}

