@import "fonts";
@import "main";
@import "header";
@import "info";
@import "author";
@import "sidebar";
@import "card";
@import "advantage";
@import "review";
@import "footer";
@import "modal";

@media (max-width: 1024px) {
    .container {
        width: calc(100% - 40px);
    }
    .header__section-wrapper {
        width: 100vw;
        margin-left: -20px;
    }
    .main {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
    .info {
        width: 100%;
    }
    .author__section {
        width: 100%;
        max-width: 673px;
        margin-left: 0px;
    }
    .header__nav {
        padding: 9px 20px;
    }
    .header__nav-link {
        margin-right: 15px;
    }
    .header__nav-link {
        font-size: 14px;
    }
    .advantage__main-img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 700px) {
    .header__nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .header__nav-main {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        a:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 540px) {
    .container {
        width: 100%;
    }
    .header__section-wrapper {
        width: 100%;
        margin-left: 0px;
    }
    .author__section {
        padding: 15px;
    }
    .info__danger-img {
        width: 60px;
    }
    .info {
        padding: 20px 20px 36px;
    }
    .magazine__img {
        width: 75% !important;
        min-height: auto;
    }
    .magazine__img-opacity {
        top: -12%;
    }
    .text {
        br {
            display: none;
        }
    }
    .quantity__title {
        br {
            display: none;
        }
    }
    .card__title {
        font-size: 20px;
    }
    .card__info {
        padding: 10px 10px 10px;
    }
    .card__section {
        padding: 20px 20px;
    }
    .card__logo {
        margin-bottom: 15px;
    }
    .review-photo {
        width: 50px;
        height: 50px;
    }
    .comment-photo {
        width: 50px;
        height: 50px;
    }
    .form-reviews {
        padding: 10px;
    }
    .advantage__section {
        padding: 20px 10px;
    }
    .advantage__main-text {
        padding: 10px 15px 9px;
    }
    .advantage__main-info {
        padding: 0 15px 20px;
    }
    .advantage__list-item img {
        margin-right: 10px;
    }
    .advantage__info {
        padding: 20px 15px 25px;
    }
    .info__footer-item {
        width: calc(25% - 5px);
        margin-bottom: 10px;
    }
}

@media (max-width: 414px) {
    .info__footer-items {
        flex-wrap: wrap;
    }
    .info__footer-item {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .fancybox-content {
        padding: 30px 20px;
    }
}

@media (max-width: 320px) {
    .author__section {
        flex-direction: column;
        align-items: center;
    }
    .author__photo-wrapper {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .site__title {
        font-size: 20px;
    }
    .card__price {
        margin-bottom: 20px;
    }
    .price {
        display: flex;
        flex-direction: column;
        align-items: center;

        br {
            display: none;
        }
    }
    .card__input {
        height: 50px;
        padding: 0 15px;
        font-size: 14px;
    }
    .card__form-text {
        font-size: 14px;
    }
    .info__btn {
        font-size: 18px;
    }
    .info__danger {
        flex-direction: column;
        align-items: center;

        .text {
            text-align: center;
        }
    }
    .info__danger-img {
        width: 80px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    .card__logo {
        width: 50px;
        margin-bottom: 15px;
    }
    .card__submit {
        height: 50px;
    }
    .card__price-text {
        font-size: 14px;
    }
    .card__number {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .card__footer {
        font-size: 10px;
    }
    .review .user-name {
        font-size: 14px;
    }
    .review-inner {
        font-size: 14px;
    }
    .review-photo {
        width: 45px;
        height: 45px;
    }
    .review__time {
        font-size: 12px;
    }
    .review-inner {
        font-size: 12px;
    }
}