@font-face {
    font-family: Nunito;
    font-weight: normal;
	src: url("../fonts/Nunito-Regular.woff") format("woff");
}

@font-face {
    font-family: Nunito;
    font-weight: 600;
	src: url("../fonts/Nunito-SemiBold.woff") format("woff");
}

@font-face {
    font-family: Nunito;
    font-weight: bold;
	src: url("../fonts/Nunito-Bold.woff") format("woff");
}

@font-face {
    font-family: "Playfair Display";
    font-weight: normal;
	src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
}

@font-face {
    font-family: "Playfair Display";
    font-weight: bold;
	src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
}

@font-face {
    font-family: "mr_HamiltoneG";
    font-weight: normal;
	src: url("../fonts/AnyConv.com__mr_HamiltoneG.woff") format("woff");
}

