@font-face {
    font-family: Halant;
    font-weight: 300;
    src: url("../fonts/Halant-Light.woff2") format("woff2"),
		url("../fonts/Halant-Light.eot");
}

@font-face {
    font-family: Halant;
    font-weight: normal;
    src: url("../fonts/Halant-Regular.woff2") format("woff2"),
		url("../fonts/Halant-Regular.eot");
}

@font-face {
    font-family: Halant;
    font-weight: 500;
    src: url("../fonts/Halant-Medium.woff2") format("woff2"),
		url("../fonts/Halant-Medium.eot");
}

@font-face {
    font-family: Halant;
    font-weight: 600;
    src: url("../fonts/Halant-SemiBold.woff2") format("woff2"),
		url("../fonts/Halant-SemiBold.eot");
}

@font-face {
    font-family: Lato;
    font-weight: 300;
    src: url("../fonts/Lato-Light.woff2") format("woff2"),
		url("../fonts/Lato-Light.eot");
}

@font-face {
    font-family: Lato;
    font-weight: 900;
    src: url("../fonts/Lato-Black.woff2") format("woff2"),
		url("../fonts/Lato-Black.eot");
}
