.site__header {
	width: 100%;
	height: 48px;
	background-color: #2C3243;
	padding-left: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.header__left {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 1;
	color: #FFFFFF;
}

.header__nav {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
}

.header__nav-link {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 11px;
	line-height: 1;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.header__nav-img {
	margin-left: 5px;
	margin-top: 2px;
}

.header__nav-search {
	width: 48px;
	height: 48px;
	background-color: #988146;
	.header__nav-link {
		width: 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .header__nav-img {
	// 	// margin: auto;
	// }
}

.header__nav-burger {
	display: none;
}

.order {
	display: none;
}


.sidebar {
	width: 360px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(41, 213, 89, 0.13);
	border: 0.5px solid #165B29;
	position: fixed;
	top: 83px;
	right: 10px;
	padding: 30px 26px 20px;
	z-index: 10;
}

.sidebar__title {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	color: #165B29;
	margin-bottom: 15px;
	width: 100%;
}

.sidebar__img {
	margin-bottom: 44px;
}

.sidebar__discont {
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	color: #000000;
	margin-bottom: 15px;

	span {
		font-weight: bold;
	}
}

.sidebar__order-btn {
	width: 280px;
	height: 60px;
	background: #FF0000;
	box-shadow: 0px 12px 30px rgba(255, 0, 0, 0.15);
	border-radius: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Lato, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	color: #FFFFFF;
}
