@import "fonts";
@import "main";
@import "info";

@media (max-width: 1280px) {
    .info__decor {
        display: none;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 700px;
    }
    .info__img  {
        position: static;
    }
    .info__watches {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -30px 0;
    }
    .bar {
        width: 100%;
        height: 460px;
    }
    .bar__item {
        font-size: 76px;
    }
    .bar__item-logos:before, .bar__item-logos:after {
        width: 23px;
        height: 26px;
    }
    .bar__item-logos:before {
        left: -26px;
    }
    .bar__item-logos:after {
        right: -26px;
    }
    .divider__horizontal:before, .divider__horizontal:after {
        width: 70px;
        height: 80px;
    }
    .info__discount {
        width: 120px;
        height: 120px;

        span {
            font-size: 40px;
        }
    }
    .info__discount-1 {
        top: -50px;
        right: -90px;
    }
    .info__discount-2 {
        bottom: 0px;
        left: -15px;
    }
}


@media (max-width: 800px) {
    .info__discount-1 {
        display: none;
    }
}

@media (max-width: 700px) {
    .container {
        width: calc(100% - 30px);
    }
    .bar {
        width: 100%;
        height: 55vw;
    }
    .bar__item {
        font-size: 9.5vw;
    }
    .info__block-bar {
        width: 85%;
        max-width: 100%;
        padding: 24px 60px;
    }
    .bar__info-text {
        font-size: 22px;
    }
    .divider__horizontal:before, .divider__horizontal:after {
        width: 38px;
        height: 44px;
    }
    .divider__horizontal:before {
        left: -4%;
    }
    .divider__horizontal:after {
        right: -4%;
    }
    .bar {
        border-width: 5px;
    }
    .info__img-main {
        width: 60%;
    }
    .info__img-main1 {
        width: 28%;
        transform: rotate(-15deg);
        margin-right: -23%;
        margin-bottom: -4%;
    }
    .info__img-main3 {
        width: 30%;
        transform: rotate(15deg);
        margin-left: -23%;
    }
    .info__discount-2 {
        bottom: 0px;
        left: auto;
        right: 0;
    }
}

@media (max-width: 540px) {
    .info__section {
        background-image: url(../img/bg-mobile.jpg);
    }
    .info__logo {
        width: 34vw;
        height: auto;
        margin-bottom: 10px;
    }
    .info__title {
        font-size: 4.8vw;
    }
    .info__watches {
        margin: -4vw 0;
    }
    .info__img-1 {
        width: auto;
        height: 34vw;
        top: auto;
        left: auto;
    }
    .info__img-2 {
        width: auto;
        height: 48vw;
        top: auto;
        right: auto;
        z-index: 1;
    }
    .info__img-3 {
        width: auto;
        height: 34vw;
        top: auto;
        right: auto;
    }
    .info__text {
        font-size: 4.5vw;
    }
    .info__timer {
        min-width: 31vw;
    }
    .info__block-bar {
        width: 86%;
        max-width: 100%;
        height: 26vw;
        padding: 5vw 10vw;
        margin-bottom: -5vw;
    }
    .bar__info-text {
        font-size: 4vw;
        span {
            font-size: 4vw;
        }
    }
    .bar__item {
        font-size: 8vw;
    }
    .bar__item-logos:before, .bar__item-logos:after {
        width: 12px;
        height: 14px;
    }
    .bar__item-logos:before {
        left: -14px;
    }
    .bar__item-logos:after {
        right: -14px;
    }
    .bar {
        width: 100%;
        height: 45vw;
    }
    .info__discount {
        width: 28vw;
        height: 28vw;
    }
    .info__discount span {
        font-size: 9.5vw;
    }
    .info__discount-2 {
        bottom: 6vw;
        left: auto;
        right: 0;
    }
    .info__decor-main {
        margin-top: -10px;
        margin-bottom: -10px;
    }
    .info__img-main3 {
        margin-left: -23%;
        margin-bottom: -4%;
    }
    .info__img-main {
        width: 75%;
    }
    .info__img-main1 {
        width: 37%;
        margin-right: -26%;
    }
    .info__discount {
        background-image: url(../img/discount-bg-mobile.png);
    }
    .info__img-main3 {
        width: 37%;
        margin-left: -27%;
        margin-bottom: -8%;
    }
    .info__section-2 .info__title {
        margin-bottom: 10px;
        font-size: 8vw;
    }
    .info__subtitle {
        font-size: 7vw;
    }
    .info__text-bottom {
        font-size: 4.5vw;
        margin-bottom: 10px;
    }
    
}

@media (max-width: 414px) {
    .order__btn-link {
        font-size: 8vw;
    }
    .order__btn {
        height: 19vw;
        font-size: 9vw;
    }
    .divider__horizontal:before, .divider__horizontal:after {
        width: 8vw;
        height: 9vw;
    }
    .divider__horizontal:before {
        left: -6vw;
    }
    .divider__horizontal:after {
        right: -6vw;
    }
    .bar__item-logos:before, .bar__item-logos:after {
        width: 10px;
        height: 12px;
    }
    .bar__item-logos:before {
        left: -12px;
    }
    .bar__item-logos:after {
        right: -12px;
    }
    .info__img-main1 {
        width: 37%;
        margin-right: -27%;
    }
}

@media (max-width: 360px) {
    .bar {
        border-width: 4px;
    }
    .bar__column__1:before, .bar__column__2:before {
        width: 4px;
        right: -2px;
    }
    .divider__horizontal {
        height: 3px;
    }
    .bar__item-logos:before, .bar__item-logos:after {
        width: 8px;
        height: 10px;
    }
    .bar__item-logos:before {
        left: -10px;
    }
    .bar__item-logos:after {
        right: -10px;
    }
    .info__img-1 {
        height: 40vw;
    }
    .info__img-2 {
        height: 56vw;
    }
    .info__img-3 {
        height: 40vw;
    }
}