/////////////////////////////////////////////////////////////////////
@media (max-width: 1480px) {
	.header__content {
		padding-top: 85px;
		padding-bottom: 100px;
	}
	.header__img-bg {
		right: -170px;
		width: 1200px;
	}
	.header__phone {
		width: 720px;
		bottom: 25px;
		right: -20px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1200px) {
	.container {
		width: 1000px;
	}
	.header__title {
		font-size: 52px;
	}
	.header__subtitle {
		font-size: 36px;
		margin-bottom: 40px;
	}
	.header__content {
		width: 485px;
		padding-top: 50px;
    	padding-bottom: 70px;
	}
	.header__img-bg {
		right: -230px;
		width: 1200px;
	}
	.header__phone {
		width: 640px;
		bottom: 25px;
		right: -70px;
	}
	.header__text {
		margin-bottom: 30px;
	}
	.info__content {
		width: 560px;
	}
	.characteristic__block-1 {
		top: 20%;
		right: 16%;
	}
	.card {
		padding: 30px;
	}
	.main__slide {
		width: 440px;
		height: 600px;
		max-width: 440px;
		max-height: 600px;
	}
	.main__slide img {
		max-height: 600px !important;
		margin: auto;
	}
	.main__slider {
		width: 440px;
		height: 640px;
		position: relative;
	}
	.slider__nav {
		width: 110px;
		height: 600px;
	}
	.slide__nav img {
		width: auto !important;
		height: 180px !important;
	}
	.card__title {
		font-size: 38px;
	}
	.delivery__img {
		top: -70px;
		right: -600px;
		width: 600px;
	}
	.delivery__content {
		padding-bottom: 140px;
	}
	.footer__bg {
		left: -400px;
		width: 1200px;
	}
	.footer__phone {
		width: 470px;
		left: -55px;
	}
	.footer__wrapper .header__content {
		width: 550px;
		padding-top: 0px;
		padding-bottom: 63px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1000px) {
	.container {
		width: 700px;
	}
	.site__header:before {
		display: none;
	}
	.header__img-wrapper {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			width: 100vw;
			height: 79px;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 72.4%);
			// z-index: 1;
		}
	}
	.header__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 60px 0;
	}
	.header__title {
		font-size: 52px;
		text-align: center;
	}
	.header__subtitle {
		font-size: 36px;
		margin-bottom: 40px;
		text-align: center;
	}
	.header__img-bg {
		right: 0;
		width: 1100px;
		margin-right: -50px;
	}
	.header__phone {
		position: static;
		width: 100%;
		bottom: auto;
		right: auto;
	}
	.header__text {
		text-align: center;
	}
	.header__discount {
		text-align: center;
	}
	.header__quantity {
		text-align: center;
	}
	.advantage__section {
		position: relative;
		&:before {
			content: "";
			width: 500px;
			height: 500px;
			background-image: url(../img/main-bg-1.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			top: -177px;
			left: -180px;
		}
		&:after {
			content: "";
			width: 500px;
			height: 500px;
			background-image: url(../img/main-bg-1.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			bottom: -80px;
			left: -124px;
			z-index: -1;
		}
	}
	.advantage__wrapper {
		padding-top: 0;
	}
	.advantages {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.advantage {
		width: 100%;
		max-width: 270px;
		margin-bottom: 40px;
		background-color: #000;

		&:last-child {
			margin-bottom: 0;
		}
	}
	.info__title {
		display: none;
	}
	.info__text {
		display: none;
	}
	.info__content {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		position: relative;

		&:before {
			content: "";
			width: 500px;
			height: 500px;
			position: absolute;
			background-image: url(../img/main-bg-2.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			top: 71px;
			right: -133px;
			z-index: -1;
		}

		.header__order-btn {
			margin-bottom: 80px;
		}
	}
	.info__img {
		position: static;
		top: auto;
		right: auto;
		width: 430px;
		margin: auto;
	}
	.characteristic__section {
		.container {
			width: 100%;
		}
	}
	.main__img-1 {
		display: none;
	}
	.main__img-2 {
		width: 600px;
		height: auto;
		bottom: -410px;
		right: -178px;
	}
	.characteristic__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}
	.characteristic__card-1 .characteristic__card-left {
		max-width: 608px;
	}
	.characteristic__card-left {
		padding: 30px 20px;
	}
	.characteristic__card-right {
		padding: 30px 20px 64px;
	}
	.characteristic__card-title {
		text-align: center;
	}
	.characteristic__card-text {
		text-align: center;
	}
	.characteristic__block-1 {
		top: 6%;
		right: 18%;
	}
	.characteristic__block-2 {
		top: 25%;
		right: 3%;
	}
	.characteristic__block-3 {
		top: 42%;
		right: 10%;
	}
	.characteristic__block-4 {
		top: 60%;
		right: 11%;
	}
	.characteristic__title {
		padding: 0 20px;
		font-size: 36px;
		margin-bottom: 30px;
	}
	.card__section {
		.container {
			width: 100%;
		}
	}
	.slider__nav {
		display: none;
	}
	.main__slider {
		width: 360px;
		height: 600px;
		position: relative;
		.slick-arrow {
			display: none;
		}
	}
	.main__slide {
		width: 360px;
		height: 600px;
		max-width: 360px;
		max-height: 600px;
		position: relative;

		img {
			width: 100% !important;
			height: auto !important;
			// position: absolute;
			// top: 0;
			// left: 50%;
			// transform: translateX(-50%);
		}
	}
	.card__color {
		margin-bottom: 50px;
	}
	.video__block {
		flex-direction: column;
		align-items: center;
	}
	.video__list {
		width: 100%;
		margin-right: 0;
		padding: 0;
		margin-bottom: 30px;
	}
	.video {
		width: 100%;
		min-height: 400px;
	}
	.card__section {
		padding-bottom: 60px;
	}
	.main__img-3 {
		left: -146px;
		top: -75px;
		width: 500px;
	}
	.video__wrapper {
		padding-bottom: 60px;
	}
	.delivery__content {
		width: 100%;
	}
	.delivery__img {
		position: static;
		right: auto;
		top: auto;
		width: 100%;
	}
	.delivery__main-bg {
		top: auto; 
		bottom: -100px;
		right: -110px;
		width: 1200px;
	}
	.footer__phone {
		position: static;
	}
	.footer__wrapper .header__content {
		width: 100%;
		padding-top: 0px;
		padding-bottom: 60px;
	}
	.footer__bg {
		left: -300px;
		width: 1200px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
	.container {
		width: calc(100% - 40px);
	}
	.header__img-bg {
		width: 170%;
		margin-right: -14%;
	}
	.info__content {
		padding-bottom: 0px;
	}
	.card {
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	.main__slider {
		width: 798px;
		height: 427px;
		margin: auto;
		position: absolute;
		top: 30px;
		left: 50%;
		transform: translateX(-50%);
	}
	.card__left {
		height: 427px;
	}
	.main__slide {
		height: 400px;
		width: 233px;
		max-width: 233px;
		max-height: 400px;
		position: relative;
	}
	.main__slide img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 267px !important;
		height: auto !important;
		margin: auto;
	}
	.video__section {
		.container {
			width: 100%;
		}
	}
	.video__title {
		padding: 0 20px;
		margin-bottom: 30px;
	}
	.video__list {
		width: 100%;
		max-width: 350px;
		padding: 0 20px;
		margin-bottom: 30px;
	}
	.video__list-item {
		padding-left: 25px;
		font-size: 15px;
		margin-bottom: 25px;
	}
	.video {
		width: 100%;
		min-height: 60vw;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 480px) {
	.header__title {
		font-size: 12vw;
		margin-bottom: 20px;
	}
	.header__subtitle {
		font-size: 8vw;
		margin-bottom: 2px;
	}
	.header__img-wrapper {
		width: 100vw;
		overflow: hidden;
		padding: 50px 10px 0;
		margin-top: -50px;
	}
	.header__img-bg {
		width: 174%;
		margin-right: -15%;
		bottom: -55px;
	}
	.header__text {
		font-size: 3.5vw;
	}
	.old__price {
		font-size: 5vw;
		margin-right: 7vw;
	}
	.new__price {
		font-size: 9vw;
	}
	.header__discount {
		font-size: 3.5vw;
	}
	.header__quantity {
		font-size: 3.5vw;
	}
	.advantage__section-title {
		font-size: 9vw;
		margin-bottom: 30px;
	}
	.advantage__section-text {
		font-size: 3.5vw;
	}
	.info__img {
		width: 100vw;
		margin-left: -20px;
		margin-bottom: 60px;
	}
	.characteristic__card-1 .characteristic__card-left {
		max-width: 100%;
	}
	.characteristic__info {
		font-size: 6vw;
		margin-bottom: 0px;
	}
	.characteristic__info-2 {
		font-size: 2vw;
	}
	.characteristic__block-1 {
		top: 6vw;
		right: 20vw;
	}
	.characteristic__block-1:before {
		width: 30vw;
		left: -31vw;
	}
	.characteristic__block-2 {
		top: 19vw;
		right: 3vw;
	}
	.characteristic__block-2:before {
		width: 14vw;
		left: -15vw;
	}
	.characteristic__block-3 {
		top: 31vw;
		right: 9vw;
	}
	.characteristic__block-3:before {
		width: 14vw;
		left: -15vw;
	}
	.characteristic__block-4 {
		top: 43vw;
		right: 10vw;
	}
	.characteristic__block-4:before {
		width: 14vw;
		top: 50%;
		left: -15vw;
		margin-top: 0px;
	}
	.characteristic__block-4:after {
		width: 10vw;
		top: -2vw;
		left: -8vw;
	}
	.characteristic__title {
		font-size: 9.5vw;
	}
	.characteristic__card-title {
		font-size: 4.5vw;
		margin-bottom: 15px;
	}
	.characteristic__card-text {
		font-size: 3.5vw;
	}
	.characteristic__card-margin {
		margin-bottom: 20px;
	}
	.characteristic__card-left {
		width: 100%;
	}
	.characteristic__battary {
		font-size: 7vw;
	}
	.card__title {
		font-size: 8vw;
	}
	.card {
		.header__quantity {
			text-align: left;
		}
	}
	.card__section-title {
		font-size: 10vw;
		padding: 0 10vw;
		margin-bottom: 30px;
	}
	.main__img-2 {
		width: 500px;
		bottom: -375px;
		right: -175px;
	}
	.video__title {
		font-size: 9.5vw;
	}
	.delivery__main-bg {
		top: auto;
		bottom: -57vw;
		right: -50vw;
		width: 250vw;
	}
	.delivery__img {
		width: 100vw;
		margin-left: -20px;
	}
	.delivery__text {
		font-size: 3.5vw;
	}
	.delivery__title {
		font-size: 9vw;
	}
	.delivery__content {
		padding-bottom: 60px;
	}
	.review__section {
		.container {
			width: 100%;
		}
	}
	.review__title {
		padding: 0 20px;
	}
	.review__slide {
		margin: auto;
	}
	.review__wrapper {
		padding-bottom: 60px;
	}	
	.review__slide {
		padding: 23px 30px;
	}
	.review__text {
		font-size: 15px;
	}
	.site__footer {
		.container {
			width: 100%;
		}
	}
	.footer__phone {
		width: 100%;
		position: static;
	}
	.footer__wrapper {
		margin-top: 60px;

		.header__img-wrapper {
			width: 100vw;
			overflow: hidden;
			padding: 30vw 10px 0;
			background-image: url(../img/footer-mobile-bg.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
	.footer__bg {
		display: none;
	}
	.footer__line {
		.container {
			padding: 0 20px;
		}
	}
	.review__slider {
		.slick-list {
			padding-bottom: 10px;
		}
	}
	.review__slider .slick-next {
		bottom: -46px;
	}
	.review__slider .slick-prev {
		bottom: -46px;
	}
	.review__slider .slick-dots {
		bottom: -43px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 320px) {
	.characteristic__block-1 {
		top: 8vw;
		right: 20vw;
	}
	.characteristic__block-2 {
		top: 21vw;
		right: 3vw;
	}
	.characteristic__block-3 {
		top: 33vw;
		right: 9vw;
	}
	.characteristic__block-3:before {
		margin-top: -6px;
	}
	.characteristic__block-4 {
		top: 46vw;
		right: 10vw;
	}
	.characteristic__card-right {
		padding: 20px 20px 30px;
	}
	.footer-info{
		font-size: 12px;
	}
	.wrapper p {
		font-size: 12px;
	}
}
