.site__main {
	width: 100%;
	height: auto;
}

.advanatge__section {
	width: 100%;
	height: auto;
}

.advantage__wrapper {
	width: 100%;
	height: auto;
	padding: 100px 0;
}

.advantage__section-title {
	font-weight: bold;
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 40px;

	span {
		color: #FF4555;
	}
}

.advantage__section-text {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.94;
	text-indent: 25px;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.advantages {
	display: flex;
	justify-content: space-between;
}

.advantage {
	width: 22.5%;
	height: auto;
	border: 1px solid #FFB800;
	box-shadow: 0px 4px 16px rgba(255, 184, 0, 0.5);
	border-radius: 20px;
	padding: 20px 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.advantage__logo {
	margin-bottom: 20px;
}

.advantage__text {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.39;
	text-align: center;
	color: #FFFFFF;
}





.info__section {
	width: 100%;
	height: auto;
}

.info__wrapper {
	width: 100%;
	height: auto;
}

.info__content {
	width: 720px;
	height: auto;
	padding-bottom: 125px;
	position: relative;

	.header__order-btn {
		margin-bottom: 0;
	}
}

.info__title {
	font-weight: bold;
	font-size: 40px;
	line-height: 1.5;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.red {
	color: #FF4555;
}

.info__text {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.94;
	text-align: justify;
	text-indent: 25px;
	color: #FFFFFF;

	&:last-of-type {
		margin-bottom: 50px;
	}
}

.info__img {
	position: absolute;
	top: 0;
	right: -500px;
	width: 430px;
}




.characteristic__section {
	width: 100%;
	height: auto;
}

.characteristic__wrapper {
	width: 100%;
	height: auto;
	position: relative;
	padding-bottom: 60px;
}

.main__img-1 {
	position: absolute;
	top: -172px;
	left: -760px;
	z-index: -1;
}

.main__img-2 {
	position: absolute;
	bottom: -345px;
	right: -540px;
	z-index: -1;
}

.characteristic__title {
	font-weight: bold;
	font-size: 40px;
	line-height: 1.5;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.characteristic__card {
	display: flex;
	width: 100%;
	max-width: 1035px;
	background: #000000;
	border: 1px solid #FFB800;
	box-shadow: 0px 4px 16px rgba(255, 184, 0, 0.5);
	border-radius: 20px;
	margin: auto;
	margin-bottom: 40px;
}

.characteristic__card-left {
	width: 617px;
	height: auto;
	padding: 31px 0 31px 31px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

}

.characteristic__card-1 {
	.characteristic__card-left {
		flex-direction: column;
		justify-content: flex-end;
	}
}

.characteristic__card-2 {
	.characteristic__card-left {
		&:before {
			content: "";
			width: 100%;
			height: 50px;
			position: absolute;
			left: 50%;
			bottom: 20px;
			transform: translateX(-50%);
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 72.4%);
		}
	}
}

.characteristic__battary {
	font-weight: bold;
	font-size: 50px;
	line-height: 1;
	text-transform: capitalize;
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 13%;
	transform: translateY(-50%);
}

.characteristic__block {
	position: absolute;
}

.characteristic__info {
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
	color: #FFFFFF;
	margin-bottom: 5px;
}

.characteristic__info-2 {
	font-weight: 200;
	font-size: 12px;
	line-height: 1.2;
	// text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.characteristic__block-1 {
	top: 16%;
	right: 16%;

	&:before {
		content: "";
		width: 210px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: -215px;
		transform: translateY(-50%);
	}
}

.characteristic__block-2 {
	top: 34%;
    right: 1%;

	&:before {
		content: "";
		width: 88px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: -93px;
		transform: translateY(-50%);
	}
}

.characteristic__block-3 {
	top: 49%;
    right: 8%;

	&:before {
		content: "";
		width: 88px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: -93px;
		margin-top: -12px;
		transform: translateY(-50%);
	}
}

.characteristic__block-4 {
	top: 64%;
    right: 8%;

	&:before {
		content: "";
		width: 88px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: -93px;
		margin-top: -12px;
		transform: translateY(-50%);
	}

	&:after {
		content: "";
		width: 52px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		top: -20px;
		left: -39px;
		transform: rotate(63.43deg);
	}
}

.characteristic__card-1 {
	.characteristic__img {
		margin-bottom: -27px;
	}
}

.characteristic__card-right {
	padding: 64px 39px 64px 35px;
}

.characteristic__card-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.2;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.characteristic__card-text {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.94;
	text-transform: capitalize;
	color: #FFFFFF;
}

.characteristic__card-margin {
	margin-bottom: 30px;
}
