.card__section {
	width: 100%;
	height: auto;
	padding-bottom: 100px;
	position: relative;
	z-index: 5;
}

.card {
	width: 100%;
	height: auto;
	background: #000000;
	border: 1px solid #FFB800;
	box-shadow: 0px 4px 16px rgba(255, 184, 0, 0.5);
	border-radius: 20px;
	padding: 70px 91px;
	display: flex;
}

.card__section-title {
	font-weight: bold;
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.card__left {
	display: flex;
	flex-shrink: 0;
}

.slider__nav {
	width: 147px;
	height: 700px;
}

.slide__nav {
	max-height: 220px;
	width: auto;
	cursor: pointer;
	margin-bottom: 20px;

	img {
		width: auto !important;
		height: 220px !important;
	}
}

.main__slider {
	width: 467px;
	height: 740px;
	position: relative;
}

.main__slide {
	width: 467px;
	height: 700px;
	max-width: 467px;
	max-height: 700px;

	a {
		width: 100%;
		height: 100%;
	}

	img {
		height: 100%;
		max-height: 700px !important;
		width: auto !important;
		pointer-events: auto;
	}
}

.slick-arrow {
	font-size: 0;
	width: 40px;
	height: 16px;
	background-color: transparent;
	background-image: url(../img/arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	transition: 0.3s ease;

	&:hover {
		background-image: url(../img/arrow-hover.png);
	}
}

.slick-next {
	position: absolute;
	bottom: 0;
	right: 96px;
	transform: rotate(180deg);
}

.slick-prev {
	position: absolute;
	bottom: 0;
	left: 96px;
	
}

.slick-dots {
	display: flex;
	position: absolute;
	bottom: 4px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0;

	button {
		width: 10px;
		height: 10px;
		border-radius: 100%;
		margin-right: 10px;
		background-color: #fff;
		cursor: pointer;
	}

	li:last-child button {
		margin-right: 0;
	}

	.slick-active button {
		background: #FFB800;
	}
}

.card__right {
	width: 100%;
	padding-top: 44px;
}

.card__title {
	font-weight: bold;
	font-size: 44px;
	line-height: 1.2;
	// text-align: center;
	color: #FFFFFF;
	margin-bottom: 30px;
}

.card__color {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 65px;
}

.card__color-text {
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	color: #FFFFFF;
	margin-right: 10px;
}

.card__color-btn {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	cursor: pointer;
	border: 1px solid #FFFFFF;
	box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.4);
	margin-right: 10px;

	&:hover {
		border: 1px solid #FFB800;
	}
}

.black {
	background-color: #000000;
}

.blue {
	background-color: #818793;
}

.active {
	border: 2px solid #FFB800;
	background-image: url(../img/ok.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px auto;

	&:hover {
		border: 2px solid #FFB800;
	}
}

.card__price {
	margin-bottom: 50px;

	.price {
		flex-direction: column;
	}

	.old__price {
		color: #C0C2C6;
		margin-bottom: 15px;
	}
}

.card__form {
	width: 100%;
	height: auto;

	.header__order-btn {
		max-width: 100%;
		height: 70px;
		margin-top: 20px;
		margin-bottom: 14px;
		cursor: pointer;
	}
}

.card__input-wrapper {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.card__input {
	width: 100%;
	height: 60px;
	border: 1px solid #FFFFFF;
	border-radius: 20px;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	color: #FFFFFF;
	padding: 0 20px;

	&:focus {
		background: rgba(255, 184, 0, 0.1);
		border: 2px solid #FFB800;
		color: #FFB800;
	}
}



.video__section {
	width: 100%;
	height: auto;
	position: relative;
	z-index: 3;
}

.video__wrapper {
	width: 100%;
	height: auto;
	padding-bottom: 191px;
	position: relative;
}

.main__img-3 {
	position: absolute;
	left: -430px;
	top: -434px;
	z-index: -1;
}

.video__title {
	font-weight: bold;
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.video__block {
	display: flex;
	justify-content: flex-start;
}

.video__list {
	width: 451px;
	margin-right: 32px;
	padding: 38px 0;
	flex-shrink: 0;
}

.video__list-item {
	padding-left: 42px;
	position: relative;

	font-weight: normal;
	font-size: 18px;
	line-height: 1.2;
	color: #FFFFFF;
	margin-bottom: 35px;

	&:before {
		content: "";
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background-color: #FFB800;
		position: absolute;
		left: 0;
		top: 5px;
	}
}

.video {
	width: 100%;
	min-height: 100%;
	// background-image: url(../img/video-bg.png);
	// background-repeat: no-repeat;
	// background-position: center;
	// background-size: cover;
	position: relative;
	border-radius: 20px;
	overflow: hidden;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: auto;
		cursor: pointer;
	}

	&:before {
		content: "";
		width: 96px;
		height: 96px;
		background-image: url(../img/play-btn.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		cursor: pointer;
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
	}
}

.delivery__section {
	width: 100%;
	height: auto;
}

.delivery__wrapper {
	width: 100%;
	height: auto;
	position: relative;
}

.delivery__main-bg {
	position: absolute;
	top: -760px;
	right: -550px;
	z-index: -1;
}

.delivery__content {
	width: 481px;
	height: auto;
	position: relative;
	padding-bottom: 212px;
}

.delivery__title {
	font-weight: bold;
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.delivery__list {
	width: 100%;
	height: auto;
}

.delivery__list-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 30px;

	img {
		margin-right: 20px;
	}
}

.delivery__text {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.94;
	color: #FFFFFF;
}

.delivery__img {
	position: absolute;
	top: -91px;
	right: -755px;
}

.review__section {
	width: 100%;
	height: auto;
}

.review__wrapper {
	width: 100%;
	height: auto;
	padding-bottom: 150px;
	position: relative;
	z-index: 1;
}

.review__title {
	font-weight: bold;
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.review__slider {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	.slick-next {
		bottom: -56px;
    	right: 50%;
		transform: translateX(50%) rotate(180deg);
		margin-right: -105px;
	}

	.slick-prev {
		bottom: -56px;
    	left: 50%;
		transform: translateX(-50%);
		margin-left: -105px;
	}

	.slick-dots {
		bottom: -53px;
	}
}

.review__slide {
	padding: 30px 44px;
	background: #121212;
	border: 1px solid #FFB800;
	box-shadow: 0px 4px 16px rgba(255, 184, 0, 0.5);
	border-radius: 20px;
	margin: 0 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: auto;
}

.review__slide-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.2;
	color: #FFB800;
	margin-bottom: 20px;
}

.review__img-wrapper {
	display: flex;
	margin-bottom: 20px;
}

.review__img {
	height: auto;
	width: 30%;
	margin-right: 21px;

	&:last-child {
		margin-right: 0;
	}
}

.review__text {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.39;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.review__name {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.2;
	color: #FFB800;
}
