@import "fonts";
@import "main";
@import "header";
@import "info";
@import "advantage";
@import "video";
@import "specification";
@import "card";
@import "review";
@import "footer";
@import "modal";

@media (max-width: 1680px) {
    .specification__left {
        top: -200px;
        left: -295px;
        width: 400px;
    }
    .review__img-right {
        bottom: 30px;
        right: -432px;
        width: 700px;
    }
    .review__poligon-block {
        width: 921px;
        height: 921px;
        bottom: 239px;
        left: -800px;
    }
}

@media (max-width: 1480px) {
    .header__title {
        font-size: 80px;
    }
    .header__img {
        bottom: -130px;
        left: 520px;
        width: 940px;
    }
    .header__img {
        bottom: -130px;
        left: 426px;
        width: 940px;
    }
    .poligon__block-main{
        width: 1100px;
        height: 1100px;
        bottom: -120px;
        left: 333px;
    }
    .info__title {
        font-size: 48px;
    }
    .info__left {
        width: 500px;
        left: -150px;
    }
    .info__right {
        width: 600px;
    }
    .specification__left {
        display: none;
    }
    .specification__section .container {
        width: 1240px;
    }
    .specification__item {
        width: 280px;
        height: auto;
    }
    .review__img-right {
       display: none;
    }
    .review__section .container {
        width: 1240px;
    }
    .review__slide {
        width: 400px;
    }
    .footer__img {
        top: 85px;
        left: 552px;
        width: 700px;
    }
    .footer__timer-block .header__timer {
        margin-left: 255px;
    }
}

@media (max-width: 1280px) {
    .header__section-wrapper {
        padding: 46px 0;
    }
    .container {
        width: 1000px !important;
    }
    .header__title {
        font-size: 68px;
    }
    .header__img {
        bottom: -130px;
        left: 315px;
        width: 900px;
    }
    .advantage__title {
        font-size: 54px;
    }
    .advantage {
        width: 240px;
        padding: 24px 25px 25px;
    }
    .advantage p {
        font-size: 18px;
    }
    .video__title {
        font-size: 48px;
    }
    .video__text {
        max-width: 600px;
    }
    .video__img {
        top: auto;
        bottom: 90px;
        left: 681px;
        width: 400px;
    }
    .specification__title {
        font-size: 54px;
    }
    .specification__item {
        width: 215px;
        height: auto;
    }
    .specification__item-title {
        font-size: 18px;
    }
    .specification__item-text {
        font-size: 16px;
    }
    .cards__block {
        padding: 0;
    }
    .card {
        width: 300px;
    }
    .card__price .new__price {
        font-size: 22px;
    }
    .card__title {
        font-size: 54px;
    }
    .review__slide {
        width: 310px;
        padding: 0 20px 40px;
    }
    .review__title {
        font-size: 54px;
    }
    .footer__img {
        top: 85px;
        left: 469px;
        width: 630px;
    }
    .footer__timer-block .header__timer {
        margin-left: 170px;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 700px !important;
    }
    .header__section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__decor {
        width: 100%;
        height: 700px;
        position: relative;
    }
    .header__img {
        top: 50%;
        bottom: auto;
        left: 50%;
        width: 800px;
        transform: translate(-50%, -50%);
    }
    .poligon__block-main, .footer__poligon-block {
        width: 1000px;
        height: 1000px;
        bottom: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header__title {
        font-size: 76px;
    }
    .header__info-1,
    .header__info-2,
    .header__info-3 {
        text-align: center;
    }
    .price {
        justify-content: center;
    }
    .header__timer {
        margin-top: 20px;
    }
    .modal__form-block {
        width: 384px;
        height: auto;
        border-radius: 50px;
        background-image: url(../img/modal-bg-mobile.jpg);
    }
    .modal__form-wrapper {
        align-items: center;
        padding: 50px 31px 50px;
    }
    .modal__img {
        position: static;
        margin-bottom: 26px;

    }
    .modal__title {
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
    }
    .modal__price {
        margin-bottom: 8px;
        .price {
            flex-direction: column;
            align-items: center;
        }
    }
    .modal__color-btns {
        justify-content: center;
        margin-bottom: 15px;
    }
    .modal__form {
        width: 100%;
        max-width: 310px;
    }
    .modal__submit {
        width: 100%;
        padding: 18px 45px;
        border-radius: 20px;
    }
    .fancybox-slide--html .fancybox-close-small {
		right: 5px;
		top: 15px;
	}
    .info__section-wrapper {
        padding: 50px 0 150px;
    }
    .info__title {
        font-size: 36px;
    }
    .info__left {
        width: 390px;
        left: -150px;
        opacity: 0.25;
    }
    .info__right {
        width: 400px;
    }
    .advantage__title {
        font-size: 36px;
    }
    .advantages {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .advantage {
        width: 340px;
        padding: 24px 35px 25px;
        margin-bottom: 20px;
    }
    .advantage__info {
        font-size: 16px;
    }
    .video__section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0 90px;
    }
    .video__poligon-block  {
        display: none;
    }
    .video__img {
        position: static;
        margin-bottom: 14px;
    }
    .video__title {
        font-size: 36px;
        text-align: center;
        margin-bottom: 25px;
    }
    .video__text {
        max-width: 100%;
        text-align: center;
        font-size: 20px;
        margin-bottom: 16px;
    }
    .video__btns {
        flex-direction: column;
        align-items: center;

        .header__order-btn {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    .video__btn {
        width: 100%;
        max-width: 380px;
        padding: 25px 85px;
    }
    .specification__title {
        font-size: 48px;
    }
    .specification__item {
        width: 300px;
        height: auto;
        margin-bottom: 25px;
    }
    .specification__block {
        padding: 64px 40px 49px;
    }
    .card__title {
        font-size: 48px;
    }
    .cards__block {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .card {
        width: 319px;
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 46px;
        }
    }
    .card__price .new__price {
        font-size: 24px;
    }
    .card__section-wrapper {
        padding: 90px 0;
    }
    .card__poligon-block {
        display: none;
    }
    .owl-carousel .owl-stage-outer {
        padding-top: 61px;
    }
    .review__title {
        font-size: 48px;
        margin-bottom: 40px;
    }
    .review__slide {
        width: 100%;
    }
    .owl-dots {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 30px;

        button {
            width: 12px;
            height: 12px;
            margin-right: 5px;
            border-radius: 100%;
            background: #FF431A !important;

            span {
                display: none;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                background: #ce2c07 !important;
            }
        }
    }
    .review__section-wrapper {
        padding-bottom: 68px;
    }
    .review__poligon-block {
        width: 921px;
        height: 921px;
        bottom: 140px;
        left: -690px;
    }
    .footer__section-wrapper {
        padding: 42px 0 43px;
    }
    .footer__img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .footer__section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__timer-block {
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer__timer-block .header__timer {
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .footer__delivery-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__delivery-item p {
        text-align: center;
    }
}

@media (max-width: 700px) {
    .container {
        width: calc(100% - 30px) !important;
    }
    .header__title {
        font-size: 10vw;
        margin-bottom: 0;
    }
    .poligon__block-main, .footer__poligon-block {
        width: 700px;
        height: 700px;
    }
    .header__img {
        width: 700px;
    }
    .header__decor {
        height: 545px;
    }
    .info__title {
        font-size: 36px;
        margin-bottom: 25px;
    }
    .advantage__section-wrapper {
        padding: 43px 0 52px;
    }
    .advantages {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
    }
    .advantage {
        width: 280px;
        height: auto;
        margin-bottom: 25px;
    }
    .advantage p {
        font-size: 20px;
    }
    .advantage__info {
        font-size: 20px;

        br {
            display: none;
        }
    }
    .specification__item {
        width: 48%;
        margin-bottom: 25px;
    }
    .footer__img {
        width: 500px;
    }
}

@media (max-width: 540px) {
    .header__img {
        width: 129vw;
        margin-left: -2vw;
    }
    .poligon__block-main, .footer__poligon-block {
        width: 131vw;
        height: 131vw;
    }
    .header__decor {
        height: 106vw;
    }
    .header__section-wrapper {
        padding: 43px 0 31px;
    }
    .header__info-1 {
        font-size: 4.6vw;
    }
    .header__info-2 {
        font-size: 5.5vw;
    }
    .header__info-3 {
        font-size: 4.6vw;
    }
    .price {
        flex-wrap: wrap;
    }
    .header__timer {
        padding: 6vw 11vw;
    }
    .header__timer {
        padding: 6vw 11vw;
    }
    .header__timer-wrapper span {
        font-size: 15vw;
    }
    .header__timer-number {
        width: 21vw;
    }
    .header__timer-text {
        font-size: 4.7vw;
    }
    .info__section {
        overflow: hidden;
    }
    .info__title {
        font-size: 8.5vw;
        margin-bottom: 25px;
    }
    .info__list-item {
        font-size: 3.8vw;
        margin-bottom: 15px;
    }
    .info__left {
        width: 92vw;
        left: -41vw;
        bottom: -10vw;
        opacity: 0.25;
    }
    .info__right {
        width: 95vw;
    }
    .info__section-wrapper {
        padding: 12vw 0 35vw;
    }
    .info__list-item:before {
        margin-right: 13px;
    }
    .video__btn {
        margin-bottom: 0 !important;
    }
    .card__title {
        font-size: 36px;
        margin-bottom: 40px;
    }
    .footer__img {
        width: 102%;
    }
    .footer__timer-block {
        width: 100%;

        .header__timer {
            padding: 6vw 11vw;
            width: 100%;
        }
        .header__timer {
            padding: 6vw 11vw;
        }
        .header__timer-wrapper span {
            font-size: 15vw;
        }
        .header__timer-number {
            width: 21vw;
        }
        .header__timer-text {
            font-size: 4.7vw;
        }
    }
}

@media (max-width: 414px) {
    .header__order-btn {
        width: 100%;
        height: 21.5vw;
        max-width: 380px;
        font-size: 7.5vw;
        padding: 0 10vw;
    }
    .header__quantity {
        font-size: 4vw;
        line-height: 1.2;
    }
    .header__price {
        margin-bottom: 4vw;
    }
    .modal__title {
        font-size: 8.5vw;
    }
    .modal__submit {
        font-size: 5vw;
        height: 14.5vw;
        padding: 4vw 10vw;
    }
    .modal__input {
        font-size: 4.8vw;
    }
    .advantage__section {
        background-image: url(../img/advantage-bg-mobile.jpg);
    }
    .advantage__title {
        font-size: 8.5vw;
        margin-bottom: 30px;
    }
    .advantage__info {
        font-size: 4.8vw;
    }
    .video__title {
        font-size: 8.5vw;
    }
    .video__text {
        font-size: 4.5vw;
    }
    .video__img {
        width: 271px;
    }
    .video__btns {
        width: 100%;
    }
    .specification__title {
        font-size: 36px;
        margin-bottom: 30px;
    }
    .specification__block {
        padding: 25px 12px;
    }
    .specification__item {
        width: 100%;
        margin-bottom: 25px;
    }
    .specification__item-title {
        font-size: 4.5vw;
    }
    .specification__item-text {
        font-size: 4.5vw;
    }
    .specification__title {
        font-size: 9vw;
        margin-bottom: 30px;
    }
    .specification__block {
        background-image: url(../img/specification-bg-mobile.jpg);
    }
    .card__title {
        font-size: 8.5vw;

        br {
            display: none;
        }
    }
    .card {
        width: 100%;
        max-width: 319px;
        margin-bottom: 60px;
    }
    .card__name {
        font-size: 4.8vw;
    }
    .card__price-text {
        font-size: 4.8vw;
    }
    .card__price .new__price {
        font-size: 5.5vw;
    }
    .review__title {
        font-size: 8.5vw;
    }
    .review__text {
        font-size: 4.8vw;
    }
    .review__name {
        font-size: 4.8vw;
    }
    .review__slide {
        min-height: 520px;
        padding: 0 17px 40px;
    }
    .review__poligon-block {
        width: 222.5vw;
        height: 222.5vw;
        bottom: 70vw;
        left: -164vw;
    }
    .footer__delivery-title {
        font-size: 4.8vw;
    }
    .footer__delivery-info {
        width: 100%;
        max-width: 358px;
    }
    .header__section {
        background-image: url(../img/header-bg-mobile.jpg);
    }
    .footer__section:before {
        background-image: url(../img/header-bg-mobile.jpg);
    }
    .footer__section-wrapper {
        .header__title span {
            color: #FFB465;
        }
    }
}

@media (max-width: 320px) {
    .header__title {
        font-size: 9.8vw;
    }
    .modal__img {
        width: 250px;
    }
    .card__name {
        font-size: 5.5vw;
    }
    .card__name {
        font-size: 5.5vw;
    }
    .card__price .new__price {
        font-size: 6vw;
    }
    .review__slide {
        min-height: 420px;
    }
    .review__poligon-block {
        bottom: 100vw;
    }
    .footer__delivery-item p {
        font-size: 13px;
    }
}