@font-face {
    font-family: Formular;
    font-weight: normal;
	src: url("../fonts/Formular.woff") format("woff")
}

@font-face {
    font-family: Formular;
    font-weight: bold;
	src: url("../fonts/Formular-Bold.woff") format("woff")
}


@font-face {
    font-family: Geometria;
    font-weight: 800;
	src: url("../fonts/Geometria-ExtraBold.woff") format("woff")
}

