/////////////////////////////////////////////////////////////////////
@media (max-width: 1440px) {
	.container {
		width: 1200px;
	}
	.header__right {
		width: 430px;
	}
	.header__logo {
		margin-bottom: 100px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	.container {
		width: 1000px;
	}
	.site__header {
		height: 800px;
	}
	.header__content {
		width: 500px;
	}
	.header__logo {
		width: 110px;
		margin-bottom: 80px;
	}
	.header__title {
		font-size: 44px;
	}
	.header__price {
		width: 260px;
	}
	.header__block {
		margin-top: -10px;
		padding-left: 10px;
	}
	.header__info {
		font-size: 19px;
	}
	.header__order-btn {
		width: 230px;
	}
	.header__right {
		width: 380px;
		height: 500px;
		top: 100px;
	}
	.header__img-wrapper1 {
		width: 320px;
		height: 445px;
		left: -140px;
	}
	.header__img-wrapper2 {
		width: 250px;
		height: 370px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1000px) {
	.container {
		width: 800px;
	}
	.site__header {
		height: auto;
	}
	.header__right {
		position: static;
	}
	.header__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 70px;
	}
	.header__logo {
		width: 110px;
		margin-bottom: 20px;
		order: 1;
	}
	.header__title {
		order: 2;
		margin-bottom: 15px;
	}
	.header__right {
		order: 3;
		width: 100vw;
		height: auto;
		margin-left: -100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 39px 100px;
		margin-bottom: 10px;
	}
	.header__sale {
		order: 4
	}
	.header__price-block {
		order: 5;
	}
	.header__img-wrapper1 {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		width: 45vw;
		height: 60vw;
		margin-right: -50px;
	}
	.header__img-wrapper2 {
		width: 35vw;
		height: 50vw;
		left: auto;
		transform: none;
		top: auto;
		position: relative;
	}
	.header__price {
		width: 50%;
	}
	.header__block {
		width: 50%;

		.header__order-btn {
			width: 100%;
		}
	}
	.advantage__section {
		margin-top: 0px;
	}
}
