@font-face {
    font-family: "Proxima Nova";
    font-weight: normal;
	src: url("../fonts/ProximaNova-Regular.woff") format("woff")
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 300;
	src: url("../fonts/ProximaNova-Light.woff") format("woff")
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 600;
	src: url("../fonts/ProximaNova-Semibold.woff") format("woff")
}

@font-face {
    font-family: "Merriweather";
    font-weight: normal;
	src: url("../fonts/Merriweather-Regular.woff") format("woff")
}

@font-face {
    font-family: "Merriweather";
    font-weight: 300;
	src: url("../fonts/Merriweather-Light.woff") format("woff")
}

