@font-face {
    font-family: Poppins;
    font-weight: normal;
    font-style: normal;
	src: url("../fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
    font-family: Poppins;
    font-weight: 300;
    font-style: normal;
	src: url("../fonts/Poppins-Light.woff") format("woff");
}

@font-face {
    font-family: Poppins;
    font-weight: 500;
    font-style: normal;
	src: url("../fonts/Poppins-Medium.woff") format("woff");
}

@font-face {
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
	src: url("../fonts/Poppins-SemiBold.woff") format("woff");
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    font-style: normal;
	src: url("../fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
    font-family: "Orchidea Pro";
    font-weight: 300;
    font-style: normal;
	src: url("../fonts/OrchideaPro-Light.woff") format("woff");
}

@font-face {
    font-family: "Orchidea Pro";
    font-weight: 300;
    font-style: italic;
	src: url("../fonts/OrchideaPro-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Orchidea Pro";
    font-weight: 500;
    font-style: normal;
	src: url("../fonts/OrchideaPro-Medium.woff") format("woff");
}

@font-face {
    font-family: "Orchidea Pro";
    font-weight: bold;
    font-style: normal;
	src: url("../fonts/OrchideaPro-Bold.woff") format("woff");
}

@font-face {
    font-family: "Orchidea Pro";
    font-weight: normal;
    font-style: italic;
	src: url("../fonts/OrchideaPro-Italic.woff") format("woff");
}



