@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
		url("../fonts/OpenSans-Regular.eot");
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
		url("../fonts/OpenSans-Bold.eot");
}

@font-face {
    font-family: Tinos;
    font-weight: normal;
    src: url("../fonts/Tinos-Regular.woff2") format("woff2"),
		url("../fonts/Tinos-Regular.eot");
}

@font-face {
    font-family: Oswald;
    font-weight: bold;
    src: url("../fonts/Oswald-Bold.woff2") format("woff2"),
		url("../fonts/Oswald-Bold.eot");
}

@font-face {
    font-family: "Bungee Shade";
    font-weight: normal;
    src: url("../fonts/BungeeShade-Regular.woff2") format("woff2"),
		url("../fonts/BungeeShade-Regular.eot");
}

@font-face {
    font-family: "Baloo Bhaina";
    font-weight: normal;
    src: url("../fonts/BalooBhaina-Regular.woff2") format("woff2"),
		url("../fonts/BalooBhaina-Regular.eot");
}

@font-face {
    font-family: "Anima Madurai";
    font-weight: normal;
    src: url("../fonts/ArimaMadurai-Light.woff2") format("woff2"),
		url("../fonts/ArimaMadurai-Light.eot");
}

@font-face {
    font-family: "Paytone One";
    font-weight: normal;
    src: url("../fonts/PaytoneOne-Regular.woff2") format("woff2"),
		url("../fonts/PaytoneOne-Regular.eot");
}

