/////////////////////////////////////////////////////////////////////
@media (max-width: 1920px) {
	.site__header {
		background-size: 1920px auto;
	}
	.info__wrapper {
		position: relative;
	}
	.info__phone {
		left: -359px;
	}
	.info__circle {
		right: -554px;
	}
	.info__section-2 {
		background-size: 1920px auto;
	}
	.characteristic__section {
		background-size: 1920px auto;
	}
}
