.site__main {
	width: 100%;
	height: auto;
}

.info__section {
	width: 100%;
	height: auto;
	margin-top: -50px;
}

.info__wrapper {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-end;
	padding-top: 80px;
	padding-bottom: 75px;
	position: relative;
	z-index: 1;
	margin-bottom: 64px;
}

.info__img {
	position: absolute;
	top: 0;
	left: -110px;
	width: auto;
	height: 100%;
	z-index: -1;
}

.info__left {
	width: 315px;
	height: auto;
	background-image: url(../img/card-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 34px 46px;
	align-self: flex-start;
	margin-top: -30px;
	margin-right: 19px;
}

.info__left-title {
	font-family: "Mazzard M", sans-serif;
	font-style: normal;
	font-weight: 350;
	font-size: 48px;
	line-height: 1.6;
	color: #0D5088;
}

.info__left-text {
	font-family: "SF Pro Display", sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	line-height: 1.2;
	color: #05345B;
	margin-bottom: 20px;
}

.info__left-btn {
	width: 200px;
	height: 50px;
}

.info__cards {
	width: 696px;
	height: 476px;
	position: relative;
}

.info__card {
	width: 250px;
	height: auto;
	background: #FBFBFF;
	border: 1px solid #F3F3F3;
	box-shadow: 0px 10px 40px -20px #A2ABFF;
	padding: 15px 9px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
}

.info__card-1 {
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	z-index: 2;
}

.info__card-2 {
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
}

.info__card-3 {
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 2;
}

.info__card-4 {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}


.info__card-title {
	font-family: "Mazzard M", sans-serif;
	font-style: normal;
	font-weight: 350;
	font-size: 24px;
	line-height: 1.6;
	color: #01325B;
	text-align: center;
}

.info__card-text {
	font-family: "SF Pro Display", sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
	color: #01325B;
}







.galary__section {
	width: 100%;
	height: auto;
	padding-top: 65px;
	padding-bottom: 195px;
	background-image: url(../img/galary-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.galary__wrapper {
	width: 100%;
	height: auto;
	position: relative;
}

.galary__block {
	width: 350px;
	padding: 88px 11px;
	margin: auto;
	background-image: url(../img/card-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 5;
	box-shadow: 0px 20px 30px -30px #6F1FAE;
}

.galary__text {
	font-family: "SF Pro Display", sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #05345B;
	padding: 0 40px;
}

.galary__title {
	margin: 19px 0;
	font-family: "Mazzard M", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 1.6;
	text-align: center;
	color: #0D5088;
}

.galary {
	width: 100%;
	height: 651px;
	position: absolute;
	top: 0;
	left: 0;
}

.galary__item {
	width: 350px;
	height: auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		pointer-events: auto;
		display: block;
		transition: 0.3s ease;
	}

	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}

.galary__item-1 {
	margin-left: -46%;
	bottom: 0;
	z-index: 1;
	filter: grayscale(100%);
}

.galary__item-2 {
	margin-left: -31%;
	top: 0;
	z-index: 2;
}

.galary__item-3 {
	margin-left: -18%;
	bottom: 0;
	z-index: 3;
}

.galary__item-4 {
	margin-left: 18%;
	bottom: 0;
	z-index: 3;
}

.galary__item-5 {
	margin-left: 31%;
	top: 0;
	z-index: 2;
}

.galary__item-6 {
	margin-left: 46%;
	bottom: 0;
	z-index: 1;
	filter: grayscale(100%);
}

.card__section {
	width: 100%;
	height: auto;
}

.card {
	width: 100%;
	display: flex;
	position: relative;
	z-index: 1;
}

.card__circle {
	mix-blend-mode: multiply;
	filter: blur(50px);
	border-radius: 100%;
	position: absolute;
	z-index: -1;
}

.card1__circle-1 {
	width: 569px;
	height: 573px;
	background: radial-gradient(circle, rgba(243,64,193,0.3) 0%, rgba(243,64,193,0) 70%);
	top: -316px;
    left: -569px;
}

.card1__circle-2 {
	width: 569px;
	height: 573px;
	background: radial-gradient(circle, rgba(243,64,193,0.3) 0%, rgba(243,64,193,0) 70%);
	top: 118px;
    left: -405px;
}

.card1__circle-3 {
	width: 569px;
	height: 573px;
	background: radial-gradient(circle, rgba(243,64,193,0.3) 0%, rgba(243,64,193,0) 70%);
	top: 50px;
    left: 60px;
}

.card1__circle-4 {
	width: 423px;
	height: 426px;
	background: radial-gradient(circle, rgba(243,64,193,0.2) 0%, rgba(243,64,193,0) 70%);
	top: -150px;
    right: -400px;
}

.card2__circle-1 {
	width: 569px;
	height: 573px;
	background: radial-gradient(circle, rgba(243,64,193,0.3) 0%, rgba(243,64,193,0) 70%);
	top: 60px;
    left: -400px;
}

.card2__circle-2 {
	width: 423px;
	height: 426px;
	background: radial-gradient(circle, rgba(243,64,193,0.3) 0%, rgba(243,64,193,0) 70%);
	top: 280px;
    left: -500px;
}

.card2__circle-3 {
	width: 569px;
	height: 573px;
	background: radial-gradient(circle, rgba(243,64,193,0.3) 0%, rgba(243,64,193,0) 70%);
	top: 50px;
    left: 60px;
}

.card2__circle-4 {
	width: 569px;
	height: 573px;
	background: radial-gradient(circle, rgba(243,64,193,0.3) 0%, rgba(243,64,193,0) 70%);
	top: 200px;
    right: -585px;
}

.card__1 {
	margin-bottom: 115px;
}

.card__2 {
	margin-bottom: 50px;
}

.card__left {
	width: 735px;
	height: auto;
	display: flex;
	position: relative;
}

.card__fotos {
	width: 164px;
	margin-right: 46px;

	a {
		display: block;
		width: 100%;
		height: auto;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 5px;
	}

	img {
		pointer-events: auto;
		display: block;
		transition: 0.3s ease;
	}

	a:hover {
		img {
			transform: scale(1.1);
		}
	}
}

.card__logo {
	width: 93px;
	height: auto;
	align-self: flex-start;
}

.card__boot {
	position: absolute;
	bottom: 0;
	left: 190px;
}

.card__right {
	width: 505px;
	position: relative;
}

.card__title {
	font-family: "Mazzard M", sans-serif;
	font-style: normal;
	font-weight: 350;
	font-size: 48px;
	line-height: 1;
	color: #01325B;
	margin-bottom: 15px;
}

.card__discount {
	display: inline-block;
	width: 140px;
	height: auto;
	position: absolute;
	right: 0;
	top: 73px;
	text-align: right;
	font-family: "SF Pro Display", sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 14px;
	line-height: 17px;
	text-align: right;
	color: rgba(13, 80, 136, 0.63);

	span {
		font-weight: normal;
	}
}

.card__price {
	margin-bottom: 15px;

	.new__price {
		color: #3E709A;
	}

	.old__price {
		color: rgba(1, 50, 91, 0.8);

		&:before {
			background: #01325B;
		}
	}
}

.card__form {
	width: 100%;
	height: auto;
}

.card__size {
	display: flex;
	align-items: center;
	font-family: "SF Pro Display";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.2;
	text-align: center;
	color: #01325B;
	margin-bottom: 22px;
}

.card__size-text {
	margin-right: 30px;
	font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #01325B;
}

.card__size-btn {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(1, 50, 91, 0.3);
	margin-right: 15px;
	background: none;
	font-weight: 200;
	color: rgba(1, 50, 91, 0.5);
	cursor: pointer;
	transition: 0.3s ease;

	&:hover {
		border: 1px solid rgba(1, 50, 91, 0.5);
		color: rgba(1, 50, 91, 0.7);
	}

	&.active {
		font-weight: 300;
		border: 1px solid rgba(1, 50, 91, 0.5);
		color: #01325B;
	}
}

.card__inputs {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 5px;
}

.card__input-wrapper {
	width: 48%;
	height: auto;
	margin-bottom: 15px;
}

.card__input {
	width: 100%;
	height: 50px;
	border: 1px solid rgba(13, 80, 136, 0.3);
	background: transparent;
	padding: 0 22px;
	font-family: "SF Pro Display", sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	line-height: 1;
	color: #01325B;
}

.card__color {
	display: flex;
	height: 50px;
	align-items: center;
	margin-bottom: 15px;	
}

.color {
	width: 34px;
	height: 34px;
	border-radius: 100%;
	border: 1px solid rgba(1, 50, 91, 0.3);
	position: relative;

	&:before {
		content: "";
		width: 28px;
		height: 28px;
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #FFA16C;
	}
}

.card__2 .color {
	&:before {
		background: #000;
	}
}

.card__submit {
	height: 50px;
	width: 70%;
	background: #3E709A;
	border: 1px solid #3E709A;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "SF Pro Display", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	color: #FFFFFF;
	cursor: pointer;
	transition: 0.3s ease;

	&:hover {
		color: #3E709A;
		background: transparent;
	}
}

.card__info {
	width: 100%;
	height: auto;
	padding-top: 15px;
	border-top: 1px solid rgba(1, 50, 91, 0.2);
}

.card__info-title {
	display: inline-block;
	font-family: "SF Pro Display", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.2;
	color: #01325B;
	margin-bottom: 18px;
}

.card__info-text {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-family: "SF Pro Display", sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	line-height: 1.2;
	color: #01325B;
	margin-bottom: 4px;

	&:last-child {
		margin-bottom: 0;
	}
}

.card__info-right {
	font-weight: 300;
}

 