.info {
	width: 100%;
	height: auto;
}

.advantage__wrapper {
	width: 100%;
	height: auto;
	padding-bottom: 150px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.leaf {
	position: absolute;
	pointer-events: none;

	img {
		animation: rotate 20s infinite
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate-reverse {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.info__leaf-1 {
	left: -250px;
	top: 100px;
}

.info__leaf-2 {
	top: 200px;
	left: -190px;

	img {
		animation-name: rotate-reverse;
		animation-delay: 2s;
		animation-duration: 30s;
	}
}

.info__leaf-3 {
	top: 380px;
	left: -240px;

	img {
		animation-delay: 3s;
		animation-duration: 25s;
	}
}

.info__leaf-4 {
	top: 245px;
	left: -80px;

	img {
		animation-name: rotate-reverse;
		animation-delay: 4s;
		animation-duration: 35s;
	}
}

.info__leaf-5 {
	bottom: 20px;
	left: 50px;

	img {
		animation-delay: 2s;
	}
}

.info__leaf-6 {
	bottom: 24px;
	left: 220px;

	img {
		animation-name: rotate-reverse;
		animation-duration: 25s;
	}
}

.info__leaf-7 {
	bottom: 25px;
	right: 180px;

	img {
		animation-delay: 1s;
	}
}

.info__leaf-8 {
	bottom: 73px;
	right: -30px;

	img {
		animation-duration: 30s;
	}
}

.info__leaf-9 {
	top: 150px;
	right: -140px;

	img {
		animation-name: rotate-reverse;
		animation-delay: 4s;
		animation-duration: 25s;
	}
}

.info__leaf-10 {
	top: -30px;
	right: -320px;

	img {
		animation-duration: 35s;
	}
}

.info__leaf-11 {
	bottom: 90px;
	right: -350px;

	img {
		animation-name: rotate-reverse;
		animation-delay: 5s;
		animation-duration: 25s;
	}
}

.advantage {
	width: 32.5%;
	height: auto;
	padding: 5px;
	border: 1px solid #BD9EFF;
	border-radius: 20px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

}

.advantage__block {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #DBCAFF 0%, rgba(219, 202, 255, 0.29) 100%);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 26px 21px;
}

.advantage__img {
	margin-bottom: 10px;
}

.advantage__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: #3D3450;
	margin-bottom: 10px;
	text-align: center;
}

.advantage__text {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.94;
	text-align: center;
	color: #3D3450;
}

.video__wrapper {
	width: 100%;
	height: auto;
	position: relative;
	padding-bottom: 150px;
}

.video__leaf-1 {
	top: 70px;
	left: -300px;

	img {
		animation-duration: 25s;
		animation-delay: 10s;
	}
}

.video__leaf-2 {
	top: 300px;
	left: -80px;

	img {
		animation-name: rotate-reverse;
		animation-delay: 5s;
	}
}

.video__leaf-3 {
	bottom: 81px;
	left: -194px;

	img {
		animation-delay: 2s;
		animation-duration: 22s;
	}
}

.video__leaf-4 {
	bottom: -57px;
	left: 70px;

	img {
		animation-name: rotate-reverse;
		animation-delay: 6s;
		animation-duration: 35s;
	}
}

.video__leaf-5 {
	bottom: -12px;
	right: 350px;

	img {
		animation-delay: 1s;
	}
}

.video__leaf-6 {
	bottom: -60px;
	right: 0px;

	img {
		animation-delay: 7s;
		animation-duration: 25s;
	}
}

.video__leaf-7 {
	bottom: -60px;
	right: -380px;

	img {
		animation-name: rotate-reverse;
		animation-delay: 2s;
		animation-duration: 30s;
	}
}

.video__leaf-8 {
	bottom: 120px;
	right: -160px;

	img {
		animation-delay: 4s;
		animation-duration: 25s;
	}
}

.video__leaf-9 {
	top: 250px;
	right: -300px;

	img {
		animation-name: rotate-reverse;
		animation-delay: 6s;
		animation-duration: 30s;
	}
}

.video__leaf-10 {
	top: 38px;
	right: -270px;


	img {
		animation-name: rotate-reverse;
		animation-delay: 1s;
		animation-duration: 28s;
	}
}



.video__content {
	width: 585px;
	height: auto;
	position: relative;
}

.video__title {
	font-weight: 600;
	font-size: 45px;
	line-height: 1.56;
	text-transform: uppercase;
	color: #FF8495;
	margin-bottom: 40px;
}

.video__text {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.94;
	color: #3D3450;
	margin-bottom: 40px;
}

.video__block {
	position: absolute;
	top: 0;
	right: -785px;
	border: 1px solid #BD9EFF;
	border-radius: 20px;
	padding: 5px;
	height: 100%;
	width: 740px;
}

.video {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	border-radius: 20px;
	cursor: pointer;

	iframe {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 2;
	}

	&:hover {
		.video__play {
			&:before {
				animation: scale 5s infinite;
			}
		}
	}
}

.video__bg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: 108%;
	transform: translate(-50%, -50%);
}

.video__play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90px;
	height: 90px;
	background: linear-gradient(180deg, #DBCAFF 0%, rgba(219, 202, 255, 0.29) 100%);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		margin-left: 10px;
	}

	&:before {
		content: "";
		width: 100px;
		height: 100px;
		border: 1px solid #BD9EFF;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 100%;
	}
}
