@import "fonts";
@import "main";
@import "header";
@import "info";
@import "galary";
@import "card";
@import "review";
@import "delivery";
@import "footer";
@import "modal";

/////////////////////////////////////////////////////////////////////
@media (max-width: 1920px) {
	.galary {
		height: 39vw;
	}
	.galary__slide {
		min-width: 24.5vw;
		min-height: 34vw;
	}
	.galary__slide-1 {
		left: 0;
		top: 5vw;
		z-index: 6;
		opacity: 1;
	}
	
	.galary__slide-2 {
		left: 17%;
		top: 0px;
		z-index: 3;
		opacity: 0.6;
	}
	
	.galary__slide-3 {
		left: 29%;
		top: 5vw;
		z-index: 5;
		opacity: 1;
	}
	
	.galary__slide-4 {
		left: 46%;
		top: 0px;
		z-index: 2;
		opacity: 0.6;
	}
	
	.galary__slide-5 {
		left: 58%;
		top: 5vw;
		z-index: 4;
		opacity: 1;
	}
	
	.galary__slide-6 {
		left: 75%;
		top: 0px;
		z-index: 1;
		opacity: 0.6;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1440px) {
	.container {
		width: 1000px;
	}
	.header__content {
		width: 540px;
	}
	.header__logo {
		margin-bottom: 70px;
	}
	.video__content {
		width: 400px;
	}
	.video__title {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.video__text {
		margin-bottom: 20px;
	}
	.video__block {
		right: -660px;
		width: 620px;
	}
	.card__left {
		width: 580px;
	}
	.card__right {
		padding: 35px 35px 20px;
	}
	.card__sprey {
		width: 516px;
		margin-top: 50px;
	}
	.sprey {
		.card__left {
			justify-content: flex-start;
		}
	}
	.delivery__wrapper {
		width: 1000px;
	}
	.footer__wrapper {
		.header__content {
			width: 450px;
		}
		.header__title {
			font-size: 42px;
		}
	}
	.header__girle {
		bottom: -42%;
		right: 12%;
		width: 71%;
	}
	.boot__black {
		bottom: -8%;
		left: 5%;
		width: 42%;
	}
	.boot__red {
		bottom: 18%;
		left: 0;
		width: 32%;
	}
	.card__slide img {
		width: auto !important;
		height: 100%;
		max-width: 540px !important;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1080px) {
	.header__girle {
		display: none;
	}
	.video__block {
		right: -610px;
		width: 550px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1000px) {
	.container {
		width: 700px;
	}
	.header__content {
		width: 100%;
		background-image: url(../img/header-mobile-bg.png);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 100%;
		padding: 50px 0 100px;
	}
	.header__circle {
		position: relative;
		top: auto;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		width: 800px;
    	height: 800px;
		margin-bottom: 32px;
	}
	.header__flowers {
		top: 8%;
		left: 1%;
	}
	.header__girle {
		bottom: -42%;
		right: -10%;
		width: 76%;
		display: block;
	}
	.boot__black {
		bottom: -6%;
		left: 11%;
		width: 54%;
	}
	.boot__red {
		bottom: 23%;
		left: 5%;
		width: 40%;
	}
	.header__logo {
		margin: auto;
		margin-bottom: 40px;
	}
	.header__title {
		text-align: center;
		margin-bottom: -100px;
	}
	.header__left {
		transform: rotate(90deg);
		left: -75px;
		top: -470px;
		width: 800px;
	}
	.header__text {
		max-width: 100%;
		text-align: center;
	}
	.price {
		justify-content: center;
	}
	.header__order-btn {
		margin: auto;
		margin-bottom: 20px;
	}
	.header__discount {
		text-align: center;
	}
	.advantage__wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding-bottom: 100px;
	}
	.advantage {
		width: 100%;
		margin-bottom: 20px;
	}
	.video__wrapper {
		padding-bottom: 100px;
	}
	.video__content {
		width: 100%;
	}
	.video__block {
		position: relative;
		top: auto;
		right: auto;
		width: 100%;
		height: 500px;
		margin-bottom: 40px;
	}
	.video__title {
		text-align: center;
		font-size: 30px;
		margin-bottom: 40px;
	}
	.video__text {
		text-align: center;
		margin-bottom: 40px;
	}
	.card__content {
		flex-direction: column;
		justify-content: flex-start;

		.card__left {
			width: 100%;
		}
	} 
	.card__slide img {
		width: auto !important;
		height: 100%;
		max-width: 100% !important;
	}
	.card__price {
		.price {
			justify-content: flex-start;
		}
	}
	.card__right {
		max-width: 402px;
		padding: 30px 27px 40px;
		margin: auto;
	}
	.card__sprey {
		width: 545px;
		margin-top: 0px;
	}
	.delivery__wrapper {
		width: 700px;
	}
	.delivery__stages {
		flex-direction: column;
		justify-content: flex-start;
	}
	.delivery__stage {
		width: 100%;
		margin-bottom: 30px;
	}
	.review__slider .owl-nav {
		display: none;
	}
	.footer__wrapper .header__content {
		width: 100%;
	}
	.footer__left {
		display: none;
	}
	.footer__wrapper .header__circle {
		right: auto;
		top: auto;
		bottom: auto;
	}
	.footer__flowers {
		position: absolute;
		top: -16%;
		left: -12%;
		z-index: 1;
	}
	.footer__wrapper {
		.header__title {
			margin-bottom: 60px;
		}
	}
	.footer__wrapper .boot__black {
		bottom: auto;
		top: 13%;
		left: 23%;
		width: 73%;
	}
	.footer__wrapper .boot__red {
		bottom: auto;
		top: 5%;
		left: 10%;
		width: 53%;
	}
	.footer__wrapper .card__form {
		margin: auto;
	}
	.footer__wrapper .header__content {
		padding: 100px 0;
	}
	.footer__line:before {
		display: none;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
	.container {
		width: calc(100% - 40px);
	}
	.header__left {
		display: none;
	}
	.header {
		background-image: url(../img/header-bg-mobile-top.png);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: contain;
	}
	.header__content {
		padding: 29px 0 84px;
	}
	.header__logo {
		width: 100px;
		height: auto;
	}
	.info__decor {
		.leaf {
			display: none;
		}
	}
	.info__leaf-4 {
		display: block !important;
		top: -35px;
    	left: -25px;

		img {
			width: 50%;
		}
	}
	.galary {
		width: 992px;
		height: 471px;
		margin-bottom: 40px;
	}
	.galary__slide {
		min-width: 293px;
		min-height: 407px;
		max-width: 293px;
		max-height: 407px;
		padding: 3px;
	}
	.galary__slide-1 {
		left: 0;
		top: 60px;
		z-index: 4;
		opacity: 0;
	}
	
	.galary__slide-2 {
		left: calc(50% - 323px);
		top: 0px;
		z-index: 5;
		opacity: 0.6;
	}
	
	.galary__slide-3 {
		left: calc(50% - 147px);
		top: 60px;
		z-index: 6;
		opacity: 1;
	}
	
	.galary__slide-4 {
		left: calc(50% + 30px);
		top: 0px;
		z-index: 5;
		opacity: 0.6;
	}
	
	.galary__slide-5 {
		left: calc(100% - 293px);
		top: 60px;
		z-index: 4;
		opacity: 0;
	}
	
	.galary__slide-6 {
		left: calc(100% - 293px);
		top: 0px;
		z-index: 3;
		opacity: 0;
	}
	.move__next, .move__back {
		width: 35px;
		height: 35px;
		background-size: contain;
	}
	.move {
		width: 6px;
		height: 6px;
	}
	.card__sprey {
		width: 76vw;
		margin-top: 0px;
	}
	.delivery__wrapper {
		width: calc(100% - 40px);
	}
	.review__slider {
		width: 100%;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 480px) {
	.header {
		background-image: url(../img/header-bg-mobile-top.png), url(../img/header-mobile-bg.png);
		background-repeat: no-repeat;
		background-position: center top, center bottom;
		background-size: contain, 115%;
	}
	.header__flowers {
		top: 5%;
		left: 0%;
		width: 100%;
	}
	.header__girle {
		bottom: -38%;
		right: -16%;
		width: 83%;
	}
	.boot__black {
		bottom: -6%;
		left: 11%;
		width: 59%;
	}
	.boot__red {
		bottom: 25%;
		left: 5%;
		width: 43%;
	}
	.header__title {
		font-size: 10vw;
		margin-bottom: -15vw;
	}
	.header__circle {
		width: 110vw;
		height: 110vw;
	}
	.header__text {
		font-size: 5vw;
		margin-bottom: 7vw;
	}
	.old__price {
		font-size: 5vw;
		margin-right: 6vw;
	}
	.new__price {
		font-size: 10vw;
	}
	.header__price {
		margin-bottom: 7vw;
	}
	.header__content {
		background: none;
	}
	.header__order-btn {
		width: 100%;
		max-width: 300px;
	}
	.header__discount {
		font-size: 4.2vw;
	}
	.header__logo {
		margin-bottom: 9vw;
	}
	.advantage__wrapper {
		padding-bottom: 100px;
		background-image: url(../img/info-mobile-bg.png);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.advantage__title {
		font-size: 4.5vw;
	}
	.advantage__text {
		font-size: 4vw;
	}
	.video__wrapper {
		padding-bottom: 100px;

		&:before {
			content: "";
			width: calc(100vw - 22px);
			height: 44vw;
			position: absolute;
			top: 18px;
			left: -20px;
			background-image: url(../img/video-top-bg.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&:after {
			content: "";
			width: calc(100vw - 18px);
			height: 29vw;
			position: absolute;
			bottom: 8px;
			right: -20px;
			background-image: url(../img/video-bottom-bg.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
	.video__block {
		width: 100vw;
		height: 62vw;
		margin-left: -20px;
		margin-bottom: 9vw;
		padding: 3px;
	}
	.video__bg {
		height: 110%;
	}
	.video__play {
		width: 50px;
		height: 50px;

		img {
			width: 25px;
			height: auto;
			margin-left: 5px;
		}
	}
	.video__play:before {
		width: 56px;
		height: 56px;
	}
	.video__decor {
		.leaf {
			display: none;
		}
	}
	.video__title {
		font-size: 8vw;
		margin-bottom: 9vw;
	}
	.video__text {
		margin-bottom: 9vw;
		font-size: 4vw;
	}
	.video__leaf-3 {
		display: block !important;
		bottom: auto;
		top: 80vw;
		left: -14px;
		z-index: 1;

		img {
			width: 50%;
		}
	}
	.video__leaf-4 {
		display: block !important;
		bottom: auto;
    	top: 130vw;
		left: auto;
		right: -115px;
		z-index: 1;

		img {
			width: 50%;
		}
	}
	.video__leaf-10 {
		display: block !important;
		top: 64vw;
    	right: -88px;

		img {
			width: 50%;
		}
	}
	.galary__title {
		font-size: 8vw;
		margin-bottom: 9vw;
	}
	.galary__text {
		font-size: 4.3vw;
		margin-bottom: 9vw;
	}
	.galary__decor {
		.leaf {
			display: none;
		}
	}
	.galary__wrapper {
		&:before {
			content: "";
			width: 100vw;
			max-width: 355px;
			height: 165px;
			background-image: url(../img/galary-bg-mobile.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			position: absolute;
			bottom: 29px;
			right: -6px;
			pointer-events: none;
		}
		&:after {
			content: "";
			width: 100vw;
			max-width: 388px;
			height: 266px;
			background-image: url(../img/galary-bg-mobile-top.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			position: absolute;
			top: 4px;
			right: -22px;
			pointer-events: none;
		}
	}
	.galary__wrapper {
		padding-bottom: 100px;
	}
	.galary__leaf-2 {
		display: block !important;
		left: -35px;
		top: 58vw;
		z-index: 10;

		img {
			width: 50%;
		}
	}
	.card__section {
		.container {
			width: 100%;
		}
	}
	.card__logo {
		width: 100px;
		margin-left: 40px;
		margin-bottom: 60px;
	}
	.card__left {
		padding: 40px 0 46px;
	}
	.card__slide {
		height: 65vw;
	}
	.owl-nav button {
		width: 35px;
		height: 35px;
		background-size: contain !important;
	}
	.owl-nav {
		width: 160px;
		margin-top: 60px;
	}
	.owl-dots {
		margin-top: -21px;
	}
	.owl-dots button {
		width: 6px;
		height: 6px;
	}
	.card__form .header__order-btn {
		width: 100%;
		max-width: 100%;
		margin-bottom: 0;
	}
	.card__name {
		font-size: 8.2vw;
		margin-bottom: 4vw;
	}
	.card__price .old__price {
		font-size: 5.5vw;
	}
	.card__price .new__price {
		font-size: 9vw;
	}
	.card__info {
		font-size: 4.5vw;
		margin-bottom: 3vw;
	}
	.card__color {
		font-size: 4.5vw;
	}
	.card__info:last-of-type {
		margin-bottom: 8vw;
	}
	.card__size-btns {
		margin-bottom: 7vw;
	}
	.card__size-btn {
		width: 14.5vw;
		height: 14.5vw;
		font-size: 4.8vw;
	}
	.card__size-btn.active .card__size-text {
		font-size: 4vw;
	}
	.card__sprey {
		width: 76vw;
		margin-top: 0px;
		margin-right: 0;
	}
	.sprey .card__logo {
		margin-bottom: 70px;
	}
	.card__content .card__left {
		padding-bottom: 70px;
	}
	.card__text {
		font-size: 4vw;
		margin-bottom: 4vw;
		margin-top: 4vw;
	}
	.sprey .card__right {
		padding: 30px 27px 40px;
	}
	.card__decor {
		.leaf {
			display: none;
		}
	}
	.card {
		margin-bottom: 50px;
		position: relative;
		z-index: 1;
	}
	.card__1 {
		position: relative;

		&:after {
			content: "";
			width: 100%;
			max-width: 383px;
			height: 58px;
			
			position: absolute;
			z-index: 10;
			bottom: -67px;
			left: 50%;
			background-image: url(../img/card-bg-mobile.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			transform: translateX(-50%);
		}
	}
	.card__wrapper {
		padding-bottom: 50px;
	}
	.sprey {
		position: relative;
		z-index: -1;
	}
	.card__leaf-3 {
		display: block !important;
		top: -30px;
    	left: -9px;
		z-index: 10;

		img {
			width: 50%;
		}
	} 
	.delivery__decor {
		.leaf {
			display: none;
		}
	}
	.delivery__section {
		position: relative;

		&:before {
			content: "";
			width: 411px;
			height: 1460px;
			position: absolute;
			top: -16vw;
			left: 50%;
			transform: translateX(-50%);
			background-image: url(../img/delivery-bg-mobile.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

		}
	}
	.delivery__wrapper {
		padding-bottom: 70px;
		.galary__title {
			font-size: 9vw;
		}
	}
	.delivery__stages {
		max-width: 300px;
		margin: auto;
	}
	.delivery__leaf-6 {
		display: block !important;
		left: 5px;
		bottom: 71px;
		top: auto;
		z-index: 10;

		img {
			width: 50%;
		}
	}
	.review__decor {
		.leaf {
			display: none;
		}
	}
	.review__wrapper {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			width: 90vw;
			height: 98vw;
			background-image: url(../img/review-bg-mobile.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			top: -16px;
			left: 5px;
			z-index: -1;
		}
	}
	.footer__wrapper {
		&:before {
			content: "";
			width: 348px;
			height: 132px;
			position: absolute;
			top: -12px;
			left: 50%;
			transform: translateX(-50%);
			margin-left: 20px;
			background-image: url(../img/footer-bg-mobile.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			pointer-events: none;
		}
		&:after {
			content: "";
			width: 427px;
			height: 439px;
			position: absolute;
			bottom: 21px;
			left: 50%;
			transform: translateX(-50%);
			background-image: url(../img/footer-bg-mobile-bottom.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			z-index: 1;
			pointer-events: none;
		}
		.header__text {
			font-size: 5vw;
			margin-bottom: 9vw;
		}
		.card__form .header__order-btn {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	.footer__wrapper .header__title {
		font-size: 11vw;
		margin-bottom: 20px;
	}
	.footer__wrapper .header__circle {
		margin-left: 100px;
		width: 129vw;
    	height: 129vw;
		margin-bottom: -75px;

		&:before {
			content: "";
			width: 100%;
			height: 130vw;
			position: absolute;
			top: -19vw;
			left: 0;
			margin-left: -100px;
			background-image: url(../img/footer-circle-bg-mobile.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			z-index: 1;
			pointer-events: none;
		}
	}
	.circle__mobile-overlay {
		width: 120vw;
		height: 600px;
		position: absolute;
		bottom: -510px;
		left: -20vw;
		background-color: #F7F3FF;
		z-index: 1;

		&:before {
			content: "";
			top: -24px;
			left: 0;
			width: 100%;
			height: 24px;
			position: absolute;
			background:  linear-gradient(180deg, rgba(247, 243, 255, 0) 0%, #F7F3FF 89.58%);
			background-position: center top;
			background-size: 100%;
			background-repeat: no-repeat;
			pointer-events: none;
		}
		
	}
	.footer__flowers {
		display: none;
	}
	.footer__wrapper .boot__red {
		bottom: auto;
		top: -1%;
		left: -4%;
		width: 48%;
	}
	.footer__wrapper .boot__black {
		bottom: auto;
		top: 10%;
		left: 0%;
		width: 69%;
	}
	.divider__2, .divider__1, .divider__4 {
		display: none;
	}
	.footer__info br {
		display: block;
	}
	.footer__info {
		font-size: 3.5vw;
	}
	.footer__line-wrapper {
		padding: 20px 0;
	}
	.footer__wrapper .card__form {
		width: 100%;
		max-width: 350px;
	}
}
