/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	.container {
		width: 1000px;
	}
	.header__parfum-back1 {
		display: none;
	}
	.header__parfum-back2 {
		display: none;
	}
	.header__parfum {
		width: 540px;
		right: -80px;
	}
	.header__wrapper {
		padding: 100px 0 80px;
	}
	.header__original {
		width: 392px;
		top: 70px;
		right: -20px;
	}
	.advantage__card {
		width: 300px;
	}
	.information__img {
		max-width: 470px;
	}
	.information {
		max-width: 440px;
	}
	.card__left {
		width: 320px;
		height: 320px;
	}
	.card {
		padding: 40px;
	}
	.card__title {
		font-size: 28px;
	}
	.card__input {
		width: 175px;
	}
	.card__submit {
		width: 175px;
	}
	.review__section-title {
		margin-bottom: 70px;
	}
	.review__slider {
		width: 780px;
		height: auto;
		display: inline-block;
		margin: auto;
	}
	.review {
		margin-top: 20px;
		margin-bottom: 20px;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	}
	.owl-nav {
		width: 320px;
		margin: auto;
		display: flex;
		margin-top: 10px;
		justify-content: space-between;

		button {
			width: 30px;
			height: 17px;
			background-image: url(../img/arrow.png) !important;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			span {
				display: none;
			}
		}
		.owl-next {
			transform: rotate(180deg);
		}
	}

	.owl-dots {
		display: flex;
		width: 200px;
		justify-content: center;
		align-items: center;
		margin: auto;
		margin-top: -14px;

		.owl-dot {
			width: 12px;
			height: 12px;
			border-radius: 100%;
			background-color: #922790 !important;
			margin-right: 12px;

			span {
				display: none;
			}
		}
		.owl-dot.active {
			background: #FFFFFF !important;
			border: 3px solid #922790;
		}
		.owl-dot:last-of-type {
			margin-right: 0;
		}
	}
	.add__review-block {
		justify-content: center;
		padding-right: 0px;
	}
	.footer__parfum-img {
		top: 160px;
		left: -80px;
		width: 580px;
	}
	.footer__boot-img {
		width: 100%;
	}
	.footer__top-img {
		width: 60%;
	}
	.footer__parfum-back1 {
		top: 160px;
		width: 200px;
		right: -140px;
	}
	.footer__parfum-back2 {
		top: 551px;
		left: -150px;
		width: 200px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1000px) {
	.container {
		width: 800px;
	}
	.nav__link {
		margin-right: 10px;
	}
	.header__content {
		width: 440px;
	}
	.header__title {
		font-size: 34px;
		margin-bottom: 20px;
		min-height: 44px;
	}
	.header__subtitle {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.header__date {
		font-size: 22px;
	}
	.header__parfum {
		width: 450px;
		right: -80px;
	}
	.original__img {
		width: 210px;
	}
	.guaranted__img {
		width: 100px;
	}
	.header__original {
		width: 330px;
		top: 95px;
		right: -30px;
	}
	.order__btn {
		opacity: 1;
		visibility: visible;
	}
	.advantage__card {
		width: 250px;
		padding: 30px 12px 30px;
	}
	.information {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.information__img {
		width: 100%;
		max-width: 470px;
		position: static;
	}
	.information__text {
		text-align: center;
	}
	.information__important-text {
		text-align: center;
	}
	.card {
		flex-direction: column;
		align-items: center;
		padding: 50px;
		justify-content: flex-start;
	}
	.card__left {
		width: 500px;
		height: 500px;
		margin: 0;
		margin-bottom: 22px;
	}
	.card__right {
		width: 100%;
	}
	.card__input {
		width: 190px;
	}
	.card__submit {
		width: 190px;
	}
	.footer__parfum-back1 {
		display: none;
	}
	.footer__parfum-back2 {
		display: none;
	}
	.footer__parfum-img {
		top: 190px;
		left: -70px;
		width: 460px;
	}
	.footer__wrapper {
		padding: 50px 0 50px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 800px) {
	.container {
		width: 700px;
	}
	.header__nav {
		width: 50%;
		height: auto;
		padding: 15px 0;
		.container {
			width: calc(100% - 40px);
			flex-direction: column-reverse;
			align-items: center;
			justify-content: flex-start;
		}
	}
	.nav__links {
		opacity: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}
	.order__btn {
		opacity: 0;
		visibility: hidden;
		height: 0;
	}
	.burger__btn {
		display: block;
		position: absolute;
		top: 8px;
		right: 0;
		width: 37px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		
	}
	.burger__line {
		width: 100%;
		height: 2px;
		background: #FFFFFF;
		border-radius: 10px;
		transition: 0.3s ease;
	}
	.burger__line:before {
		content: "";
		width: 100%;
		height: 2px;
		background: #FFFFFF;
		border-radius: 10px;
		position: absolute;
		top: 0;
		right: 0;
		transition: 0.3s ease;
	}
	.burger__line:after {
		content: "";
		width: 70%;
		height: 2px;
		background: #FFFFFF;
		border-radius: 10px;
		position: absolute;
		bottom: 0;
		right: 0;
		transition: 0.3s ease;
	}
	.header__nav.active {
		width: 100%;
	}
	.header__nav.open {
		width: 50%;
		background-color: #E8348B;
		border-radius: 0px 0px 0px 20px;
		.nav__links {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			height: auto;
			opacity: 1;
			visibility: visible;
			margin-top: 40px;
		}
		.nav__link {
			margin-top: 10px;
		}
		.burger__line {
			transform: rotate(45deg);
		}
		.burger__line:before {
			transform: rotate(90deg);
		}
	}

	.header__nav.open.active {
		width: 100%;
		border-radius: 0px;
		.nav__links {
			align-items: center;
			margin-top: 0;
		}
	}
	// .site__header {
	// 	background-image: url(../img/header-mobile-bg.jpg);
	// }
	.header__wrapper {
		padding: 90px 0 75px;
	}
	.header__content {
		width: 100%;
	}
	.header__original {
		position: static;
	}
	.header__parfum {
		position: static;
		transform: none;
	}
	.advantage__wrapper {
		padding: 47px 0 80px;
	}
	.advantage__info {
		margin-bottom: 45px;
	}
	.advantages {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.advantage__card {
		width: 100%;
		padding: 30px 25px 30px;
		margin-bottom: 30px;
	}
	.advantage__card:last-child {
		margin-bottom: 0;
	}
	.delivery__block {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.stage {
		margin-bottom: 28px;
		max-width: 100%;
	}
	.stage:last-child {
		margin-bottom: 0;
	}
	.information__section {
		padding-bottom: 70px;
	}
	
	.footer__top-img {
		width: 100%;
	}
	.footer__parfum-img {
		width: 460px;
		position: static;
		order: 4;
	}
	.footer__wrapper {
		padding: 53px 0 73px;
		.header__title {
			order: 1;
		}
		.header__subtitle {
			order: 2;
		}
		.footer__original-img {
			order: 3;
		}
		.header__date {
			order: 5;
		}
		.promo {
			order: 6;
		} 
		.header__info {
			order: 7;
		}
	}
	.review__slider {
		width: 700px;
	}
	.review {
		width: 320px;
	}
	.review__img-wrapper {
		width: 100%;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
	.container {
		width: calc(100% - 30px);
	}
	.card__left {
		width: 100%;
		height: 80vw;
		margin: 0;
		margin-bottom: 22px;
	}
	.card__form {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.card__input-wrapper {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
	.card__input {
		width: 100%;
	}
	.card__submit {
		width: 100%;
		margin-top: 10px;
	}
	.price {
		justify-content: center;
	}
	.card__title {
		display: block;
		text-align: center;
		font-size: 28px;
		margin-right: 0;
		margin-bottom: 11px;
	}
	.raiting {
		display: flex;
		justify-content: center;
		margin: auto;
		margin-bottom: 16px;
	}
	.review__slider {
		width: 100%;
	}
	.review {
		width: 100%;
	}
	.review__header {
		justify-content: center;
	}
	.review__name {
		margin-right: 20px;
	}
	.review__img-wrapper {
		width: 300px;
		margin: auto;
		margin-bottom: 19px;
	}
	.review .raiting {
		display: inline-flex;
		margin: 0;
	}
	.review__wrapper {
		padding-top: 30px;
	}
	.review__section-title {
		font-size: 30px;
		margin-bottom: 40px;
	}
	.add__review-block {
		margin-bottom: 47px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 480px) {
	.header__title {
		font-size: 34px;
		margin-bottom: 14px;
	}
	.header__original {
		width: 100%;
	}
	.guaranted__img {
		width: 30vw;
	}
	.original__img {
		width: 57vw;
	}
	.header__subtitle {
		font-size: 24px;
		margin-bottom: 14px;
	}
	.header__parfum {
		width: 100%;
		margin-top: -40px;
	}
	.header__date {
		font-size: 22px;
		margin-top: -10px;
	}
	.promo {
		width: 100%;
	}
	.promo__btn {
		width: 320px;
	}
	.advantage__title {
		font-size: 30px;
	}
	.information__block {
		padding: 50px 30px;
	}
	.information__img {
		margin-bottom: 10px;
	}
	.information__important-text {
		font-size: 24px;
		margin-bottom: 24px;
	}
	.information__title {
		font-size: 30px;
		margin-bottom: 17px;
	}
	.information {
		padding: 0;
	}
	.nav__link {
		margin: 0;
		margin-top: 10px;
	}
	.card__section-title {
		font-size: 30px;
	}
	.card {
		padding: 20px 20px 50px;
		margin-bottom: 50px;
	}
	.card__title {
		font-size: 30px;
	}
	.footer__info {
		justify-content: center;
	}
	.footer__info li {
		width: 50%;
	}
	.footer__info li:first-child {
		width: 100%;
		// text-align: center;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 414px) {
	.site__header {
		background-image: url(../img/header-mobile-bg.jpg);
		background-size: cover;
		position: relative;
	}
	.site__header:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 25vw;
		background-image: url(../img/header-mobile-top.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.site__header:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 30vw;
		background-image: url(../img/header-mobile-bottom.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.order__btn {
		font-size: 14px;
	}
	.header__title {
		min-height: 88px;
	}
	.header__date {
		font-size: 5vw;
	}
	.promo {
		padding: 26px 22px 52px;
	}
	.promo__text {
		font-size: 7vw;
	}
	.promo__price {
		font-size: 12vw;
	}
	.promo__title {
		font-size: 9vw;
	}
	.nav__link {
		font-size: 18px;
	}
	.information__img {
		width: 114%;
	}
	.card__details {
		width: 100%;
	}
	.card__left {
		height: 85vw;
	}
	.modal {
		width: calc(100% - 30px);
		height: auto;
		border-radius: 20px;
		background: #FEF3F1;
	}
	.info__modal-wrapper {
		padding: 0px 0;
	}
	.fancybox-content {
		padding: 50px 20px;
	}
	.review__slider {
		width: 100vw;
		margin-left: -15px;
	}
	.review {
		width: calc(100vw - 60px);
	}
	.review__header {
		justify-content: space-between;
	}
	.review__name {
		margin-right: 0px;
	}
	.review__img-wrapper {
		width: 100%;
		height: 95vw;
	}
	.footer__parfum-img {
		width: 100vw;
	}
	.footer__original-img {
		margin-bottom: 0px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 375px) {
	.promo__btn {
		width: 70vw;
		font-size: 4vw;
	}	
	.order__btn {
		padding: 0px 20px;
		font-size: 12px;
	}
	.nav__link {
		font-size: 16px;
	}
	.information__important-text {
		font-size: 22px;
		margin-bottom: 24px;
	}
	.card__title {
		font-size: 6.5vw;
	}
	.old__price {
		font-size: 5vw;
	}
	.new__price {
		font-size: 7vw;
	}
	.card__info {
		font-size: 5vw;
	}
	.owl-nav {
		width: 80%;
	}
	.footer__info li {
		font-size: 12px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 320px) {
	.order__btn {
		padding: 0px 10px;
   		 font-size: 10px;
	}
	.header__title {
		font-size: 30px;
		min-height: 77px;
	}
	.header__subtitle {
		font-size: 18px;
	}
	.promo__text {
		font-size: 5.5vw;
	}
	.header__info {
		font-size: 14px;
	}
	.nav__link {
		font-size: 15px;
	}
	.advantage__subtitle {
		font-size: 20px;
	}
	.advantage__text {
		font-size: 16px;
	}
	.advantage__info {
		font-size: 16px;
	}
	.information__title {
		font-size: 28px;
		margin-bottom: 17px;
	}
	.information__text {
		font-size: 16px;
	}
	.information__important-text {
		font-size: 18px;
	}
	.card__title {
		font-size: 7vw;
	}
	.card__left {
		height: 78vw;
	}
	.review__slider {
		width: 100vw;
		margin-left: -15px;
	}
	.review {
		width: calc(100vw - 30px);
	}
	.review__name {
		font-size: 18px;
	}
	.privacy-policy__headline {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.privacy-policy__text {
		font-size: 16px;
	}
	.privacy-policy__text:last-of-type {
		margin-bottom: 0;
	}
}

