.site__header {
	width: 100%;
	height: auto;
	background-image: url(../img/header-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header__nav {
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	transition: 0.3s ease;

	.container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__nav.active {
	background-color: #E8348B;

	.order__btn {
		opacity: 1;
		visibility: visible;
		height: 40px;
	}
}

.nav__link {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1;
	color: #FFFFFF;
	margin-right: 50px;
}

.nav__link:hover {
	text-decoration: underline;
}

.nav__link:last-child {
	margin-right: 0;
}

.order__btn {
	width: auto;
	height: 40px;
	padding: 0 29px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #661CAE;
	border-radius: 10px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: 0.3s ease;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
}

.order__btn:hover {
	background: #943bee;
}

.burger__btn {
	display: none;
}

.header__wrapper {
	width: 100%;
	height: auto;
	padding: 137px 0 87px;
	position: relative;
}

.header__original {
	width: 392px;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 20px;
	right: 0;
}

.header__dots {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 30px;
	right: -140px;
}

.header__parfum {
	width: 740px;
	position: absolute;
	right: -140px;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 30px;
}

.header__parfum-back1 {
	position: absolute;
	top: 220px;
	left: -320px;
}

.header__parfum-back2 {
	position: absolute;
	top: 300px;
    right: -350px;
}

.header__content {
	width: 570px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__title {
	width: 100%;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 46px;
	line-height: 1.3;
	text-align: center;
	text-transform: uppercase;
	color: #FFD600;
	margin-bottom: 30px;
	min-height: 59px;
}

.text-js {
	opacity: 0;
}

.header__subtitle {
	width: 100%;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 39px;
}

.header__date {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: #FFD600;
	margin-bottom: 16px;
}

.promo {
	width: 440px;
	height: auto;
	padding: 26px 50px 52px;
	background: #FEEBE7;
	border: 3px solid #EB028D;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-bottom: 35px;
	
}

.promo__title {
	color: #922790;
	margin-bottom: 7px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
}

.promo__subtitle {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	color: #222222;
	margin-bottom: 20px;
}

.promo__text {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	color: #971F67;
	margin-bottom: 17px;
}

.promo__price {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: #922790;
}

.promo__btn {
	width: 340px;
	height: 60px;
	background: #EB028D;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.3s ease;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
}

.promo__btn:hover {
	background: #661CAE;
}

.header__info {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	color: #FFD600;
}
