
/////////////////////////////////////////////////////////////////////
@media (max-width: 1680px) {
	.header__left-img {
		width: 1000px;
	}
	
	.header__right-img {
		width: 650px;
	}
	.header__boot1 {
		width: 680px;
		position: absolute;
		top: -80px;
		left: -170px;
	}
	.header__boot2 {
		width: 500px;
		top: -15px;
		left: 320px;
	}
	.header__decorate-title {
		top: 264px;
		left: -250px;
	}
	.header__content {
		width: 650px;
	}
	.header__title {
		font-size: 55px;
		line-height: 130%;
	}
	.video__section {
		width: 100%;
		height: 750px;
		position: relative;
		z-index: 1;
	}
	.video__tree-block {
		right: -300px;
		width: 800px;
		height: 720px;
	}
	.video__block-img1 {
		bottom: 86px;
		left: 116px;
		width: 340px;
	}
	.video__block-img2 {
		left: 360px;
		bottom: 120px;
		width: 370px;
	}
	.advantage__block-img {
		width: 800px;
	}
	.advantage__left {
		left: -250px;
	}
	.advantage__right {
		right: -318px;
	}
	
	.advantages {
		margin-bottom: 280px;
		margin-top: 100px;
	}
	.advantage {
		width: 100%;
		height: 90px;
		margin-bottom: 20px;
	}
	.advantage__zoom-1 {
		top: 280px;
		left: 308px;
	}
	.advantage__zoom-2 {
		top: 403px;
		left: 530px;
	}
	.advantage__zoom-3 {
		top: 397px;
		left: 363px;
	}
	.advantage__zoom-4 {
		top: 195px;
		left: 515px;
	}
}



/////////////////////////////////////////////////////////////////////
@media (max-width: 1440px) {
	.header__left-img {
		width: 900px;
	}
	.header__right-img {
		width: 500px;
	}
	.sale {
		right: -340px;
	}
	.header__boot1 {
		width: 620px;
		top: -50px;
		left: -65px;
	}
	.header__boot2 {
		width: 460px;
		top: -15px;
		left: 375px;
	}
	.header__decorate-title {
		top: 264px;
		left: -170px;
	}
	.header__content {
		width: 600px;
	}
	.header__title {
		font-size: 50px;
		line-height: 130%;
	}
	.video__tree-block {
		right: -200px;
		width: 700px;
		height: 640px;
	}
	.video__block-img1 {
		bottom: 80px;
		left: 100px;
		width: 310px;
	}
	.video__block-img2 {
		left: 340px;
		bottom: 120px;
		width: 320px;
	}
	.video__info {
		width: 890px;
		height: 180px;
		bottom: 250px;
		right: -380px;
	}
	.video__info-wrapper {
		width: 180px;
		height: 70px;
	}
	.lend__number {
		font-size: 54px;
		line-height: 68px;
	}
	.lend__name {
		font-size: 18px;
		line-height: 17px;
	}
	.slider__blot-1 {
		position: absolute;
		top: -80px;
		right: -50px;
	}
	.slider__blot-2 {
		position: absolute;
		bottom: -110px;
		left: -50px;
	}
	.footer__boot-1 {
		right: -235px;
		width: 500px;
	}
	.footer__boot-2 {
		top: 273px;
		left: -219px;
		width: 480px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	.video__info {
		display: none;
	}
	.video__tree-block {
		right: -140px;
		width: 650px;
		height: 600px;
	}
	.video__block-img1 {
		bottom: 60px;
		left: 20px;
		width: 290px;
	}
	.video__block-img2 {
		left: 250px;
		bottom: 90px;
		width: 300px;
	}
	.video__section {
		width: 100%;
		height: 650px;
		position: relative;
		z-index: 1;
	}
	.video__price {
		width: 100%;
		margin-bottom: 0px;
	}
	.advantage__text {
		font-family: Roboto,sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 150%;
		text-align: center;
		color: #000000;
		width: 320px;
	}
	.advantage__left {
		left: -193px;
		top: -125px;
	}
	.advantage__right {
		right: -281px;
		top: -120px;
	}
	.sprey__branches {
		margin-left: 330px;
		width: 500px;
	}
	.sprey__img {
		margin-left: 332px;
		width: 300px;
	}
	.card {
		width: 1080px;
		// height: auto;
		margin: auto;
		margin-bottom: 80px;
	}
	.card__center {
		width: 500px;
		height: 500px;
		margin-top: -80px;
	}
	.card__branches {
		width: 480px;
	}
	.card__boot1 {
		margin-top: 80px;
		z-index: 1;
		width: 500px;
	}
	.card__boot2 {
		margin-top: -40px;
		margin-left: -60px;
		width: 400px;
	}
	.footer__title {
		font-size: 42px;
	}
	.footer__boot-1 {
		right: -200px;
		width: 470px;
		top: 90px;
	}
	.footer__boot-2 {
		top: 273px;
		left: -175px;
		width: 460px;
	}
}


/////////////////////////////////////////////////////////////////////
@media (max-width: 1080px) {
	.container {
		width: 1000px;
	}
	.header__right-img {
		display: none;
	}
	.header__left-img {
		width: 1000px;
	}
	.header__boot1 {
		width: 560px;
		top: 5px;
		left: 20px;
	}
	.header__boot2 {
		width: 430px;
		top: 10px;
		left: 415px;
	}
	.header__content {
		width: 500px;
	}
	.header__price {
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.price {
		width: 280px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.header__title {
		font-size: 40px;
		line-height: 130%;
	}
	.header__decorate-title {
		width: 520px;
    	height: 90px;
		top: 212px;
    	left: -60px;
	}
	.header__decorate-title p {
		font-size: 70px;
		line-height: 90px;
	}
	.sale {
		width: 200px;
		height: 115px;
		top: 152px;
		right: -38px;
	}
	.sale__wrapper {
		width: 170px;
		height: 92px;
		margin-left: 20px;
		justify-content: center;
	}
	.sale__sum {
		font-family: Roboto, sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 60px;
		line-height: 100%;
		text-align: center;
		color: #BB0000;
	}
	.video__section {
		width: 100%;
		height: auto;
		position: relative;
		z-index: 1;
		margin-top: 60px;
	}
	.video__tree-block {
		position: relative;
		right: auto;
		width: 650px;
		height: 600px;
	}
	.video__wrapper {
		width: 600px;
		height: 100%;
		margin: auto;
	}
	.advantage__section {
		width: 100%;
		height: auto;
		.container {
			width: 100%;
		}
	}
	.advantage__block-img {
		width: 740px;
	}
	.advantage__left {
		left: -170px;
		top: -105px;
	}
	.advantage__right {
		right: -320px;
		top: -93px;
	}
	.advantage__zoom-1 {
		top: 262px;
		left: 293px;
	}
	.advantage__zoom-2 {
		top: 370px;
		left: 480px;
	}
	.advantage__zoom-3 {
		top: 360px;
		left: 338px;
	}
	.advantage__zoom-4 {
		top: 180px;
		left: 469px;
	}
	.sprey {
		width: calc(100% - 30px);
		height: auto;
		margin-bottom: 40px;
	}
	.sprey__left {
		width: 100%;
		height: 100%;
		padding: 0;
	}
	.sprey__title {
		text-align: center;
		margin-bottom: 52px;
		font-weight: bold;
	}
	.sprey__block {
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.sprey__text-block {
		width: 100%;
		height: 100%;
		margin-bottom: 460px;
	}
	.sprey__branches {
		margin-left: 0px;
		width: 500px;
		margin-top: -50px;
	}
	.sprey__img {
		margin-left: 0px;
		width: 300px;
		margin-top: -50px;
	}
	.card {
		width: 800px;
		height: auto;
	}
	.card__top-block {
		margin-top: 420px;
	}
	.card__center {
		width: 400px;
		height: 400px;
		margin-top: 20px;
		top: 0;
		transform: translateX(-50%);
	}
	.card__info {
		width: 270px;
		height: auto;
		margin-right: 30px;
	}
	.card__sale-info {
		text-align: center;
	}
	.card__form {
		width: 100%;
		height: auto;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin-top: 40px;
	}
	.card__form-left {
		width: 100%;
		height: 100%;
		margin-bottom: 30px;
	}
	.footer__title {
		font-size: 44px;
		margin-top: 60px;
		margin-bottom: 400px;
		margin-right: 0px;
		width: 100%;
	}
	.site__footer:before {
		content: "";
		width: 1400px;
		height: 694px;
		margin-left: -150px;
		bottom: -45px;
	}
	.footer__wrapper .header__price {
		width: 600px;
		margin-bottom: 175px;
		margin-right: 0px;
	}
	.footer__boot-1 {
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		width: 400px;
		top: 160px;
		margin-left: 120px;
	}
	.footer__boot-2 {
		top: 190px;
		left: 50%;
		width: 400px;
		transform: translateX(-50%);
		margin-left: -30px;
		z-index: -1;
	}
}



/////////////////////////////////////////////////////////////////////
@media (max-width: 1000px) {
	.container {
		width: 900px;
	}
	.header__content {
		width: 100%;
		margin-top: 580px;
	}
	.header__left-img {
		width: 900px;
	}
	.header__boot1 {
		width: 500px;
		top: 10px;
		left: 55px;
	}
	.sale {
		width: 270px;
		height: 150px;
		top: 300px;
		right: -45px;
	}
	.header__title {
		width: 500px;
	}
	.advantage__zoom {
		display: none;
	}
	.advantages {
		margin-bottom: 500px;
		margin-top: 100px;
	}
	.advantage__text {
		font-weight: 900;
		font-size: 20px;
		line-height: 120%;
		width: 80%;
	}
	.advantage__block {
		position: absolute;
		top: auto;
		width: 400px;
		height: 400px;
	}
	.advantage__block-img {
		width: 600px;
	}
	.advantage__left {
		left: 50px;
		bottom: -300px;
	}
	.advantage__right {
		right: 170px;
		bottom: -300px;
		z-index: -1;
		.advantage__block-img {
			width: 550px;
		}
	}
	.footer__title {
		font-size: 40px;
	}
}



/////////////////////////////////////////////////////////////////////
@media (max-width: 800px) {
	.container {
		width: 700px;
	}
	.header__content {
		width: 100%;
		margin-top: 580px;
	}
	.header__left-img {
		width: 800px;
	}
	.header__boot1 {
		width: 460px;
		top: 10px;
		left: 10px;
	}
	.header__boot2 {
		width: 400px;
		top: 10px;
		left: 320px;
	}
	.header__decorate-title {
		left: -100px;
	}
	.sale {
		width: 270px;
		height: 150px;
		top: 300px;
		right: -45px;
	}
	.header__title {
		width: 500px;
	}
	.advantages {
		margin-bottom: 360px;
		margin-top: 100px;
	}
	.advantage__left {
		left: 50%;
		transform: translateX(-50%);
		bottom: -300px;
		margin-left: -21vw;
	}
	.advantage__right {
		right: 50%;
		transform: translateX(50%);
		bottom: -300px;
		z-index: -1;
		margin-right: -12vw;
	}
	.advantage__block-img {
		width: 72vw;
	}
	.advantage__right .advantage__block-img {
		width: 62vw;
	}
	.slider__blot-1 {
		display: none;
	}
	.slider__blot-2 {
		display: none;
	}
	.card {
		width: calc(100% - 30px);
	}
	.card__sale {
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
	}
	.card__tree-1 {
		display: none;
	}
	
	.card__tree-2 {
		display: none;
	}
	
	.card__tree-3 {
		display: none;
	}
	.inputs__section {
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.card__input {
		width: 300px;
		height: 56px;
		margin-bottom: 10px;
	}
	.card__select {
		width: 300px;
		height: 56px;
	}
	.review__section {
		width: 430px;
	}
	.review__btns {
		width: 400px;
	}
	.add__review {
		left: 50%;
		transform: translateX(-50%);
		z-index: 100;
	}
	.footer__boot-1 {
		top: 200px;
	}
	.footer__boot-2 {
		top: 220px;
	}
	.footer-dev {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
		padding: 20px 0;
	}
}


/////////////////////////////////////////////////////////////////////
@media (max-width: 680px) {
	.container {
		width: 500px;
	}
	.header__left-img {
		width: 670px;
	}
	.header__boot1 {
		width: 400px;
		top: 10px;
		left: -40px;
	}
	.header__boot2 {
		width: 320px;
		top: 10px;
		left: 245px;
	}
	.sale {
		width: 270px;
		height: 110px;
		top: 230px;
		right: -112px;
	}
	.header__decorate-title {
		display: none;
	}
	.header__content {
		width: 100%;
		margin-top: 456px;
	}
	.video__wrapper {
		width: 100%;
	}
	.video__title {
		font-weight: bold;
		margin-bottom: 20px;
	}
	.video {
		width: 100%;
		height: 42vw;
	}
	.video__price {
		width: 100%;
		margin-bottom: 0px;
		flex-direction: column;
		align-items: center;
	}
	.video__tree-block {
		position: relative;
		right: auto;
		width: 105vw;
		height: 97vw;
	}
	.video__block-img1 {
		bottom: 60px;
		left: 60px;
		width: 40vw;
	}
	.video__block-img2 {
		left: 285px;
		bottom: 90px;
		width: 45vw;
	}
	.advantage {
		width: 100%;
		height: 90px;
		margin-bottom: 0px;
	}
	.advantages {
		margin-bottom: 330px;
		margin-top: 80px;
	}
	.advantage__left {
		bottom: -340px;
		margin-left: -21vw;
	}
	.advantage__right {
		bottom: -342px;
		margin-right: -20vw;
	}
	.card__top-block {
		width: 100%;
		height: auto;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.card__slider-wrapper {
		margin-bottom: 16px;
	}
	.card__sale-info {
		width: 300px;
		text-align: center;
		margin: auto;
		margin-bottom: 20px;
	}
	.card__info {
		height: auto;
		margin-right: 0px;
	}
	.footer__title {
		font-size: 4.5vw;
	}
	.footer__boot-1 {
		top: 170px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 580px) {
	.container {
		width: calc(100% - 30px);
	}
	.header__left-img {
		width: 105vw;
	}
	.header__boot1 {
		width: 70vw;
		top: -50px;
		left: -60px;
	}
	.header__boot2 {
		width: 50vw;
		top: 10px;
		left: 42vw;
	}
	.sale {
		width: 140px;
		height: 80px;
		top: 200px;
		right: -15px;
	}
	.sale__wrapper {
		width: 100%;
		height: 100%;
		margin-left: 0px;
	}
	.sale__sum {
		font-size: 32px;
	}
	.sale__text {
		font-size: 11px;
	}
	.header__title {
		width: 100%;
	}
	.header__content {
		width: 100%;
		margin-top: 75vw;
	}
	.video {
		width: 100%;
		height: 54vw;
	}
	.video__block-img2 {
		left: 42vw;
		bottom: 90px;
		width: 45vw;
	}
	.slider {
		width: 414px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 480px) {
	.header__boot1 {
		width: 70vw;
		top: -40px;
    	left: -40px;
	}
	.header__title {
		font-size: 32px;
	}
	.sale {
		top: 38vw;
	}
	.advantage__text {
		font-size: 18px;
		line-height: 120%;
		width: 90%;
	}
	.advantage__block {
		position: absolute;
		top: auto;
		width: 100px;
		height: 100px;
	}
	.advantage__left {
		bottom: -60px;
		margin-left: -54vw;
	}
	.advantage__right {
		bottom: -63px;
		margin-right: 0vw;
	}
	.advantages {
		margin-bottom: 300px;
	}
	.advantage__block-img {
		width: 100vw;
	}
	.advantage__right .advantage__block-img {
		width: 77vw;
	}
	.site__footer:before {
		content: "";
		width: 480px;
		height: 900px;
		margin-left: 0px;
		bottom: 0px;
		background-image: url("../img/footer-mobile.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center bottom;
	}
	.footer__wrapper {
		width: 100%;
	}
	.footer__boot-1 {
		top: 160px;
		width: 360px;
		margin-left: 60px;
		z-index: 2;
	}
	.footer__boot-2 {
		top: 150px;
		z-index: 1;
		width: 330px;
	}
	.footer__title {
		font-size: 6.5vw;
	}
	.footer__wrapper .header__price {
		width: 100%;
		align-items: flex-start;
	}
	.footer__bottom-block {
		height: 80px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 414px) {
	.video {
		width: 92vw;
		height: 52vw;
	}
	.video__block-img1 {
		bottom: 7vw;
		left: 9vw;
		width: 40vw;
	}
	.video__block-img2 {
		left: 42vw;
		bottom: 14vw;
		width: 45vw;
	}
	.video__tree-block {
		position: relative;
		right: auto;
		width: 113vw;
		height: 104vw;
	}
	.video__block-img1 {
		bottom: 7vw;
		left: 9vw;
		width: 44vw;
	}
	.video__block-img2 {
		left: 44vw;
		bottom: 14vw;
		width: 49vw;
	}
	.slider__section {
		width: 100%;
		height: 475px;
		position: relative;
		margin-bottom: 35px;
	}
	.slider {
		width: 354px;
		height: 475px;
	}
	.slide {
		width: 314px;
		height: 470px;
	}
	.slider__btns {
		bottom: 30px;
		width: 315px;
		height: 50px;
	}
	.slider__btn {
		width: 84px;
		height: 42px;
	}
	.sprey {
		margin-top: 100px;
	}
	.sprey__title {
		text-align: left;
		margin-bottom: 30px;
		font-size: 32px;
	}
	.sprey__text-block {
		margin-bottom: 92vw;
	}
	.sprey__text {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		opacity: 0.8;
		margin-bottom: 20px;
	}
	.sprey__branches {
		width: 100vw;
		margin-top: -10px;
	}
	.sprey__img {
		width: 58vw;
		margin-top: -10px;
	}
	.card__sale {
		top: 30px;
		font-weight: 900;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		color: #FFF739;
		text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
	}
	.card__center {
		margin-top: 0px;
	}
	.card__branches {
		width: 380px;
	}
	.card__boot1 {
		margin-top: 50px;
		z-index: 1;
		width: 420px;
	}
	.card__boot2 {
		margin-top: -40px;
		margin-left: -30px;
		width: 320px;
	}
	.card__top-block {
		margin-top: 350px;
	}
	.review__section {
		width: 100%;
		margin-top: 60px;
		.slick-list {
			height: 325px;
		}
	}
	.review__slide {
		width: calc(100% - 30px);
	}
	.review__btns {
		width: calc(100% - 30px);
	}
	.review__text {
		font-size: 14px;
		font-weight: normal;
	}
	.site__footer:before {
		width: 414px;
		height: 850px;
	}
	.footer__boot-1 {
		width: 370px;
	}
	.footer__boot-2 {
		width: 340px;
		margin-left: -60px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 383px) {
	.header__title {
		font-size: 8vw;
		margin-bottom: 4vw;
	}
	.video__title {
		font-weight: bold;
		margin-bottom: 20px;
	}
	.video__title {
		font-size: 8vw;
		line-height: 141%;
	}
	.review__text {
		font-size: 14px;
	}
	.site__footer:before {
		margin-left: 18px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 360px) {
	.advantages {
		margin-bottom: 260px;
	}
	.card {
		padding: 40px 10px;
		margin-bottom: 40px;
	}
	.card__branches {
		width: 95vw;
	}
	.card__boot1 {
		margin-top: 12vw;
		width: 105vw;
	}
	.card__boot2 {
		margin-top: -11vw;
		margin-left: -9vw;
		width: 82vw;
	}
	.card__top-block {
		margin-top: 100vw;
	}
	.card__sale-info {
		width: 270px;
	}
	.card__input {
		width: 270px;
	}
	.card__select {
		width: 270px;
	}
	.card__form-right {
		width: 270px;
	}
	.card__form-right .header__order-btn {
		width: 270px;
	}
	.card__slider {
		width: 200px;
		height: 300px;
		margin: auto;
	}
	.card__slide {
		width: 200px;
		height: 300px;
	}
	.card__slider-wrapper {
		width: 270px;
		height: 338px;
		position: relative;
	}
	.new__1 {
		left: -95px;
	}
	.new__2 {
		top: 166px;
		right: -95px;
	}

}

/////////////////////////////////////////////////////////////////////
@media (max-width: 320px) {
	.sale {
		right: -30px;
	}
	.advantages {
		margin-bottom: 230px;
	}
	.slider__section {
		width: 100%;
		height: 435px;
		position: relative;
		margin-bottom: 35px;
	}
	.slider {
		width: 320px;
		height: 435px;
	}
	.slide {
		width: 280px;
		height: 430px;
	}
	.slider__btns {
		bottom: 10px;
		width: 280px;
		height: 50px;
	}
	.sprey__text-block {
		margin-bottom: 86vw;
	}
	.sprey__branches {
		width: 100vw;
		margin-top: 0px;
	}
	.sprey__img {
		width: 58vw;
		margin-top: 0px;
	}
	.review__text {
		font-size: 13px;
	}
	.site__footer:before {
		width: 380px;
		height: 850px;
		margin-left: 32px;
	}
	.footer__boot-1 {
		width: 300px;
	}
	.footer__boot-2 {
		width: 280px;
		margin-left: -60px;
	}
	.footer__title {
		font-size: 7vw;
		margin-bottom: 340px;
	}
	.footer__wrapper .header__price {
		margin-bottom: 150px;
	}
}

