@font-face {
    font-family: Roboto;
    font-weight: normal;
    src: url("../fonts/Roboto-Regular_0.woff");
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url("../fonts/Roboto-Medium_0.woff");
}

@font-face {
    font-family: Roboto;
    font-weight: 900;
    src: url("../fonts/Roboto-Black_0.woff");
}

@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url("../fonts/Roboto-Bold_0.woff");
}

@font-face {
	font-family: Saira Stencil One;
	font-weight: normal;
	src: url("../fonts/SairaStencilOne-Regular.woff2");
}

