.modal {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: 0.3s ease;
}

.modal.active {
	opacity: 1;
	visibility: visible;
	z-index: 10000;
}

.modal__wrapper {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 624px;
	padding: 40px 50px;
	background-color: #266B00;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	overflow: hidden;
}

.modal__bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.modal form {
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	transition: 0.3s ease;
}

.modal form.active {
	opacity: 1;
	visibility: visible;
}

.modal__autor {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.name__input {
	background-color: #fff;
	width: 360px;
	height: 54px;
	box-sizing: border-box;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 0 20px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #101010;
	opacity: 0.8;
}

.name__input::placeholder {
	color: #101010;
}

.input__file {
	display: none;
}

.file {
	width: 90px;
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	cursor: pointer;
	position: relative;
}

.file .file__photo {
	width: 90px;
	height: 90px;
	border-radius: 100%;
	background-color: #fff;
	position: relative;
	img {
		display: none;
		width: 90px;
		height: 90px;
		border-radius: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
	}
}

.label {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 100%;
	background-color: #266B00;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 1000;
	background-image: url("../img/camera.png");
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: center;
}

.modal__area {
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	padding: 20px;
	background: #FFFFFF;
	opacity: 0.8;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #101010;
}

.modal__area::placeholder {
	color: #101010;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}

.send {
	width: 280px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: auto;
	background: linear-gradient(90deg, #680000 0%, #D10101 50%, #680000 100%);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;
}

.send__window {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
}

.send__window.active {
	opacity: 1;
	visibility: visible;
}

.send__massage {
	width: 60%;
	font-weight: normal;
	font-size: 18px;
	line-height: 130%;
	text-align: center;
	color: #fff;
}

.modal__close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 1000;
}

@media (max-width: 880px) {
	.modal__wrapper {
		width: 668px;
		height: 640px;
	}
	.modal__area {
		margin-bottom: 25px;
	}
	.modal__autor {
		justify-content: flex-start;
	}
	.file {
		margin-left: 30px;
	}
	.modal__star-raiting {
		position: absolute;
		left: 50px;
		width: 200px;
		bottom: 115px;
	}
	.privacy-policy__wrapper {
		width: calc(100% - 60px);
	}
}

@media (max-width: 700px) {
	.modal__wrapper {
		width: 320px;
		height: 554px;
		padding: 20px;
		border-radius: 0px;
		padding: 40px 20px 32px;
	}
	.modal form {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
	}
	.name__input {
		width: 100%;
	}
	.send {
		margin-top: 20px;
	}
	.modal__area {
		margin-bottom: 75px;
	}
	.modal__autor {
		height: auto;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 0;
	}
	.file {
		order: 1;
		margin-left: 0px;
	}
	.name__input {
		order: 2;
	}
	.modal__area {
		height: 168px;
		margin: 0;
	}
	.modal__star-raiting {
		order: 3;
		position: relative;
		left: auto;
		width: 100%;
		height: 50px;
		bottom: auto;
		margin-bottom: 40px;
		margin-top: 40px;
		justify-content: flex-start;
	}

	.privacy-policy__wrapper {
		width: calc(100% - 30px);
		height: 500px;
		padding: 50px 30px;
		overflow: auto;
	}
	.privacy-policy__headline {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.privacy-policy__text {
		font-size: 14px;
	}
}
