@font-face {
    font-family: Raleway;
    font-weight: normal;
    src: url("../fonts/Raleway-Regular.woff2") format("woff2"),
		url("../fonts/Raleway-Regular.eot");
}

@font-face {
    font-family: Raleway;
    font-weight: 600;
    src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"),
		url("../fonts/Raleway-SemiBold.eot");
}

@font-face {
    font-family: Raleway;
    font-weight: bold;
    src: url("../fonts/Raleway-Bold.woff2") format("woff2"),
		url("../fonts/Raleway-Bold.eot");
}

@font-face {
    font-family: Raleway;
	font-style: italic;
    font-weight: bold;
    src: url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2"),
		url("../fonts/Raleway-ExtraBoldItalic.eot");
}
