/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	.container {
		width: 1000px;
	}
	.left__container {
		width: 680px;
	}
	.fixed {
		right: calc((100% - 1000px)/2);
	}
	.header__nav-link {
		font-size: 12px;
	}
	.card {
		padding: 8px 25px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1080px) {
	.header__line-left {
		margin-left: 0px;
	}
	.header__nav-logo {
		display: none;
	}
	.social__links {
		display: none;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1000px) {
	.container {
		width: calc( 100% - 30px);
	}
	.right__container {
		display: none;
	}
	.left__container {
		width: 100%;
	}
	.header__tags {
		padding-left: 15px;
	}
	.header__nav-link {
		font-size: 10px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 800px) {
	.site__wrapper {
		padding-top: 65px;
	}
	.header__nav {
		display: none;
	}
	.header__line-left {
		display: none;
	}
	.header__line-right {
		display: none;
	}
	.line__right-mobile {
		display: flex;
		width: 60px;
		justify-content: space-between;
	}
	.header__btn-logo {
		width: 20px;
	}
	.header__logo {
		width: 100px;
	}
	.header__line {
		padding-top: 15px;
		padding-bottom: 5px;
	}
	.divider {
		display: none;
	}
	.header__tags {
		width: 100vw;
		height: 40px;
		background: #F6F7FB;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		margin-left: -15px;
	}
	.header__tag-line {
		color: #168FD6;
		padding-left: 32px;
		position: relative;
	}
	.header__tag-line:before {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0px;
		width: 22px;
		height: 22px;
		border-radius: 100%;
		background-color: #94B3D0;
		background-image: url(../img/house-mobile.png);
		background-repeat: no-repeat;
		background-size: 14px;
		background-position: center;
	}
	.header__date {
		margin-bottom: 20px;
	}
	.site__title {
		margin-bottom: 20px;
	}
	.site__subtitle {
		margin-bottom: 20px;
	}
	.img__article {
		margin-bottom: 20px;
	}
	.comment__bg {
		margin-bottom: 5px;
	}
	.comment {
		margin-bottom: 0px;
		padding-bottom: 20px;
	}
	.card {
		margin-bottom: 20px;
		padding: 8px 30px;
	}
	.blockquote {
		margin-bottom: 20px;
	}
	.paragraf {
		margin-bottom: 20px;
	}
	.list {
		margin-bottom: 20px;
	}
	.paragraf__center {
		margin-bottom: 20px;
	}
	.order__link {
		margin-bottom: 20px;
	}
	.order__block {
		margin-bottom: 20px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
	.site__title {
		font-size: 20px;
	}
	.img__article {
		width: 100vw;
		margin-left: -15px;
	}
	.comment__bg, .comment {
		width: 100vw;
		margin-left: -15px;
		padding: 15px;
	}
	.comment {
		padding-bottom: 20px;
	}
	.review__img {
		width: 100%;
		max-width: 100% !important;
	}
	.card {
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 15px 35px 20px;
		position: relative;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 480px) {
	.card {
		padding-top: 51px;
	}
	.right__card-title {
		position: absolute;
		top: 15px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		padding: 0 45px;
	}
	.card__ingredients {
		width: 160px;
		height: 175px;
		position: relative;
		margin-top: 30px;
	}
	.card__img-wrapper {
		width: 80px;
		height: 80px;
		position: absolute;
	}
	.card__img-wrapper1 {
		top: 0;
		left: 0;
	}
	.card__img-wrapper2 {
		top: 50%;
		transform: translateY(-50%);
		right: 0;
	}
	.card__img-wrapper3 {
		bottom: 0;
		left: 0;
	}
	.card__ingredients-img {
		width: 66px;
		height: 66px;
	}
	.card__main-img {
		width: 200px;
		margin-left: -50px;
	}
	.paragraf__center {
		text-align: center;
		width: 100%;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 414px) {
	.order__link {
		font-size: 24px;
	}
	.order__link-img {
		width: 20px;
		margin-bottom: -2px;
	}
	.card__main-img {
		display: block;
		width: 46vw;
		max-height: 60vw;
		margin-left: -12vw;
	}
	.card__ingredients {
		width: 38vw;
		height: 41vw;
		margin-top: 40px;
	}
	.card__img-wrapper {
		width: 19vw;
		height: 19vw;
	}
	.card__ingredients-img {
		width: 16vw;
		height: 16vw;
	}
	.card__right-form {
		width: 76vw;
	}
	.card__btn {
		width: calc(100% - 18px);
	}
	.card__btn::before {
		width: calc(100% + 18px);
	}
	.order__list {
		padding-left: 0px;
	}
	.footer__wrapper .card__btn {
		width: 296px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 360px) {
	.card__main-img {
		width: 40vw;
		margin-left: -7vw;
	}
	.card__ingredients {
		width: 37vw;
		height: 40vw;
		margin-top: 20px;
	}
	.right__card-title {
		padding: 0 20px;
	}
	.footer__wrapper .card__btn {
		width: calc(100% - 30px);
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 320px) {
	.comment__img {
		width: 60px;
		height: 60px;
	}
	.site__title {
		font-size: 18px;
	}
	.site__subtitle {
		font-size: 16px;
	}
	.comment__text {
		font-size: 16px;
	}
	.paragraf {
		font-size: 16px;
	}
	.order__block-title {
		font-size: 16px;
	}
	.order__list {
		font-size: 16px;
	}
	.card {
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 15px 20px 20px;
		position: relative;
		padding-top: 60px;
	}
	.card__ingredients {
		width: 35vw;
		height: 38vw;
		margin-top: 20px;
	}
	.card__img-wrapper {
		width: 18vw;
		height: 18vw;
	}
	.card__ingredients-img {
		width: 15vw;
		height: 15vw;
	}
	.card__right-quantity {
		font-size: 16px;
	}
	.review-photo {
		margin: 0;
	}
	.review-body {
		width: calc(100% - 50px - 10px);
	}
	.reviews-wrapper {
		width: 100%;
		padding-right: 0px;
	}
	.review {
		margin: 0;
	}
	.review .rating {
		flex-wrap: wrap;
	}
}


