@font-face {
    font-family: Merriweather;
    font-weight: normal;
    src: url("../fonts/MerriweatherSans-Regular.woff2") format("woff2"),
		url("../fonts/MerriweatherSans-Regular.eot");
}

@font-face {
    font-family: Merriweather;
    font-weight: bold;
    src: url("../fonts/MerriweatherSans-Bold.woff2") format("woff2"),
		url("../fonts/MerriweatherSans-Bold.eot");
}

