.header__section {
    width: 100%;
    height: auto;
}

.header__section-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 0;
    position: relative;
}

.header__logo {
    width: 238px;
    height: auto;
}

.header__title {
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 5px rgba(0, 117, 255, 0.5);
    margin-bottom: 15px;

    span {
        color: #F8BE3A;
    }
}

.timer {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    color: #F8BE3A;
    margin-bottom: 108px;
}

.header__hide {
    width: 100%;
    height: auto;
    display: none;
    padding-bottom: 80px;

    .header__logo {
        margin: auto;
        margin-bottom: 5px;
        width: 312px;
    }

    .header__title {
        margin-bottom: 28px;
        text-align: center;
    }

    .order__btn {
        margin: auto;
        width: 410px;
        .border__btn-4 {
            font-size: 36px;
        }
    }
}

.header__img {
    margin: auto;
    margin-bottom: 40px;
}

.header__text {
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    color: #0075FF;
    text-shadow: 0px 0px 5px rgba(80, 161, 255, 0.5);
    margin-bottom: 21px;
}

.decor__img {
    position: absolute;
    width: 167px;
    height: auto;
    transform: scale(0.2);
    opacity: 0.2;
    animation: sale 4s infinite;
}

.decor__img-1 {
    top: 214px;
    right: -50px;
}

.decor__img-2 {
    top: 108px;
    right: -300px;
    animation-delay: 0.5s;
}

.decor__img-3 {
    top: 500px;
    right: 50px;
    animation-delay: 1s;
}

.decor__img-4 {
    top: 600px;
    right: -330px;
    animation-delay: 1.5s;
}

.decor__img-5 {
    bottom: 226px;
    right: -200px;
    animation-delay: 2s;
}

.decor__img-6 {
    bottom: 38px;
    right: 70px;
    animation-delay: 2.5s;
}

.decor__img-7 {
    top: 144px;
    left: -250px;
    animation-delay: 0.5s;
}

.decor__img-8 {
    top: 299px;
    left: 100px;
}

.decor__img-9 {
    top: 511px;
    left: -330px;
    animation-delay: 1s;
}

.decor__img-10 {
    top: 611px;
    left: -50px;
    animation-delay: 1.5s;
}

.decor__img-11 {
    bottom: 30px;
    left: -320px;
    animation-delay: 2s;
}

.decor__img-12 {
    bottom: 30px;
    left: 80px;
    animation-delay: 2.5s;
}

@keyframes sale {
    0% {
        transform: scale(0.2);
        opacity: 0.2;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

