@font-face {
    font-family: "RF Dewi Extended";
    font-weight: normal;
	src: url("../fonts/RFDewiExtended-Regular.woff") format("woff");
}

@font-face {
    font-family: "RF Dewi Extended";
    font-weight: bold;
	src: url("../fonts/RFDewiExtended-Bold.woff") format("woff");
}

@font-face {
    font-family: "RF Dewi Extended";
    font-weight: 300;
	src: url("../fonts/RFDewiExtended-Light.woff") format("woff");
}



