.galary__section {
    width: 100%;
    height: auto;
    position: relative;


    &:before {
        content: "";
        width: 66%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #A1E1FA;
    }
}

.galary__section-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 100px 0 88px;
}

.galary__column {
    height: auto;
}

.galary__column-1, .galary__column-3 {
    width: 435px;
}

.galary__slider-1 {
    width: 100%;
    height: auto;
    margin-bottom: 17px;
}

.galary__slide {
    width: 100%;
    height: auto;
}

.galary__info {
    width: 100%;
    height: auto;
    background: #589DCD;
    padding: 32px 20px 33px;
}

.galary__title {
    font-family: 'Mak';
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.galary__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}

.galary__column-2 {
    width: 340px;
    height: auto;
}

.galary__column-3 {
    position: relative;
}

.galary__decor {
    position: absolute;
    top: -48px;
    right: -90px;
    z-index: 2;
}

.galary__slider-2 {
    margin-bottom: 15px;
}

.galary__btns {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 47px;
    position: relative;
    z-index: 1;
}

.galary__btn {
    width: 50%;
    height: 100%;
    border: 1px solid #fff;
    background-color: #589DCD;
    transition: 0.3s ease;
    background-image: url(../img/tringle.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
        background-color: #3B7197;
        background-image: url(../img/tringle-hover.png);
    }
}

.galary__btn-right {
    transform: rotate(180deg);
}

.galary__btn-left {
}

.video {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../img/video-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &:hover {
        .play {
            transform: scale(1.1);
        }
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
}

.play {
    transition: 0.3s ease;
}