/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	.container {
		width: 1000px;
	}
	.header__left-img {
		top: -225px;
		left: -1180px;
	}
	.header__right-img {
		top: -560px;
		right: -1195px;
	}
	.header__down {
		margin-left: 0px;
	}
	.video__section {
		height: 560px;
	}
	.information__text {
		width: 655px;
	}
	.player__wrapper {
		width: 655px;
	}
	.photo__3 {
		width: 655px;
		height: auto;
	}
	.advert__block {
		width: 660px;
		height: 320px;
	}
	.advert {
		width: 150px;
		height: 150px;
	}
	.information__block {
		width: 655px;
	}
	.info__item-img {
		width: 200px;
		height: 170px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) {
	
}
