/////////////////////////////////////////////////////////////////////
@media (max-width: 1440px) {
	.container {
		width: 1000px;
	}
	.header__content {
		width: 500px;
	}
	.header__title {
		font-size: 58px;
	}
	.header__leaf-3 {
		right: 205px;
	}
	.info__img-1 {
		top: -60px;
	}
	.info__img-3 {
		top: -200px;
		right: -200px;
	}
	.info__block-right {
		width: 430px;
	}
	.info__block-title {
		font-size: 48px;
		margin-bottom: 16px;
	}
	.info__block-text {
		margin-bottom: 25px;
	}
	.info__discont {
		margin-bottom: 40px;
	}
	.info__title span {
		font-size: 50px;
	}
	.info__stage {
		width: 300px;
	}
	.card__right {
		width: 495px;
	}
	.card__title {
		font-size: 38px;
		margin-bottom: 20px;
	}
	.card__table-item:nth-of-type(1),  .card__table-item:nth-of-type(2){
		font-size: 15px;
		padding-right: 240px;
	}
	.card__table {
		margin-bottom: 20px;
	}
	.card__price .old__price, .card__price .new__price {
		font-size: 13px;
	}
	.card__price .new__price span {
		font-size: 28px;
	}
	.card__details {
		width: 230px;
		font-size: 22px;
	}
	.card__order {
		width: 230px;
		font-size: 22px;
	}
	.footer__img-2 {
		top: 785px;
		left: 325px;
		width: 457px;
	}
	.footer__img-3 {
		top: 210px;
		left: 560px;
		width: 457px;
	}
	.footer__img-4 {
		right: -120px;
	}
	.footer__img-5 {
		right: -590px;
	}
	.footer__order-left {
		margin-right: 0px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1080px) {
	.header__right {
		width: 700px;
		height: 675px;
		right: -700px;
		top: 116px;
		padding-left: 118px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 1000px) {
	.container {
		width: 800px;
	}
	.header__nav-block {
		display: none;
	}
	.header__content {
		width: 100%;
	}
	.header__title {
		text-align: center;
		margin-bottom: 0;
	}
	.header__right {
		position: relative;
		width: 100%;
		height: 630px;
		right: auto;
		top: auto;
		padding-left: 250px;
		padding-bottom: 0;
		margin-top: -40px;
	}
	.header__right-img {
		left: 110px;
	}
	.header__leaf-1 {
		top: 160px;
		right: -350px;
		width: 740px;
	}
	.header__leaf-2 {
		top: 127px;
		right: auto;
		left: 40px;
		width: 360px;
	}
	.header__leaf-3 {
		bottom: auto;
		right: auto;
		left: 133px;
		width: 248px;
		top: 590px;
		opacity: 0.3;
	}
	.header__leaf-4 {
		display: none;
	}
	.header__pattern-1 {
		top: -100px;
		right: auto;
		left: 330px;
	}
	.header__pattern-2 {
		top: -200px;
		right: auto;
		left: -360px;
	}
	.info__block {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.info__block-left {
		width: calc(100% - 10px);
		margin-bottom: 70px;
	}
	.info__block-right {
		width: 100%;
	}
	.info__img-2 {
		display: none;
	}
	.info__img-1 {
		top: auto;
		bottom: 60px;
	}
	.info__stages {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.info__stage {
		width: 310px;
		margin-bottom: 40px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.card__img-1, .card__img-2, .card__img-3, .card__img-4, .card__img-5{
		display: none;
	}
	.card {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		background: linear-gradient(180deg, #FFFFFF 0%, #DADACE 50%);
	}
	.card__left {
		margin-left: 0px;
	}
	.card__table-item:nth-of-type(1), .card__table-item:nth-of-type(2) {
		font-size: 16px;
		padding-right: 0;
		line-height: 2;
	}
	.card__table-block {
		width: 100%;
		height: auto;
		position: relative;
		top: auto;
		right: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}
	.card__table-info {
		width: auto;
		min-width: 146px;
		display: flex;
		flex-shrink: 0;
		background: linear-gradient(90deg, #DADACE 0%, #FFFFFF 100%);
		padding-left: 0;
		margin-bottom: 0;

		span {
			margin-left: 5px;
		}
	}
	.card__table-votes {
		width: auto;
	}
	.review__img-1 {
		display: none;
	}
	.card__wrapper {
		padding-bottom: 100px;
	}
	.review__section-title {
		margin-bottom: 50px;
	}
	.footer__order-wrapper {
		flex-direction: column-reverse;
		align-items: center;
	}
	.footer__order-right {
		margin-bottom: 50px;
	}
	.footer__img-1 {
		top: 170px;
		left: -90px;
		width: 500px;
	}
	.footer__img-3 {
		top: 320px;
		left: 560px;
		width: 457px;
	}
	.footer__img-2 {
		display: none;
	}
	.footer__img-4 {
		right: -85px;
	}
	.footer__img-5 {
		right: -560px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 800px) {
	.container {
		width: 700px;
	}
	.header__right {
		width: 100%;
		height: 575px;
		padding-left: 200px;
		margin-top: -40px;
	}
	.header__right-img {
		left: 80px;
	}
	.header__leaf-2 {
		top: 127px;
		left: -10px;
		width: 360px;
	}
	.header__leaf-3 {
		left: 77px;
		width: 248px;
		top: 550px;
	}
	.info__img-1 {
		bottom: 180px;
	}
	.review__imgs-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.review__imgs-wrapper a {
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 700px) {
	.container {
		width: calc(100% - 30px);
	}
	.header__right {
		width: 100%;
		height: 80vw;
		padding-left: 27vw;
		margin-top: -40px;
	}
	.header__right-img {
		left: 12vw;
	}
	.right__img-1 {
		top: 27%;
		right: 14%;
	}
	.right__img-2 {
		top: 9%;
		left: 33%;
	}
	.right__img-3 {
		top: 51%;
		left: 36%;
	}
	.card__section-title {
		font-size: 40px;
		margin-bottom: 10px;
	}
	.card__section-subtitle,  .card__section-subtitle:last-of-type{
		margin-top: 30px;
		margin-bottom: -20px;
	}
	.card {
		margin-top: 60px;
	}
	.card__right {
		width: 100%;
		max-width: 495px;
	}
	.footer__information-wrapper {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.footer__logo-1 {
		margin-bottom: 10px;
	}
	.footer__information-block {
		width: 100%;
	}
	.footer__information-item {
		width: 100%;
	}	
	.footer__information-title {
		text-align: center;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 540px) {
	.header__nav {
		height: 56px;
	}
	.header__nav-wrapper {
		justify-content: center;
		position: relative;
		padding-left: 25px;
	}
	.header__logo {
		position: absolute;
		top: 0;
		left: 0;
	}
	.header__nav-order {
		width: 190px;
		height: 40px;
	}
	.header__content {
		padding-top: 75px;
	}
	.header__title {
		font-size: 9.5vw;
	}
	.header__right {
		width: 120%;
		height: 95vw;
		padding-left: 0;
		margin-top: -40px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}
	.header__discont {
		padding-right: 30px;
	}
	.header__right-img {
		left: 14vw;
	}
	.header__leaf-1 {
		top: 18vw;
		right: -56vw;
		width: 100vw;
	}
	.header__leaf-2 {
		top: 18vw;
		left: -8vw;
		width: 60vw;
	}
	.header__leaf-3 {
		left: 4vw;
		width: 40vw;
		top: 84vw;
	}
	.header__promoblock {
		width: 100%;
		height: 147px;
	}
	.header__timer {
		width: 370px;
		max-width: 100%;
		margin-bottom: 40px;
	}
	.header__pattern-2 {
		top: -35px;
		right: auto;
		left: -125px;
		width: 550px;
	}
	.header__pattern-1 {
		top: -50px;
		right: auto;
		left: 235px;
		width: 550px;
	}
	.promoblock__title {
		font-size: 10vw;
		margin-top: -8vw;
	}
	.promoblock__info {
		font-size: 3.5vw;
	}
	.old__price {
		font-size: 3vw;

		span {
			font-size: 4vw;
		}
	}
	.new__price {
		font-size: 9.5vw;
	}
	.info__img-3 {
		display: none;
	}
	.info__wrapper {
		padding-top: 0px;
	}
	.info__block {
		width: 100vw;
		margin-left: -15px;
		padding: 20px 15px 40px;
		margin-bottom: 100px;
	}
	.info__title span {
		font-size: 7vw;
	}
	.info__img-1 {
		left: 50%;
		bottom: 40px;
		width: 190vw;
		transform: translateX(-50%);
	}
	.card {
		width: 100vw;
		margin-left: -15px;
		padding: 0 15px;
	}
	.card__price {
		padding-right: 0px;
	}
	.card__btns {
		padding-right: 0px;
	}
	.card__left {
		display: block;
		width: calc(100% - 10px);
		margin-right: auto;
		height: 90vw;
		margin-top: 20px;
	}
	.card__details, .card__order {
		width: calc(50% - 2px);
		height: 45px;
		font-size: 16px;
	}
	.card__price .price {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.card__price .new__price span {
		font-size: 36px;
	}
	.card__price .old__price, .card__price .new__price {
		font-size: 14px;
	}
	.review__section-title {
		font-size: 40px;
		margin-bottom: 30px;
	}
	.footer__order-right {
		width: 100%;
	}
	.card__img {
		width: 100%;
		max-width: 510px;
		height: 100%;
		max-height: 510px;
	}
	.footer__order-wrapper {
		padding-top: 40px;
	}
	.footer__img-wrapper {
		width: 126vw;
		position: relative;
		padding-left: 0px;
	}
	.footer__img-wrapper .right__img-1 {
		top: 29%;
		right: 28%;
	}
	.footer__img-wrapper .right__img-2 {
		top: 9%;
		left: 22%;
	}
	.footer__img-wrapper .right__img-3 {
		top: 48%;
		left: 24%;
	}
	.footer__info-title {
		width: 100%;
		margin-top: -20vw;
	}
	.footer__advantages {
		width: 100%;
	}
	.advantage__text {
		width: 33%;
	}
	.footer__img-1 {
		top: 127px;
		left: -147px;
		width: 420px;
	}
	.footer__img-3 {
		top: 278px;
		left: 316px;
		width: 325px;
	}
	.footer__img-4 {
		display: none;
	}
	.footer__img-5 {
		display: none;
	}
	.footer__order-left {
		width: 100%;
	}
	.footer__img-1 {
		top: 23vw;
		left: -27vw;
		width: 100vw;
	}
	.footer__img-3 {
		top: 63vw;
		left: 60vw;
		width: 70vw;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 414px) {
	.header__promoblock {
		width: 100%;
		height: 30vw;
	}
	.header__right {
		width: 120%;
		height: 102vw;
	}
	.header__leaf-3 {
		left: -7vw;
		width: 45vw;
		top: 84vw;
	}
	.header__title {
		position: relative;
		z-index: 1;
	} 
	.right__img-1 {
		top: 27%;
    	right: 15%;
		img {
			width: 70px;
		}
	}
	.right__img-2 {
		top: 9%;
    	left: 34%;
		img {
			width: 50px;
		}
	}
	.right__img-3 {
		top: 48%;
		left: 36%;
		img {
			width: 40px;
		}
	}
	.info__img-1 {
		bottom: 42vw;
	}
	.info__block-left {
		margin-bottom: 15vw;
	}
	.info__block-title {
		font-size: 10vw;
		margin-bottom: 3vw;
	}
	.info__block-text {
		font-size: 4vw;
		margin-bottom: 4vw;
	}
	.info__discont {
		margin-bottom: 8vw;
		font-size: 5vw;
		padding: 4vw 5vw;
	}
	.info__stage {
		width: 100%;
		max-width: 310px;
		margin-bottom: 40px;
	}
	.card__title {
		font-size: 8vw;
		margin-bottom: 20px;
		padding-bottom: 15px;
		border-bottom: 1px solid #BBBBAB;
	}
	.card__table-votes {
		width: auto;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.card__star-raiting {
		margin-right: 0px;
	}
	.card__voites {
		padding-left: 10px;
	}
	.card__price .new__price span {
		font-size: 8vw;
	}
	.card__section-title {
		font-size: 9vw;
	}
	.review__section-title {
		font-size: 9.5vw;
	}
	.footer__info-title {
		font-size: 4.5vw;
		line-height: 1.4;
	}
	.advantage__text {
		font-size: 3.5vw;
	}
	.order__modal-title {
		font-size: 8vw;
	}
	.footer__order-left .order__modal-title {
		margin-bottom: 5vw;
	}
	.footer__order-left .order__modal-text {
		font-size: 4vw;
	}
	.footer__order-right .header__promoblock {
		height: 118px;
		margin: auto;
	}
	.footer__img-wrapper .right__img-1 img {
		width: 70px;
	}
	.footer__img-wrapper .right__img-2 {
		top: 10%;
    	left: 23%;
			img {
			width: 50px;
		}
	}
	.footer__img-wrapper .right__img-3 {
		top: 52%;
    	left: 24%;
		img {
			width: 40px;
		}
	}
	.footer__logo-1 {
		width: 80px;
	}
	.footer__information-title {
		font-size: 8vw;
		margin-bottom: 4vw;
	}
}

/////////////////////////////////////////////////////////////////////
@media (max-width: 320px) {
	.header__nav-wrapper {
		justify-content: flex-end;
	}
	.header__discont {
		width: 250px;
		height: 96px;
		padding-right: 20px;
	}
	.header__discont-percent {
		font-size: 40px;
		margin-right: 5px;
	}
	.header__discont-text {
		font-size: 18px;
	}
	.header__timer-block {
		width: 60px;
		height: 50px;
	}
	.header__info {
		font-size: 11px;
		margin-bottom: 40px;
	}
	.header__right {
		margin-top: -20px;
	}
	.card__table-item, .card__table-item:nth-of-type(1), .card__table-item:nth-of-type(2) {
		font-size: 15px;
		padding-right: 0;
		line-height: 1.6;
	}
	.order__input {
		font-size: 12px;
	}
	.order__checkbox-text {
		font-size: 12px;
	}
}

