@font-face {
    font-family: "Exo 2";
    font-weight: normal;
	font-style: italic;
    src: url("../fonts/Exo2-Italic.woff2");
}

// @font-face {
//     font-family: Roboto;
//     font-weight: 500;
//     src: url("../fonts/Roboto-Medium.woff2");
// }

// @font-face {
//     font-family: Roboto;
//     font-weight: 900;
//     src: url("../fonts/Roboto-Black.woff2");
// }

@font-face {
    font-family: "Exo 2";
	font-style: italic;
    font-weight: bold;
    src: url("../fonts/Exo2-BoldItalic.woff2");
}

// @font-face {
// 	font-family: 'Saira Stencil One';
// 	font-weight: normal;
// 	src: url("../fonts/SairaStencilOne-Regular.eot");
// 	src: url("../fonts/SairaStencilOne-Regular.eot?#iefix") format("embedded-opentype"),  
//         url("../fonts/SairaStencilOne-Regular.woff2") format("woff2");;
// }

